  <div class="content-meta-post">
    <a class="content-category-blogg">
      {{ if eq .Section "tjanster" }}Tjänster{{ else if eq .Section "om-safespring" }}Om Safespring{{ else if eq .Section "referenser" }}Kundreferenser{{ else if .Params.section }}{{ .Params.section }}{{ else }}{{ .Section }}{{ end }}
    </a>
  </div>
  <br>
  <h1 class="post-heading-firstpage {{ if eq .Params.darkmode `off` }}light-backround{{ end }}">
    {{ .Title }}
  </h1>
  <div class="content-summary-blogg {{ if eq .Params.darkmode `off` }}light-backround{{ end }}">
    {{ .Params.intro }}</br></br></br>
    {{ if .Params.sidebarlinkurl }}
    <a href="{{ .Params.sidebarlinkurl }}" target="_blank" id="button">{{ .Params.sidebarlinkname }}{{ if .Params.sidebarlinkicon }}&nbsp;&nbsp;&nbsp;<i class="fas {{ .Params.sidebarlinkicon }}"></i> {{ end }}</a>
    {{ end }}
  </div>
  <br>
  <br>
