{{ partial "head.html" . }}
<body>
{{ partialCached "g-tag-manager.html" . }}
<!-- NAVBAR -->
 {{ partialCached "header.html" . }} <!-- HEADING -->
 <div class="heading-sub" style="background: url(/img/blue/safespring_bilder_9.jpg); background-size: cover; background-position: center;">
   <div class="heading-content">
     <div class="content-meta-post">
       <a class="content-category-blogg" href="/{{ .Section }}">
         {{ if eq .Section "tjanster" }}Tjänster{{ else if eq .Section "om-safespring" }}Om Safespring{{ else if eq .Section "referenser" }}Kundreferenser{{ else }}{{ .Section }}{{ end }}
       </a>
     </div>
     <br>
     <h1 class="post-heading-firstpage">
       {{ .Title }}
     </h1>
     <div class="content-summary-blogg">
{{ .Params.intro }}         </div>
   </div>
 </div>

<!-- HEADING -->


<!-- CONTENT -->
<main class="content-chalmers">
<!-- Main  -->
<div class="ch-content">
  <div class="content-body">
    {{ .Content }}
    {{ if .Params.form }}{{ partialCached "form.html" . }}{{ else }}{{ end }}
  </div>
</div>

  <!-- SIDEBAR -->
  {{ partial "side-bar.html" . }}
  </div>
</main>

<!-- FOOTER -->
{{ partialCached "footer.html" . }}
</body>
