<div class="content-container-post" style="background: url({{ if.Params.eventbild }}/img/event/{{ .Params.eventbild }}{{ else }}/img/pageimage/Safespring_event.jpg{{ end }}); background-size: cover;">

  <div class="content-meta-post">{{ .Date.Format "Jan 2, 2006" }}:</div><br>
  <a class="post-heading-post" href="{{ .Permalink }}">{{ .Title }}</a>
  {{ if .Date.Before (now.AddDate 0 0 -1) }}
  <a class="content-category-event" href="{{ .Permalink }}">Detta event har tyvärr redan varit</a>
  {{ else }}
  <a class="content-category-event" href="{{ .Permalink }}">Skaffa biljett här</a>
  {{ end }}
</div>

<!--
<div class="content-container-whitepaper" style="background: url({{ if.Params.eventbild }}/img/event/{{ .Params.eventbild }}{{ else }}/img/pageimage/Safespring_event.jpg{{ end }}); background-size: cover;">
  <a class="content-category-event" href="/{{ .Section }}">{{ .Section }}</a></br>
  <div class="content-meta-whitepaper">{{ .Params.eventdatum }}</div>
  <a class="post-heading-whitepaper" href="{{ .Permalink }}">{{ .Title }}</a>
</div>-->
