<div class="content-meta-post"><a class="content-category-blogg" href="/{{ .Section }}">{{ if .Params.section }}{{ .Params.section }}{{ else }}{{ .Section }}{{ end }}</a> | {{ if .Params.eventdatum }}{{ .Params.eventdatum }}{{ else }}{{ .Date.Format "Jan 2, 2006" }}{{ end }}</div><br>
<h1 class="post-heading-firstpage">{{ .Title }}</h1><br><br>
  {{ if .Params.knapp }}<a class="button" href="{{ .Params.link }}">{{ .Params.knapp }}</a>{{ else }}{{ end }}

<!--
<div class="content-item">
  <a class="content-category-blogg" href="/{{ .Section }}">{{ .Section }}</a></br>
  <a class="post-heading" href="{{ .Permalink }}">{{ .Title }}</a>
  <div class="content-body">{{ if gt (len .Summary) 200 }} {{ slicestr .Summary 0 200 }}... {{ end }}</div>
  <div class="content-meta">{{ .Date.Format "Jan 2, 2006" }}</div>
</div>
-->
