{{ partial "head.html" . }}

<body>

    <!-- Google Tag Manager -->
    {{ partial "g-tag-manager.html" . }}

    <!-- NAVBAR -->
    {{ partial "header.html" . }}

    <!-- HEADING -->
    <div class="heading-sub" style="background: url(/img/pageimage/Safespring_event.jpg) no-repeat, fixed; background-size: cover; background-position: center;">
        <div class="heading-content">
            <h1>Safespring event</h1>
            <p>Safesprings evenemang syftar till att sprida kunskap och intresse för datasäkerhet och cloud computing.</p>
        </div>
    </div>

    <!-- CONTENT -->
    <main class="content-chalmers" style="background:var(--text-color)">
        <!-- Main  -->
        <div class="listpage" style="background: var(--text-color); align-items: baseline;">
            <div class="flexcontainer" style="background: var(--text-color);">
                {{ range where .Data.Pages.ByDate "Section" "!=" "Tack" }} {{ if ge .Date.Unix (now.AddDate 0 0 -1) }}

                    {{ .Render "li4"}}

                {{ end }} {{ end }}
            </div>
            <div class="flexcontainer" style="background: var(--text-color); align-items: baseline;">
              <div class="content-container"><div class="body my-2 p-relative bg-white shadow-1 blue-hover"><iframe src="https://pages.upsales.com/9549u8f47969825f14811bd4cc78ed085ebf4-frame" width="250" height="800" style="border:0; margin:25px 0 0 45px;"></iframe></div></div>

            <!--  {{ range where .Data.Pages.ByDate.Reverse "Section" "event" }}
                {{ if .Date.Before (now.AddDate 0 0 -1) }}
                    {{ .Render "li" }}

                {{ end }}
                {{ end }}
            </div>
        </div> -->

        <!-- SIDEBAR -->
        {{ partial "side-bar.html" . }}
    </main>

    <!-- FOOTER -->
    {{ partial "footer.html" . }}
</body>

</html>
