{{ partial "head.html" . }}

<body>

    <!-- Google Tag Manager -->
    {{ partial "g-tag-manager.html" . }}

    <!-- NAVBAR -->
    {{ partial "header.html" . }}

    <!-- HEADING -->
    <div class="heading-sub" style="background: url(/img/pageimage/Safespring_event.jpg) no-repeat, fixed; background-size: cover; background-position: center;">
        <div class="heading-content">
            <h1>Safespring event</h1>
            <p>Safesprings evenemang syftar till att sprida kunskap och intresse för datasäkerhet och cloud computing.</p>
        </div>
    </div>

    <!-- CONTENT -->
    <main class="content-chalmers">
        <!-- Main  -->
        <div class="listpage" style="background: var(--text-color);">
          <h2 style="text-align:center;">Kommande event</h2></br>
            <div class="flexcontainer" style="background: var(--text-color);">
                {{ range where .Data.Pages.ByDate "Section" "event" }} {{ if ge .Date.Unix (now.AddDate 0 0 -1) }}

                    {{ .Render "li4"}}

                {{ end }} {{ end }}
            </div>
            <h2 style="text-align:center;">Tidigare event</h2></br>
            <div class="flexcontainer" style="background: var(--text-color); align-items: baseline;">
                {{ range where .Data.Pages.ByDate.Reverse "Section" "event" }}
                {{ if .Date.Before (now.AddDate 0 0 -1) }}

                    {{ .Render "li" }}

                {{ end }}
                {{ end }}
            </div>
        </div>

        <!-- SIDEBAR -->
        {{ partial "side-bar.html" . }}
<!--        <div class="ch-sidebar shadow-1">
            <div>
                <img src="/img/safespring_cloud.svg" alt="Safespring Logotyp" />
            </div>
          <div>
            <h2 class="content-heading">{{ if .Params.english }}What is Safespring?{{ else }}Vad gör Safespring?{{ end }}</h2>
            {{ if .Params.english }}<p>Safespring delivers a locally based Cloud built for the apps of tomorrow.</p>{{ else }}<p>Safespring levererar säkra, snabba och flexibla moln- och IT-infrastrukturtjänster baserade på Open Source och öppna standarder. Vi producerar själva samtliga tjänster lokalt vilket gör det enklare för dig att uppfylla lagar och regler, samt känna dig trygg!</p>
            {{ end }}


            <br>
            </div>
            <div>
            {{ if .Params.english }}<a id="text-button" href="/kontakt">CONTACT SAFESPRING</a>{{ else }}<a id="text-button" href="/kontakt">KONTAKTA SAFESPRING</a>{{ end }}
            </br></br>
            {{ if .Params.english }}  <div class="read-more">
              <h2>Read more about (in swedish):</h2>
                <li class="content-body"><a href="/tjanster/safespring-backup">&gt; Backup as a service</a></li>
                <li class="content-body"><a href="/tjanster/safespring-compute">&gt; Compute as a service</a></li>
                <li class="content-body"><a href="/tjanster/safespring-storage">&gt; Storage as a service</a></li>
                <li class="content-body"><a href="/tjanster/hybrid-cloud">&gt; Hybrid Cloud</a></li>
                <li class="content-body"><a href="/tjanster/managed-private-cloud/">&gt; Managed Private Cloud</a></li>
                <li class="content-body"><a href="/tjanster/konsulttjanster">&gt; Consulting</a></li>
                <li class="content-body"><a href="/support">&gt; Support</a></li>
            </div>{{ else }}<div class="read-more">
            <div class="read-more">
              <h2>Läs mer om:</h2>
                <li class="content-body"><a href="/tjanster/safespring-backup">&gt; Safespring Backup</a></li>
                <li class="content-body"><a href="/tjanster/safespring-compute">&gt; Safespring Compute</a></li>
                <li class="content-body"><a href="/tjanster/safespring-storage">&gt; Safespring Storage</a></li>
                <li class="content-body"><a href="/tjanster/hybrid-cloud">&gt; Hybrid Cloud</a></li>
                <li class="content-body"><a href="/tjanster/managed-private-cloud/">&gt; Managed Private Cloud</a></li>
                <li class="content-body"><a href="/tjanster/konsulttjanster">&gt; Konsulttjänster</a></li>
                <li class="content-body"><a href="/support">&gt; Support</a></li>
            </div>{{ end }}
            </div>
          </div>
</div>-->
    </main>

    <!-- FOOTER -->
    {{ partial "footer.html" . }}
</body>

</html>
