{{ partial "head.html" . }}

<body>
  <style>
    .aktuellt {
      background: #f9ffff url("/img/safespring_bilder_3.jpg?crc=133698968") no-repeat center top fixed;
      background-size: cover;
    }
  </style>

  <!-- Google Tag Manager -->
  {{ partial "g-tag-manager.html" . }}

  <!-- NAVBAR -->
  {{ partial "header.html" . }}

  <!-- HEADING -->
  <div class="heading-sub">
    <div class="heading-content">
      <h1>White Papers</h1>
      <p>Med Safespring får du en effektiv modell för leverans
        <br/>av tjänst utan att förlora kontroll över din data.</p>
    </div>
  </div>

  <!-- CONTENT -->
  <main class="content-chalmers">
    <!-- Main  -->
    <div class="ch-content">
      <div class="">
        {{ range .Data.Pages.GroupByDate "2006" }}

          <div class="">
          {{ range .Pages }}
            {{ .Render "li"}}
            {{ end }}
          {{ end }}
        </div>
        </div>
      </div>
    </div>
  </div>

    <!-- SIDEBAR -->
  {{ partial "side-bar.html" . }}

  </main>

  <!-- FOOTER -->
  {{ partial "footer.html" . }}
</body>
</html>
