{{ partial "head.html" . }}


<style>
  .heading-sub {
    background: #417DA5 url("/img/whitepapers/{{.Title}}c.jpg");
    background-size: cover;
    background-attachment:bottom;
  }
</style><!-- Google Tag Manager -->
  <title></title>
</head>
<body>
  {{ partial "g-tag-manager.html" . }} <!-- NAVBAR -->
   {{ partial "header.html" . }} <!-- HEADING -->
  <div class="heading-sub">
    <div class="heading-content">
      <h1>{{ .Title }}</h1>
            <p>{{ .Date.Format "Jan 2, 2006" }}</p>
      <p>Safespring White Paper</p>

    </div>
  </div>

<!-- HEADING -->


<!-- CONTENT -->
<main class="content-chalmers">
  <!-- Main  -->
  <div class="ch-content">
    <div class="content-heading">
      <h2>{{ .Title }}</h2>
    </div>
    <div class="content-body">
     {{ .Content }}
    </div>
  </div>

  <!-- SIDEBAR -->
  <div class="ch-sidebar">
    <div>
      <img src={{ "/img/safespring_cloud.svg" | relURL }} alt="" />
    </div>

    <div>
      <h2 class="content-heading">SAFESPRING WHITE PAPER</h2>
      <p class="content-body">Safespring levererar snabba, flexibla och säkra molntjänster som reducerar time-to-market och möjliggör snabb förnyelse utan tekniska hinder. Safesprings molntjänster produceras säkert och lokalt i samma land som kunden för att bibehålla data-suveränitet.</p>
    </div>

    <a id="find-more" href="/marketing/{{.Title}}.pdf">LADDA NED
      <br/>WHITE PAPER</a>

    <a id="find-more" href="/testa-safespring-compute">TESTA SAFESPRING
      <br/>COMPUTE GRATIS</a>

    <div class="read-more">
      <h2>Läs mer om:</h2>
            <li class="content-body">
        <a href="/safespring-backup">&gt; Backup som tjänst</a>
      </li>
      <li class="content-body">
        <a href="/safespring-storage">&gt; Lagring som tjänst</a>
      </li>
      <li class="content-body">
        <a href="/safespring-compute">&gt; Infrastruktur som tjänst</a>
      </li>
    </div>
  </div>
</main>

<!-- FOOTER -->
{{ partial "footer.html" . }}
