{{ partial "head.html" . }}
<!-- NAVBAR -->
<body>
 {{ partial "header.html" . }}
 <!-- HEADING -->
 <div class="heading-default-single" style="background: url('/img/background/safespring-blue-fade2.svg'); background-size: cover; background-position: center;">
   {{ .Render "li3" }}
 </div>
 <!-- CONTENT -->
 <div class="main-default-single">
  <div class="content-default-single">
    {{ if .Params.videoURL }}
    <div class="webinarvideo">
      <video id="player" class="webinar-videoplayer" poster="{{ .Params.thumbnail }}" controls>
        {{ if eq (path.Ext .Params.videoURL) ".m3u8" }}
          <!-- HLS.js will be used for .m3u8 -->
          {{ else }}
          <source src="{{ .Params.videoURL }}" type="video/mp4">
            {{ end }}
            {{ range .Params.subtitles }}
            <track kind="subtitles" src="{{ .src }}" srclang="{{ .srclang }}" label="{{ .label }}">
              {{ end }}
              Your browser does not support the video tag. 
      </video>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var video = document.getElementById('player');
        var videoSrc = "{{ .Params.videoURL }}";
        var isFullScreen = false;

        // Function to handle fullscreen changes
        function handleFullScreenChange() {
          if (document.fullscreenElement) {
            isFullScreen = true;
            _paq.push(['trackEvent', 'Video', 'FullScreen', 'Enter', video.currentSrc]);
          } else {
            isFullScreen = false;
            _paq.push(['trackEvent', 'Video', 'FullScreen', 'Exit', video.currentSrc]);
          }
        }

        // Add listener for fullscreen changes
        document.addEventListener("fullscreenchange", handleFullScreenChange, false);

        if (Hls.isSupported()) {
          var hls = new Hls();
          hls.loadSource(videoSrc);
          hls.attachMedia(video);

          hls.on(Hls.Events.MANIFEST_PARSED, function() {
            _paq.push(['trackEvent', 'Video', 'Loaded', videoSrc]);
          });

          video.addEventListener('play', function () {
            _paq.push(['trackEvent', 'Video', 'Play', video.currentSrc]);
          });

          video.addEventListener('pause', function () {
            _paq.push(['trackEvent', 'Video', 'Pause', video.currentSrc]);
          });

          video.addEventListener('ended', function () {
            _paq.push(['trackEvent', 'Video', 'Ended', video.currentSrc]);
          });

          video.addEventListener('seeking', function () {
            _paq.push(['trackEvent', 'Video', 'Seeking', video.currentSrc]);
          });

          video.addEventListener('volumechange', function () {
            if(video.muted) {
              _paq.push(['trackEvent', 'Video', 'Muted', video.currentSrc]);
            } else {
              _paq.push(['trackEvent', 'Video', 'VolumeChange', video.currentSrc]);
            }
          });

          hls.on(Hls.Events.ERROR, function (event, data) {
            if (data.fatal) {
              switch(data.type) {
                case Hls.ErrorTypes.NETWORK_ERROR:
                  _paq.push(['trackEvent', 'Video', 'Error', 'Network Error', video.currentSrc]);
                  break;
                case Hls.ErrorTypes.MEDIA_ERROR:
                  _paq.push(['trackEvent', 'Video', 'Error', 'Media Error', video.currentSrc]);
                  break;
                default:
                  _paq.push(['trackEvent', 'Video', 'Error', 'Other Error', video.currentSrc]);
                  break;
              }
            }
          });
        } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
          video.src = videoSrc;

          video.addEventListener('play', function () {
            _paq.push(['trackEvent', 'Video', 'Play', videoSrc]);
          });

          video.addEventListener('pause', function () {
            _paq.push(['trackEvent', 'Video', 'Pause', videoSrc]);
          });

          video.addEventListener('ended', function () {
            _paq.push(['trackEvent', 'Video', 'Ended', videoSrc]);
          });

          video.addEventListener('seeking', function () {
            _paq.push(['trackEvent', 'Video', 'Seeking', videoSrc]);
          });

          video.addEventListener('volumechange', function () {
            if(video.muted) {
              _paq.push(['trackEvent', 'Video', 'Muted', videoSrc]);
            } else {
              _paq.push(['trackEvent', 'Video', 'VolumeChange', videoSrc]);
            }
          });
        }
      });

      function setCurrentTime(time) {
        var player = document.getElementById('player');
        player.currentTime = time;
        player.play();
      }
    </script>
    {{ end }}
{{ .Content }}
{{ if and (isset .Params "episode") (.Params.episode) }}
{{ partial "webinar-serie.html" . }}
{{ end }}
</div>
<div class="sidebar-default-single">
    {{ if .Params.chapters }}
  <button class="mobile-toc"><i class="fa-solid fa-list-ul"></i>          {{ if .Params.chaptersTitle }}{{ .Params.chaptersTitle }}{{ else }}Avsnitt{{ end }}</button>
    <div class="sidebar-container-mobile">
      <div class="sidebar-content-mobile">  
        <h2 class="sidebar-toc">
          {{ if .Params.chaptersTitle }}{{ .Params.chaptersTitle }}{{ else }}Avsnitt{{ end }}
        </h2>
        <div class="balance-text">
        <ul class="mobile-webinar-list">
          {{ range $index, $element := .Params.chapters }}
          <a href="javascript:void(0);" onclick="setCurrentTime({{ $element.time }})">
            <li><span>{{ $element.title }}</span> <span class="timer">{{ $element.timeFormatted }}</span></li>
          </a>
          {{ end }}
        </ul>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  {{ end }}
  {{ if .Params.chapters }}
  <div class="sidebar-container">
    <div class="sidebar-content">
      <h3>{{ if .Params.chaptersTitle }}{{ .Params.chaptersTitle }}{{ else }}Avsnitt{{ end }}</h3>
      <div class="webinarplaylist">
        <ul>
          {{ range $index, $element := .Params.chapters }}
          <a href="javascript:void(0);" onclick="setCurrentTime({{ $element.time }})">
            <li><span>{{ $element.title }}</span> <span class="timer">{{ $element.timeFormatted }}</span></li>
          </a>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  {{ end }}
  {{ if .Params.sidebar }}{{ partial "sidebar-default-single.html" . }}{{ end }}
</div>
</div>
<!-- SIDEBAR -->
{{ partial "webinar-side-bar.html" . }}
</main>
<script type="">
  document.addEventListener('DOMContentLoaded', (event) => {
  var toggleBtn = document.querySelector('.mobile-toc');
  var sidebarContainerMobile = document.querySelector('.sidebar-container-mobile');
  var overlay = document.querySelector('.overlay');
  var body = document.querySelector('body');

  toggleBtn.addEventListener('click', function() {
    sidebarContainerMobile.classList.toggle('expanded');
    overlay.classList.toggle('visible');
    body.classList.toggle('no-scroll');
    toggleBtn.classList.toggle('expanded');

    // Ändra ikon
    var icon = toggleBtn.querySelector('i');
    if (toggleBtn.classList.contains('expanded')) {
      icon.classList.remove('fa-list-ul');
      icon.classList.add('fa-xmark');
    } else {
      icon.classList.remove('fa-xmark');
      icon.classList.add('fa-list-ul');
    }
  });

  // Lägg till event listeners på länkar i innehållsförteckningen
  var tocLinks = sidebarContainerMobile.querySelectorAll('a');
  tocLinks.forEach(function(link) {
    link.addEventListener('click', function() {
      sidebarContainerMobile.classList.remove('expanded');
      overlay.classList.remove('visible');
      body.classList.remove('no-scroll');
      toggleBtn.classList.remove('expanded');

      // Återställ ikon
      var icon = toggleBtn.querySelector('i');
      icon.classList.remove('fa-xmark');
      icon.classList.add('fa-list-ul');
    });
  });

  // Lägg till event listener för att stänga overlay när man klickar på den
  overlay.addEventListener('click', function() {
    sidebarContainerMobile.classList.remove('expanded');
    overlay.classList.remove('visible');
    body.classList.remove('no-scroll');
    toggleBtn.classList.remove('expanded');

    // Återställ ikon
    var icon = toggleBtn.querySelector('i');
    icon.classList.remove('fa-xmark');
    icon.classList.add('fa-list-ul');
  });
});
</script>
<!-- FOOTER -->
{{ partial "footer.html" . }}