{{ partial "head.html" . }}
<!-- NAVBAR -->
<body>
 {{ partial "header.html" . }}

 <!-- HEADING -->
 <div class="heading-default-single" style="background: url(/img/background/safespring-blue-fade2.svg); background-size: cover; background-position: center;">
   {{ .Render "li3" }}
 </div>

 <!-- CONTENT -->
 {{ if .Params.youtube }}
 <div class="main-default-single">
  <div class="webinar-default-single">
    <div class="webinarvideo iframe-aspect-ratio iframe responsive-container">
      <div id="player">
      </div>
    </div>
    <script>var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        videoId: '{{ .Params.youtube }}',
        playerVars: {
          'modestbranding': 1,
          'iv_load_policy': 3
        },
      });
    }
    function setCurrentTime(slideNum) {
      var object = [ {{ .Params.timecodes | safeJS }} ];
      player.seekTo(object[slideNum]);
    }
  </script>
</div>
{{ if .Params.timecodes }}<div class=" webinarplaylist-container shadow-1">
  <h3>{{ if .Params.timecodetitle }}{{ .Params.timecodetitle }}{{ else }}Avsnitt{{ end }}</h3>
  <div class="webinarplaylist">
    <ul>
      {{ if .Params.chapter1 }}<a href="javascript:void(0);" onclick="setCurrentTime(0)"><li><span>{{ .Params.chapter1 }}</span> <span class="timer">{{ .Params.minute1 }}</span></li></a>{{ end }}
      {{ if .Params.chapter2 }}<a href="javascript:void(0);" onclick="setCurrentTime(1)"><li><span>{{ .Params.chapter2 }}</span> <span class="timer">{{ .Params.minute2 }}</span></li></a>{{ end }}
      {{ if .Params.chapter3 }}<a href="javascript:void(0);" onclick="setCurrentTime(2)"><li><span>{{ .Params.chapter3 }}</span> <span class="timer">{{ .Params.minute3 }}</span></li></a>{{ end }}
      {{ if .Params.chapter4 }}<a href="javascript:void(0);" onclick="setCurrentTime(3)"><li><span>{{ .Params.chapter4 }}</span> <span class="timer">{{ .Params.minute4 }}</span></li></a>{{ end }}
      {{ if .Params.chapter5 }}<a href="javascript:void(0);" onclick="setCurrentTime(4)"><li><span>{{ .Params.chapter5 }}</span> <span class="timer">{{ .Params.minute5 }}</span></li></a>{{ end }}
      {{ if .Params.chapter6 }}<a href="javascript:void(0);" onclick="setCurrentTime(5)"><li><span>{{ .Params.chapter6 }}</span> <span class="timer">{{ .Params.minute6 }}</span></li></a>{{ end }}
      {{ if .Params.chapter7 }}<a href="javascript:void(0);" onclick="setCurrentTime(6)"><li><span>{{ .Params.chapter7 }}</span> <span class="timer">{{ .Params.minute7 }}</span></li></a>{{ end }}
      {{ if .Params.chapter8 }}<a href="javascript:void(0);" onclick="setCurrentTime(7)"><li><span>{{ .Params.chapter8 }}</span> <span class="timer">{{ .Params.minute8 }}</span></li></a>{{ end }}
      {{ if .Params.chapter9 }}<a href="javascript:void(0);" onclick="setCurrentTime(8)"><li><span>{{ .Params.chapter9 }}</span> <span class="timer">{{ .Params.minute9 }}</span></li></a>{{ end }}
      {{ if .Params.chapter10 }}<a href="javascript:void(0);" onclick="setCurrentTime(9)"><li><span>{{ .Params.chapter10 }}</span> <span class="timer">{{ .Params.minute10 }}</span></li></a>{{ end }}
      {{ if .Params.chapter11 }}<a href="javascript:void(0);" onclick="setCurrentTime(10)"><li><span>{{ .Params.chapter11 }}</span> <span class="timer">{{ .Params.minute11 }}</span></li></a>{{ end }}
      {{ if .Params.chapter12 }}<a href="javascript:void(0);" onclick="setCurrentTime(11)"><li><span>{{ .Params.chapter12 }}</span> <span class="timer">{{ .Params.minute12 }}</span></li></a>{{ end }}
    </ul>
  </div>
</div>
{{ else }}{{ end }}{{ else }}{{ end }}</div>
<div class="main-default-single">
  <div class="content-default-single">
   {{ .Content }}
 </div>
 <div class="sidebar-default-single">
 {{ if .Params.sidebar }}{{ partial "sidebar-default-single.html" . }}{{ else }}<div class="sidebar-default-single" style="width:350px"></div>{{ end }}
</div>
</div>
<!-- SIDEBAR -->
{{ partial "webinar-side-bar.html" . }}
</main>
<!-- FOOTER -->
{{ partial "footer.html" . }}
</body>
