{{ partial "head.html" . }}

<body>
    {{ partial "g-tag-manager.html" . }}

    <div class="ipad-image-start" style="background: url(/img/ipad/{{ if.Params.background }}{{ .Params.background }}{{ else }}/img/blogg/background/safespring_background_0.jpg{{ end }}); background-size: cover; background-position: center;">
        <img src={{ "/img/1C_Safespring_Logotyp_Vit_RGB.svg" | relURL }}>
    </div>
    <div class="ipad-index">
        <div class="ipad-form-start">
            <div class="flexcontainer-ipad" style="align-items: baseline;">
                {{ range where (where .Pages ".Params.section" "=" "White Paper") ".Params.hide" "!=" true }} {{ .Render "li"}} {{ end }}
            </div>
        </div>
        <div class="ipad-form-start">
            <div class="flexcontainer-ipad" style="align-items: baseline;">
                {{ range where (where .Pages ".Params.section" "=" "Produktark") ".Params.hide" "!=" true }} {{ .Render "li"}} {{ end }}
            </div>
        </div>
        <div class="ipad-form-start">
            <div class="flexcontainer-ipad" style="align-items: baseline;">
                {{ range where (where .Pages ".Params.section" "=" "Utdanning") ".Params.hide" "!=" true }} {{ .Render "li"}} {{ end }}
            </div>
        </div>
    </div>
</body>
