{{ partial "head.html" . }}
<body>
  {{ partial "g-tag-manager.html" . }}
  <div class="ipad-image-tack" style="background: url(/img/ipad/{{ if.Params.background }}{{ .Params.background }}{{ else }}/img/blogg/background/safespring_background_0.jpg{{ end }}); background-size: cover; background-position: center;">
    <img src={{ "/img/1C_Safespring_Logotyp_Vit_RGB.svg" | relURL }}>
    <a href="/ipad-no/" class="ipad-button"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Tillbaka</a>
  </div>
  <div class="ipad-form-tack">
    <p class="ipad-section-tack">{{ .Params.section }}</p>
    <h1>{{ .Title }}</h1>
  </div>
</body>
