:root {
  --main-color: #2d5f88;
  --heading-color: #195f8c;
  --button-color: #e96d30;
  --link-color: #fa690f;
  --alt-color: #333333;
  --text-color: #f9ffff;
  --content-color: #f3f3f3;
  --accent-color: #19f064;
  --hind-font: "Hind", sans-serif;
  --mon-font: "Montserrat", sans-serif;
  --normal-weight: 400;
  --heavy-weight: 600;
  --reg-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  --tran-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

html {
  background: #f9ffff url("/img/safespring-molnlagring.jpg") no-repeat center
    top fixed;
  background-size: cover;
}

body {
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

#button {
  font: var(--heavy-weight) 15px var(--mon-font);
  color: var(--text-color);
  background-color: var(--button-color);
  border-radius: 3px;
  padding: 10px 25px;
  text-align: center;
  margin: 10px 0;
}

#button:hover {
  box-shadow: var(--tran-shadow);
  transition: box-shadow 0.4s ease-in-out;
}
/***/

/* NAVBAR */
.navbar {
  font: var(--heavy-weight) 16px var(--hind-font);
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 65rem) [main-end]
    minmax(1em, 1fr) [full-end];
  grid-template-rows:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 4rem) [main-end]
    minmax(1em, 1fr) [full-end];
  background: var(--main-color);
  padding: 0;
  z-index: 100;
  position: fixed;
  box-shadow: var(--tran-shadow);
  width: 100%;
}

.navbar > * {
  grid-column: main;
  grid-row: main;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo img {
  height: 46px;
  width: auto;
  color: var(--text-color);
  padding: 0;
}

.menu {
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-column-gap: 38px;
  list-style: none;
  padding: 0 0 8px;
}

.menu-item {
  text-align: center;
  padding: 0;
  z-index: 120;
}

.menu-item ul {
  padding: 0;
}

.dropdow {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-column-gap: 10px;
  box-shadow: var(--tran-shadow);
}

.site-navigation li {
  color: var(--text-color);
  margin: 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation li a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.site-navigation li a:hover {
  color: var(--link-color);
  transition: color 0.2s ease-in-out;
}

.site-navigation ul li ul {
  visibility: hidden;
  min-width: 34px;
  position: absolute;
  transition: visibility 0.65s ease-in;
  margin-top: 24px;
  z-index: 100;
}

.site-navigation ul li ul li {
  clear: both;
  padding: 18px 10px;
  width: 100%;
  background: var(--alt-color);
  list-style-type: none;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
  visibility: visible;
}

/* .site-navigation ul li ul li:hover {

} */
/***/

/* HEADING */

/* Index */
.heading-index {
  margin: 0;
  padding: 175px 0 60px;
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 65rem) [main-end]
    minmax(1em, 1fr) [full-end];
  text-align: center;
}

.heading-index > * {
  grid-column: main;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-row-gap: 300px;
}

#slideshow {
  margin: 0;
  position: relative;
}

#slideshow > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hidden {
  display: none;
}

.heading-content h1 {
  font: var(--heavy-weight) 42px var(--hind-font);
  color: var(--text-color);
  margin: 0;
}

.heading-content h1:nth-child(2) {
  margin-top: -20px;
}

.heading-content p {
  font: var(--heavy-weight) 18px var(--mon-font);
  margin: 0;
  color: var(--text-color);
}

.arrows {
  text-align: center;
}

#arrow {
  font-size: 20px;
  color: rgba(249, 255, 255, 0.5);
  text-decoration: none;
}

#arrow:hover {
  color: var(--text-color);
  transition: color 0.4s ease-in-out;
}

.more {
  font: var(--heavy-weight) 15px var(--hind-font);
  margin: 25px;
  padding: 10px 25px;
  border-radius: 3px;
  text-decoration: none;
  background-color: var(--button-color);
  color: var(--text-color);
}

.more:hover {
  box-shadow: var(--tran-shadow);
  transition: box-shadow 0.4s ease-in-out;
}

/* Subpages */
.heading-sub {
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 65rem) [main-end]
    minmax(1em, 1fr) [full-end];
  grid-template-rows:
    [full-start] minmax(12em, 1fr)
    [main-start] minmax(7em, auto) [main-end]
    minmax(3.125em, 0.5fr) [full-end];
  text-align: center;
}

.heading-sub > * {
  grid-column: main;
  grid-row: main;
}
/***/

/* FOOTER */
.footer {
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 65rem) [main-end]
    minmax(1em, 1fr) [full-end];
  grid-template-rows:
    [full-start] minmax(1em, 3.125rem)
    [main-start] minmax(0, 12rem) [main-end]
    minmax(1em, 3.125rem) [full-end];
  width: 100%;
  background-color: var(--main-color);
}

.footer > * {
  grid-column: main;
  grid-row: main;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 40px;
  grid-column-gap: 10%;
}

.footer-container li {
  list-style: none;
}

.footer-container a {
  text-decoration: none;
}

.logo-footer {
  grid-column: 1 / 3;
}

.logo-footer img {
  height: 62px;
  width: auto;
  padding: 0;
}

.contact {
  justify-self: start;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 0.945fr 1fr;
  grid-column-gap: 20px;
}

.nav-footer {
  justify-self: end;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 0.85fr 1fr;
  grid-column-gap: 20px;
}

.address,
.about {
  border-right: 1px solid var(--accent-color);
  width: auto;
}

.address,
.email,
.about,
.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.footer-head {
  font: var(--heavy-weight) 14px var(--hind-font);
  color: var(--link-color);
}

.footer-text {
  font: var(--heavy-weight) 14px var(--mon-font);
  color: var(--text-color);
}

/* PAGE NAVIGATION */
.page-nav .page-prev a {
  font-size: 14px;
  color: var(--alt-color);
  text-align: left;
}

.page-nav .page-next a {
  font-size: 14px;
  color: var(--alt-color);
  text-align: right;
}
/***/

/* CONTENT */
.content-main {
  background-color: var(--text-color);
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 65rem) [main-end]
    minmax(1em, 1fr) [full-end];
  grid-template-rows:
    [full-start] minmax(4em, 1fr)
    [main-start] minmax(30em, auto) [main-end]
    minmax(4em, 1fr) [full-end];
  justify-items: center;
}

.content-main > * {
  grid-column: main;
  grid-row: main;
}

/* .content-main a {
  text-decoration: none;
  color: var(--link-color);
} */

.content-head {
  font: var(--heavy-weight) 24px var(--mon-font);
  color: var(--heading-color);
}

.content-head p {
  margin-top: 0;
}

.content-body {
  font: var(--heavy-weight) 15px var(--mon-font);
  color: var(--alt-color);
  line-height: 23px;
}

.content-body p:last-child {
  margin-bottom: 0;
}

/* CHALMERS */
.content-chalmers {
  background-color: var(--text-color);
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 65rem;
  grid-template-columns: 1.3fr 0.7fr;
}

.content-chalmers a {
  text-decoration: none;
  color: var(--link-color);
}

.ch-content {
  background-color: var(--content-color);
  padding: 65px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 41rem) [main-end]
    minmax(1em, 0.5fr) [full-end];
}

.ch-content > * {
  grid-column: main;
}

.content-heading h2 {
  margin: 0;
  padding: 0 0 10px;
  font: var(--heavy-weight) 18px var(--hind-font);
  color: var(--heading-color);
  text-transform: uppercase;
  line-height: 18px;
}

.ch-content .content-heading:nth-child(n + 2) {
  padding: 55px 0 0;
}

/* Sidebar */
.ch-sidebar {
  align-self: start;
  padding: 65px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 0.5fr)
    [main-start] minmax(0, 300px) [main-end]
    minmax(1em, 1fr) [full-end];
}

.ch-sidebar > * {
  grid-column: main;
}

.ch-sidebar img {
  padding: 0 0 15px;
  width: 95px;
}

#find-more {
  font: var(--heavy-weight) 15px var(--mon-font);
  line-height: 15px;
  color: var(--text-color);
  text-align: center;
  background-color: var(--button-color);
  border-radius: 3px;
  padding: 10px 25px;
  margin: 10px 0;
}

#find-more:hover {
  box-shadow: var(--tran-shadow);
  transition: box-shadow 0.4s ease-in-out;
}

.read-more {
  padding: 15px 0 0;
}

.read-more h2 {
  padding: 0;
  font: var(--heavy-weight) 11px var(--hind-font);
  color: var(--heading-color);
  text-transform: uppercase;
  line-height: 18px;
}

.read-more li {
  font-size: 12px;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  text-decoration: none;
  padding: 0;
}

.read-more a {
  color: var(--alt-color);
}

.read-more a:hover {
  color: var(--link-color);
}
/***/

/* KONTAKT */
.kon-main {
  padding-top: 96px;
}

.kontakt {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-row-gap: 5%;
  grid-column-gap: 5%;
}

.adr,
.cont {
  background-color: var(--main-color);
  color: var(--text-color);
  line-height: 18px;
  padding: 15px;
  height: auto;
}

.adr h3,
.cont h3 {
  font: var(--heavy-weight) 18px var(--hind-font);
}

.adr p,
.cont a {
  font: var(--heavy-weight) 14px var(--mon-font);
  color: var(--text-color);
}

.cont a:hover {
  color: var(--link-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.form-name,
.form-email,
.form-message {
  outline: none;
  border: none;
  resize: none;
  border: 2px solid var(--alt-color);
  margin: 0 0 15px;
  font: var(--heavy-weight) 18px var(--hind-font);
  line-height: 15px;
  color: var(--alt-color);
  background-color: var(--text-color);
}

.form-name,
.form-email {
  padding: 10px 20px;
}

.form-message {
  padding: 10px 20px;
  flex-grow: 2;
}

.skicka {
  font: var(--heavy-weight) 15px var(--mon-font);
  line-height: 15px;
  color: var(--text-color);
  text-align: center;
  outline: none;
  border: none;
  background-color: var(--button-color);
  border-radius: 3px;
  padding: 5px 15px;
  margin: 0;
}

.skicka:hover {
  box-shadow: var(--tran-shadow);
  transition: box-shadow 0.4s ease-in-out;
}
/***/

/* KUNDREFERENSER */
.kun-top img {
  max-width: 680px;
  object-fit: contain;
}

.kun-bottom img {
  max-width: 680px;
}

.kun-side img {
  max-width: 340px;
}

.kun-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-gap: 20px;
}

.kun-container .content-heading {
  padding-top: 25px;
}

.kun-main {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 60% 40%;
  grid-gap: 20px;
}

.kun-top,
.kun-bottom,
.kun-side {
  background-color: var(--content-color);
}

.kun-top,
.kun-bottom {
  padding-bottom: 30px;
}

.kun-top span,
.kun-side span {
  color: var(--heading-color);
}

.kun-top a {
  font: var(--heavy-weight) 15px var(--mon-font);
  line-height: 15px;
  color: var(--text-color);
  text-align: center;
  outline: none;
  border: none;
  background-color: var(--button-color);
  border-radius: 3px;
  padding: 5px 15px;
  margin: 0;
  float: right;
}

.kun-top a:hover {
  box-shadow: var(--tran-shadow);
  transition: box-shadow 0.4s ease-in-out;
}

.kun-side {
  align-self: stretch;
}

.kun-top div,
.kun-bottom div,
.kun-side div {
  padding: 0 20px;
}
/***/

/* OM OSS */
.content-om {
  background-color: var(--text-color);
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 65rem;
  grid-template-columns: 1.3fr 0.7fr;
}

.content-om a {
  text-decoration: none;
  color: var(--link-color);
}

.om-content {
  padding: 65px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 41rem) [main-end]
    minmax(1em, 0.5fr) [full-end];
}

.om-content > * {
  grid-column: main;
}

.om-sidebar img {
  border: 1px solid var(--alt-color);
  border-radius: 100%;
  width: 85px;
}

#om-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 0;
}

#om-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 10px 0 0;
}

#om-contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}

#om-or {
  color: var(--link-color);
  margin: 0;
  padding: 0 5px;
}

#om-bl {
  color: var(--alt-color);
  margin: 0;
  padding: 0 5px;
}

.om-content .content-heading:nth-child(n + 2) {
  padding: 55px 0 0;
}

/* Sidebar */
.om-sidebar {
  background-color: var(--content-color);
  align-self: stretch;
  align-content: start;
  padding: 65px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 0.5fr)
    [main-start] minmax(0, 320px) [main-end]
    minmax(1em, 1fr) [full-end];
}

.om-sidebar > * {
  grid-column: main;
}
/***/

/* SUPPORT */
.sup-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
  grid-gap: 25px;
}

.sup-compute,
.sup-storage,
.sup-backup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sup-top {
  background-color: var(--content-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 25px 0;
}

.sup-top img {
  width: 95px;
}

.sup-heading {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.sup-bottom {
  background-color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px 25px 0;
  min-height: 220px;
}

.sup-heading h2 {
  font: var(--heavy-weight) 24px var(--hind-font);
  color: var(--main-color);
}

.sup-heading h2:last-child {
  color: var(--link-color);
}

.sup-bottom a {
  font: var(--heavy-weight) 17px var(--hind-font);
  color: var(--text-color);
  text-decoration: none;
}

.sup-bottom a:hover {
  color: var(--link-color);
}
/***/

/* SF BACKUP */
#sb-title {
  color: var(--button-color);
}

.s-main {
  background-color: var(--content-color);
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
}

.s-content {
  background-color: var(--text-color);
  padding: 65px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 41rem) [main-end]
    minmax(1em, 0.5fr) [full-end];
}

.s-content > * {
  grid-column: main;
}

.s-content .content-heading:nth-child(n + 2) {
  padding: 55px 0 0;
}

.content-heading {
  margin: 0;
  padding: 0 0 10px;
  font: var(--heavy-weight) 18px var(--hind-font);
  color: var(--heading-color);
  text-transform: uppercase;
  line-height: 18px;
}

.sb-content-bottom .content-heading {
  padding: 30px 0 20px;
}

.sb-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 15px;
}

.sb-grid div {
  background-color: var(--main-color);
}

.sb-top,
.sb-bottom {
  grid-column: 1 / 3;
  padding: 20px;
}

.sb-middle {
  padding: 20px;
}

.sb-heading {
  font: var(--heavy-weight) 15px var(--hind-font);
  color: var(--text-color);
}

.sb-body {
  font: var(--heavy-weight) 13px var(--hind-font);
  color: var(--text-color);
}
.sb-bottom li {
  color: var(--accent-color);
}

.sb-bottom ul {
  padding-left: 20px;
}

/* Sidebar */
.s-sidebar {
  background-color: var(--content-color);
  align-self: start;
  padding: 65px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 0.5fr)
    [main-start] minmax(0, 320px) [main-end]
    minmax(1em, 1fr) [full-end];
}

.s-sidebar > * {
  grid-column: main;
}

.s-sidebar img {
  padding: 0 0 15px;
  width: 95px;
}
/***/


/* SF STORAGE */
.ss-grid {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 15px;
}

.ss-grid div {
  background-color: var(--main-color);
  padding: 25px;
}

.ss-heading,
.ss-body {
  font: var(--heavy-weight) 15px var(--mon-font);
}

.ss-heading {
  color: var(--accent-color);
  text-transform: uppercase;
}

.ss-body {
  color: var(--text-color);
}

.ss-grid,
.s-middle,
.s-bottom {
  padding-top: 35px;
}

.s-top p:last-child,
.ss-grid p:last-child,
.s-middle p:last-child,
.s-bottom p:last-child {
  margin-bottom: 0;
}

.ss-grid h2 {
  margin-top: 0;
}
/***/


/* TACK */
.tack-content {
  padding: 95px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-row-gap: 35px;
}

.tack-heading h1 {
  font: var(--heavy-weight) 42px var(--hind-font);
  color: var(--alt-color);
  margin: 0;
}

.tack-heading p {
  font: var(--heavy-weight) 20px var(--hind-font);
  color: var(--alt-color);
  margin: 0;
}
/***/


/* TJANSTER */
.tj-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 45px;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 45rem) [main-end]
    minmax(1em, 1fr) [full-end];
}

.tj-content > * {
  grid-column: main;
}

.tj-content > .tj-offers {
  grid-column: full;
}

.tj-offers {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.tj-backup,
.tj-storage,
.tj-compute {
  background-color: var(--content-color);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tj-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.tj-secure ol li{
  color: var(--accent-color);
  font: var(--heavy-weight) 15px var(--mon-font);
}

.tj-secure span {
  padding-left: 10px;
}

.tj-offers img {
  width: 95px;
}

.tj-heading {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.tj-cloud h2,
.tj-secure h2 {
  font-size: 18px;
}

.tj-heading h2 {
  font: var(--heavy-weight) 24px var(--hind-font);
  color: var(--main-color);
  margin: 20px 0 ;
}

.tj-heading h2:last-child {
  color: var(--link-color);
}

.tj-body {
  min-height: 185px;
}

.tj-offers p {
  margin: 0;
}

.tj-button {
  margin: 10px 25px;
  padding-top: 40px;
}
/***/