#u16069 {
    border-width: 0px;
    border-color: transparent;
    background-color: #407DA5;
}

#u15919 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u15976 {
    border-style: solid;
    border-color: #F9650E;
    background-color: #19608C;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    border-width: 0px 0px 1px;
}

.js #u15976.ose_pre_init {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#u15924 {
    background-color: #F9650E;
}

.Format-2 {
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
}

#u20576 {
    border-width: 0px;
    border-color: transparent;
}

#u20576:hover {
    border-style: solid;
    border-color: #F9650E;
    border-width: 0px 0px 2px;
}

#u20578-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    line-height: 19px;
    font-family: '__Hind SemiBold_5';
    font-weight: 600;
}

#u20583 {
    border-style: solid;
    border-color: #333333;
    background-color: #333333;
    border-width: 0px 0px 2px;
}

#u20583:hover {
    border-color: #F9650E;
    background-color: #333333;
}

#u20586-5 {
    background-color: transparent;
    color: #FFFFFF;
    line-height: 17px;
    font-size: 14px;
    font-family: '__Hind SemiBold_5';
    font-weight: 600;
}

#u20586-3 {
    padding-left: 12px;
    padding-top: 12px;
}

#u20592 {
    border-style: solid;
    border-color: #333333;
    background-color: #333333;
    border-width: 0px 0px 2px;
}

#u20592:hover {
    border-color: #F9650E;
    background-color: #333333;
}

#u20594-5 {
    background-color: transparent;
    color: #FFFFFF;
    line-height: 17px;
    font-size: 14px;
    font-family: '__Hind SemiBold_5';
    font-weight: 600;
}

#u20594-3 {
    padding-left: 12px;
    padding-top: 12px;
}

#u20599 {
    border-style: solid;
    border-color: #333333;
    background-color: #333333;
    border-width: 0px 0px 2px;
}

#u20599:hover {
    border-color: #F9650E;
    background-color: #333333;
}

#u20583.MuseMenuActive,
#u20592.MuseMenuActive,
#u20599.MuseMenuActive {
    border-color: #19608C;
    background-color: #19608C;
}

#u20602-5 {
    background-color: transparent;
    color: #FFFFFF;
    line-height: 17px;
    font-size: 14px;
    font-family: '__Hind SemiBold_5';
    font-weight: 600;
}

#u20602-3 {
    padding-left: 12px;
    padding-top: 12px;
}

#u20586-2,
#u20594-2,
#u20602-2 {
    color: #F9650E;
}

#u20576.MuseMenuActive,
#u20613 {
    border-width: 0px;
    border-color: transparent;
}

#u20613:hover {
    border-style: solid;
    border-color: #F9650E;
    border-width: 0px 0px 2px;
}

#u20614-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    line-height: 19px;
    font-family: '__Hind SemiBold_5';
    font-weight: 600;
}

#u20613.MuseMenuActive,
#u20606 {
    border-width: 0px;
    border-color: transparent;
}

#u20606:hover {
    border-style: solid;
    border-color: #F9650E;
    border-width: 0px 0px 2px;
}

#u20609-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    line-height: 19px;
    font-family: '__Hind SemiBold_5';
    font-weight: 600;
}

#u20606.MuseMenuActive,
#u20620 {
    border-width: 0px;
    border-color: transparent;
}

#u20620:hover {
    border-style: solid;
    border-color: #F9650E;
    border-width: 0px 0px 2px;
}

#u20623-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    line-height: 19px;
    font-family: '__Hind SemiBold_5';
    font-weight: 600;
}

#u20620.MuseMenuActive,
#u20571 {
    border-width: 0px;
    border-color: transparent;
}

#u20571:hover {
    border-style: solid;
    border-color: #F9650E;
    border-width: 0px 0px 2px;
}

#u20571.MuseMenuActive {
    border-width: 0px;
    border-color: transparent;
}

#u20574-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    line-height: 19px;
    font-family: '__Hind SemiBold_5';
    font-weight: 600;
}

.MenuItem {
    cursor: pointer;
}

#u29202 {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    background: transparent url("../images/1c_safespring_logotyp_vit_rgb.png?crc=136408079") no-repeat left top;
    background-size: contain;
}

#u15906 {
    background-color: #19608C;
}

#u27153 {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    background: transparent url("../images/1c_safespring_logotyp_vit_rgb.png?crc=136408079") no-repeat center center;
    background-size: contain;
}

.hidpi #u29202,
.hidpi #u27153 {
    background-image: url("../images/1c_safespring_logotyp_vit_rgb_2x.png?crc=3947763373");
}

#u27152,
#u27149 {
    background-color: #17EF5F;
}

#u27154-4,
#u27155-4,
#u27156-4,
#u27157-4 {
    background-color: transparent;
    line-height: 17px;
}

#u20575,
#u20580,
#u20581,
#u20582,
#u20589,
#u20596,
#u20610,
#u20603,
#u20617,
#u20568,
#u27150-6,
#u27151-6,
#u27148-14,
#u27147-14 {
    background-color: transparent;
}