/*

*/

.version.tjanster {
    color: #00000A;
    background-color: #F844C6;
}

#muse_css_mq {
    background-color: #FFFFFF;
}

#page {
    z-index: 1;
    width: 1010px;
    min-height: 569px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    margin-left: auto;
    margin-right: auto;
}

#page_position_content {
    margin-bottom: -266px;
    width: 0.01px;
}

#pu16069 {
    z-index: 2;
    width: 0.01px;
    margin-left: -100px;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#u16069,
#u16069-bw {
    z-index: 2;
    height: 337px;
}

#u27255 {
    z-index: 63;
    min-height: 296px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    padding-bottom: 41px;
    background: transparent url("../images/safespring_bilder_8.jpg?crc=99658493") no-repeat center center;
    background-size: cover;
}

#u13337-6 {
    z-index: 138;
    width: 671px;
    min-height: 50px;
    text-shadow: 3px 3px 16px rgba(0, 0, 0, 0.09);
    box-shadow: none;
    background-color: transparent;
    text-align: center;
    position: relative;
    margin-right: -10000px;
    margin-top: 246px;
    left: 270px;
}

#u27255-bw {
    z-index: 63;
    min-height: 296px;
}

#u13336-6 {
    z-index: 132;
    width: 930px;
    min-height: 84px;
    text-shadow: 3px 3px 16px rgba(0, 0, 0, 0.09);
    box-shadow: none;
    position: relative;
    margin-right: -10000px;
    margin-top: 139px;
    left: 140px;
}

.mast_hd {
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
}

#pu15919 {
    z-index: 64;
    width: 0.01px;
    padding-bottom: 206px;
    margin-left: -100px;
    margin-top: -337px;
}

#u15919 {
    z-index: 64;
    width: 65px;
    min-height: 65px;
    position: fixed;
    top: 141px;
    left: 50%;
    margin-left: -394px;
}

#u15976 {
    z-index: 151;
    height: 91px;
    position: fixed;
    top: 0px;
}

#u15976-bw {
    z-index: 151;
}

#u15924 {
    z-index: 152;
    width: 1010px;
    height: 1px;
    position: fixed;
    top: 91px;
    left: 50%;
    margin-left: -505px;
}

#menuu20567 {
    z-index: 153;
    width: 581px;
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -76px;
}

#u20575 {
    width: 176px;
    min-height: 41px;
    position: relative;
    margin-right: -10000px;
}

#u20576 {
    width: 144px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 22px;
    position: relative;
}

#u20576:hover {
    width: 144px;
    min-height: 0px;
    margin: 0px 0px -1px;
}

#u20576.MuseMenuActive {
    width: 144px;
    min-height: 0px;
    margin: 0px;
}

#u20578-4 {
    width: 144px;
    min-height: 19px;
    position: relative;
}

#u20576:hover #u20578-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 144px;
    margin: 0px;
}

#u20576.MuseMenuActive #u20578-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 144px;
    margin: 0px;
}

#u20580 {
    width: 200px;
    top: 41px;
}

#u20583 {
    width: 154px;
    position: relative;
    margin-right: -10000px;
    padding: 2px 44px 26px 2px;
}

#u20583:hover {
    width: 154px;
    min-height: 0px;
    margin: 0px -10000px 0px 0px;
}

#u20583.MuseMenuActive {
    width: 154px;
    min-height: 0px;
    margin: 0px -10000px 0px 0px;
}

#u20586-5 {
    width: 150px;
    min-height: 17px;
    padding-left: 2px;
    padding-top: 4px;
    padding-right: 2px;
    position: relative;
}

#u20583:hover #u20586-5 {
    padding-top: 4px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 150px;
    margin: 0px;
}

#u20583.MuseMenuActive #u20586-5 {
    padding-top: 4px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 150px;
    margin: 0px;
}

#u20592 {
    width: 162px;
    position: relative;
    margin-right: -10000px;
    padding: 2px 36px 26px 2px;
}

#u20592:hover {
    width: 162px;
    min-height: 0px;
    margin: 0px -10000px 0px 0px;
}

#u20592.MuseMenuActive {
    width: 162px;
    min-height: 0px;
    margin: 0px -10000px 0px 0px;
}

#u20594-5 {
    width: 158px;
    min-height: 17px;
    padding-left: 2px;
    padding-top: 4px;
    padding-right: 2px;
    position: relative;
}

#u20592:hover #u20594-5 {
    padding-top: 4px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 158px;
    margin: 0px;
}

#u20592.MuseMenuActive #u20594-5 {
    padding-top: 4px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 158px;
    margin: 0px;
}

#u20581,
#u20582,
#u20589,
#u20596 {
    width: 200px;
    position: relative;
}

#u20599 {
    width: 165px;
    position: relative;
    margin-right: -10000px;
    padding: 2px 33px 26px 2px;
}

#u20599:hover {
    width: 165px;
    min-height: 0px;
    margin: 0px -10000px 0px 0px;
}

#u20599.MuseMenuActive {
    width: 165px;
    min-height: 0px;
    margin: 0px -10000px 0px 0px;
}

#u20602-5 {
    width: 161px;
    min-height: 17px;
    padding-left: 2px;
    padding-top: 4px;
    padding-right: 2px;
    position: relative;
}

#u20599:hover #u20602-5 {
    padding-top: 4px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 161px;
    margin: 0px;
}

#u20599.MuseMenuActive #u20602-5 {
    padding-top: 4px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 161px;
    margin: 0px;
}

#u20610 {
    width: 65px;
    min-height: 41px;
    position: relative;
    margin-right: -10000px;
    left: 178px;
}

#u20613 {
    width: 33px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 22px;
    position: relative;
}

#u20613:hover {
    width: 33px;
    min-height: 0px;
    margin: 0px 0px -1px;
}

#u20613.MuseMenuActive {
    width: 33px;
    min-height: 0px;
    margin: 0px;
}

#u20614-4 {
    width: 33px;
    min-height: 19px;
    position: relative;
}

#u20613:hover #u20614-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 33px;
    margin: 0px;
}

#u20613.MuseMenuActive #u20614-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 33px;
    margin: 0px;
}

#u20603 {
    width: 124px;
    min-height: 41px;
    position: relative;
    margin-right: -10000px;
    left: 245px;
}

#u20606 {
    width: 92px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 22px;
    position: relative;
}

#u20606:hover {
    width: 92px;
    min-height: 0px;
    margin: 0px 0px -1px;
}

#u20606.MuseMenuActive {
    width: 92px;
    min-height: 0px;
    margin: 0px;
}

#u20609-4 {
    width: 92px;
    min-height: 19px;
    position: relative;
}

#u20606:hover #u20609-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 92px;
    margin: 0px;
}

#u20606.MuseMenuActive #u20609-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 92px;
    margin: 0px;
}

#u20617 {
    width: 107px;
    min-height: 41px;
    position: relative;
    margin-right: -10000px;
    left: 371px;
}

#u20620 {
    width: 75px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 22px;
    position: relative;
}

#u20620:hover {
    width: 75px;
    min-height: 0px;
    margin: 0px 0px -1px;
}

#u20620.MuseMenuActive {
    width: 75px;
    min-height: 0px;
    margin: 0px;
}

#u20623-4 {
    width: 75px;
    min-height: 19px;
    position: relative;
}

#u20620:hover #u20623-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 75px;
    margin: 0px;
}

#u20620.MuseMenuActive #u20623-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 75px;
    margin: 0px;
}

#u20568 {
    width: 101px;
    min-height: 41px;
    position: relative;
    margin-right: -10000px;
    left: 480px;
}

#u20571 {
    width: 69px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 22px;
    position: relative;
}

#u20571:hover {
    width: 69px;
    min-height: 0px;
    margin: 0px 0px -1px;
}

#u20571.MuseMenuActive {
    width: 69px;
    min-height: 0px;
    margin: 0px;
}

#u20574-4 {
    width: 69px;
    min-height: 19px;
    position: relative;
}

#u20571:hover #u20574-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 69px;
    margin: 0px;
}

#u20571.MuseMenuActive #u20574-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 69px;
    margin: 0px;
}

#u29202 {
    z-index: 207;
    width: 276px;
    height: 46px;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: -465px;
}

#u10403-28 {
    z-index: 68;
    width: 610px;
    min-height: 522px;
    background-color: transparent;
    margin-left: 200px;
    margin-top: 101px;
    position: relative;
}

#u10403-3 {
    font-weight: 700;
}

#u10403-26 {
    counter-reset: list0;
}

#u10403-26>li:before {
    counter-increment: list0;
    content: counter(list0, decimal-leading-zero) '.';
    color: #17EF5F;
}

#u10403-26 .list1 {
    counter-reset: list1;
}

#u10403-26 .list1>li:before {
    counter-increment: list1;
    content: counter(list1, lower-alpha) '.';
}

#u10403-26 .list2 {
    counter-reset: list2;
}

#u10403-26 .list2>li:before {
    counter-increment: list2;
    content: counter(list2, lower-roman) '.';
}

#u10403-26 .list3 {
    counter-reset: list3;
}

#u10403-26 .list3>li:before {
    counter-increment: list3;
    content: counter(list3, decimal) '.';
}

#u10403-26 .list4 {
    counter-reset: list4;
}

#u10403-26 .list4>li:before {
    counter-increment: list4;
    content: counter(list4, lower-alpha) '.';
}

#u10403-26 .list5 {
    counter-reset: list5;
}

#u10403-26 .list5>li:before {
    counter-increment: list5;
    content: counter(list5, lower-roman) '.';
}

#u10403-26 .list6 {
    counter-reset: list6;
}

#u10403-26 .list6>li:before {
    counter-increment: list6;
    content: counter(list6, decimal) '.';
}

#u10403-26 .list7 {
    counter-reset: list7;
}

#u10403-26 .list7>li:before {
    counter-increment: list7;
    content: counter(list7, lower-alpha) '.';
}

#u10403-26 .list8 {
    counter-reset: list8;
}

#u10403-26 .list8>li:before {
    counter-increment: list8;
    content: counter(list8, lower-roman) '.';
}

#safespring-molntjanster {
    margin-left: 490px;
    margin-top: 10px;
    position: relative;
}

#pu26624 {
    z-index: 67;
    width: 0.01px;
    margin-left: 40px;
    margin-top: 62px;
}

#u26624 {
    z-index: 67;
    width: 250px;
    background-color: #F3F3F3;
    border-radius: 2px;
    position: relative;
    margin-right: -10000px;
    padding: 61px 22px 56.55000000000041px 18px;
}

#u26631 {
    z-index: 144;
    width: 135px;
    background-color: transparent;
    margin-left: 58px;
    position: relative;
}

#u29148 {
    z-index: 145;
    display: block;
}

#u11363-8 {
    z-index: 108;
    width: 250px;
    min-height: 183px;
    background-color: transparent;
    margin-top: 33px;
    position: relative;
}

#u11351-4 {
    z-index: 96;
    width: 191px;
    min-height: 33px;
    background-color: #F9650E;
    border-radius: 1000px;
    margin-left: 29px;
    margin-top: 36px;
    position: relative;
}

#u26638 {
    z-index: 66;
    width: 263px;
    background-color: #F3F3F3;
    border-radius: 2px;
    position: relative;
    margin-right: -10000px;
    left: 320px;
    padding: 61px 13px 56.45000000000118px 14px;
}

#u26659 {
    z-index: 148;
    width: 135px;
    background-color: transparent;
    margin-left: 63px;
    position: relative;
}

#u26655 {
    z-index: 149;
    display: block;
}

#u11366-8 {
    z-index: 116;
    width: 263px;
    background-color: transparent;
    margin-top: 33px;
    position: relative;
}

#u11354-4 {
    z-index: 100;
    width: 191px;
    min-height: 33px;
    background-color: #F9650E;
    border-radius: 1000px;
    margin-left: 34px;
    margin-top: 59px;
    position: relative;
}

#u26641 {
    z-index: 65;
    width: 250px;
    background-color: #F3F3F3;
    border-radius: 2px;
    position: relative;
    margin-right: -10000px;
    left: 640px;
    padding: 61px 20px 56px;
}

#u26648 {
    z-index: 146;
    width: 135px;
    background-color: transparent;
    margin-left: 57px;
    position: relative;
}

#u26644 {
    z-index: 147;
    display: block;
}

#u11369-8 {
    z-index: 124;
    width: 250px;
    background-color: transparent;
    margin-top: 33px;
    position: relative;
}

#u11363-4,
#u11366-4,
#u11369-4 {
    text-align: center;
}

#u11363-2,
#u11366-2,
#u11369-2 {
    color: #F9650E;
}

#u11357-4 {
    z-index: 104;
    width: 191px;
    min-height: 33px;
    background-color: #F9650E;
    border-radius: 1000px;
    margin-left: 29px;
    margin-top: 60px;
    position: relative;
}

#u11351-2,
#u11354-2,
#u11357-2 {
    padding-top: 12px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1960px);
}

#u15906 {
    z-index: 3;
    min-height: 240px;
    padding-bottom: 28px;
}

#u27255_align_to_page,
#u15906_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1010px;
    left: -100px;
}

#pu27153 {
    z-index: 46;
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 48px;
    margin-left: 155px;
}

#u27153 {
    z-index: 46;
    width: 260px;
    height: 62px;
    margin-left: 1px;
    position: relative;
}

#ppu27154-4 {
    z-index: 0;
    width: 0.01px;
    margin-top: 41px;
}

#pu27154-4 {
    z-index: 47;
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 5px;
}

#u27154-4 {
    z-index: 47;
    width: 91px;
    position: relative;
}

#u27150-6 {
    z-index: 33;
    width: 117px;
    min-height: 41px;
    margin-top: 7px;
    position: relative;
}

#u27152 {
    z-index: 45;
    width: 1px;
    height: 70px;
    position: relative;
    margin-right: -10000px;
    left: 130px;
}

#pu27155-4 {
    z-index: 51;
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 5px;
    margin-left: 150px;
}

#u27155-4 {
    z-index: 51;
    width: 197px;
    position: relative;
}

#u27151-6 {
    z-index: 39;
    width: 197px;
    min-height: 41px;
    margin-top: 7px;
    position: relative;
}

#pu27156-4 {
    z-index: 55;
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 156px;
    margin-left: 814px;
}

#u27156-4 {
    z-index: 55;
    width: 108px;
    position: relative;
}

#u27148-14 {
    z-index: 18;
    width: 108px;
    min-height: 53px;
    margin-top: 7px;
    position: relative;
}

#u27149 {
    z-index: 32;
    width: 1px;
    height: 87px;
    position: relative;
    margin-right: -10000px;
    margin-top: 151px;
    left: 934px;
}

#pu27157-4 {
    z-index: 59;
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 156px;
    margin-left: 953px;
}

#u27157-4 {
    z-index: 59;
    width: 175px;
    position: relative;
}

#u27147-14 {
    z-index: 4;
    width: 175px;
    min-height: 60px;
    margin-top: 7px;
    position: relative;
}

#u15906-bw {
    z-index: 3;
    min-height: 240px;
    margin-top: 57px;
}

.html {
    background-color: #F9FFFF;
}

body {
    position: relative;
    min-width: 1010px;
    padding-bottom: 267px;
}

@font-face {
    font-family: '__Hind SemiBold_5';
    src: url('../fonts/hind-600.eot');
    src: local('☺'), url('../fonts/hind-600.woff') format('woff'), url('../fonts/hind-600.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: '__Montserrat_5';
    src: url('../fonts/montserrat-700.eot');
    src: local('☺'), url('../fonts/montserrat-700.woff') format('woff'), url('../fonts/montserrat-700.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: '__Montserrat_5';
    src: url('../fonts/montserrat-regular.eot');
    src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff'), url('../fonts/montserrat-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}