{{ partial "head.html" . }}

<body>

  <!-- NAVBAR -->
  {{ partialCached "header.html" . }}
  <!-- HEADING -->
  <div class="white-blue-fade">
    <div class="heading-index">
      <div class="headline-and-badge">
        <h1 class="post-heading-firstpage">{{ .Title }}</h1>
        <object class="badge lazyload" data="/img/safespring-gdpr-compliant-badge.svg"></object>
        <p class="content-summary-index">{{ .Params.intro }}</p>
      </div>
      <!--<a id="button" href="/demo/" style="margin:0 20px 20px 0;">Boka demo</a><a id="text-button" href="/tjanster/">Om plattformen</a>-->
    </div>
    <div class="background-bright">
      <div class="flexcontainer-three">
        {{ range (where $.Site.RegularPages "Section" "tjanster").ByParam "cardorder" }}
        {{ if isset .Params "cardorder" }}
        {{ .Render "li"}}
        {{ else }}{{ end }}
        {{ end }}
      </div>
      <img class="lazyload" data-src="/img/safespring-portal3.svg" class="index-image"></img>
    </div>
    <div class="two-field-background">
      <div class="two-field-container-1">
        <h2>Är du van att arbeta i en amerikansk molntjänst?</h2>
        <div class="ingress" id="down">
          <p>Du kommer direkt känna dig hemma i Safespring. Starta virtuella servrar med ett knapptryck, eller lagra storskalig data genom S3 och så mycket mer.</p>
          <a href="/tjanter/safespring-compute/" class="button">Safespring compute</a>
        </div>
      </div>
      <div class="two-field-container-image">
        <img class="lazyload" data-src="/img/graphics/safespring-list.svg" class="index-image"></img>
      </div>
      <div class="two-field-container">
        <h2>Safesprings datacenter ligger i Norden</h2>
        <div class="ingress" id="down">
          <p>Våra datacenter matchar högt ställda krav på driftsäkerhet och tillgänglighet. Datacentren drivs till 100 procent av el från förnyelsebara energikällor.</p>
          <a href="/datacenter" class="button">Om våra datacenter</a>
        </div>
      </div>
    </div>
    <div class="flexcontainer">
      {{ range first 3 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
       <div class="content-container">
      {{ .Render "li-latest"}}
    </div>
      {{ end }}
    </div>
  </div>
<!-- FOOTER -->
{{ partialCached "footer.html" . }}
</body>
