apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: web-hugo
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  strategy:
    type: RollingUpdate
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: ghcr.io/safespring/web:latest
          ports:
            - containerPort: 8081
              name: sv
            - containerPort: 8082
              name: en
            - containerPort: 8083
              name: nb
            - containerPort: 8084
              name: da
          readinessProbe:
            httpGet:
              path: /
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
