{{ $image := "/img/background/safespring-blue-fade2.svg" }}
{{ if .Params.background }}{{ $image = printf "/img/background/%s" .Params.background }}{{ end }}
{{ if .Params.sidebarimage }}{{ $image = printf "/img/card/%s" .Params.sidebarimage }}{{ end }}

<div
  class="safespring-horisontal-card-container bg-white shadow-1 safespring-horisontal-card-row my-2"
>
  <div class="safespring-horisontal-card-col safespring-horisontal-card-image">
    <img
      src="{{ $image }}"
      {{ partial "image-dimensions.html" $image | safeHTMLAttr }}
      alt="{{ .Params.title }}"
    />
  </div>
  <div
    class="safespring-horisontal-card-col safespring-horisontal-card-content"
  >
    <p
      style="
        margin: 25px 0 0 0;
        font-weight: 599;
        font-size: 13px;
        text-transform: uppercase;
        color: var(--middle-blue-color);
      "
    >
      {{ .Params.service }}
    </p>
    <h3>{{ .Title }}</h3>
    <p>{{ .Params.intro }}</p>
    <br /><br />
    <a class="button" href="{{ .RelPermalink }}">{{ T "general.read_more" }}</a>
  </div>
</div>
