{{- $href := .RelPermalink -}}
{{- with .Params.redirecturl -}}
  {{- $href = . -}}
{{- end -}}
<a href="{{ $href }}">
  <div class="flex-item shadow-1 service-card" style="--card-color: {{ .Params.cardcolor }}">
    <div class="cardtitle">
      <div class="cardicon" style="background-color: {{ .Params.cardcolor }}10">
        {{ with .Params.cardicon }}
          {{ partial "fa-icon.html" (dict "class" (printf "%s icon" .) "style" (printf "color: %s !important" $.Params.cardcolor) "page" $) }}
        {{ end }}
      </div>
      <h2 style="color: {{ .Params.cardcolor }}">
        {{ if .Params.cardtitle }}
          {{ .Params.cardtitle }}
        {{ else }}
          {{ .Title }}
        {{ end }}
      </h2>
    </div>
    <p class="mb-0">
      {{ if .Params.cardintro }}
        {{ .Params.cardintro }}
      {{ else }}
        {{ .Params.intro }}
      {{ end }}
    </p>
  </div>
</a>
