<a href="{{ .RelPermalink }}">
  {{ $section := .Section }}
  <div
    class="fill-available-space img-250 pointer
    {{ if eq $section "webinar" }}
      blue-hover-webinar flex-center
    {{ else if eq $section "solution-brief" }}
      blue-hover-whitepaper flex-center
    {{ else if eq $section "tech-update" }}
      bg-blue-white-fade blue-hover-tech tech-card-flex
    {{ else if eq $section "whitepaper" }}
      blue-hover-whitepaper flex-center
    {{ else if eq $section "blog" }}
      blue-hover-blogg flex-center
    {{ else }}
      blue-hover-blogg flex-center
    {{ end }}"
  >
    {{ if eq $section "blog" }}
      <img
        class="lazyload"
        loading="lazy"
        src="{{ if.Params.card }}
          /img/blogg/cards/{{ .Params.card }}
        {{ else }}
          /img/blogg/cards/safespring_card_0.webp
        {{ end }}"
        alt="{{ .Title }}"
      />
      <div class="blogg-card-tagg-container">
        <img
          class="blogg-card-flag"
          loading="lazy"
          alt="Safespring language flag"
          src="/img/flags/{{ .Language }}.svg"
        />
        <span
          class="blogg-card-section mb-0 font-weight-medium text-uppercase text-muted lts-1px"
          >{{ T "knowledgehub.blog" }}</span
        >
      </div>
      <div class="blogg-card-wapper">
        <!--<span class="blogg-card-date mb-1 font-weight-thin text-uppercase text-light-black">{{ .Date.Format "2006-01-02" }}</span>-->
        <h1
          class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1"
        >
          {{ .Title }}
        </h1>
        <span class="text-button">{{ T "knowledgehub.read_post" }}</span>
      </div>
    {{ else if eq $section "tech-update" }}
      <img
        class="lazyload tech-card-image"
        loading="lazy"
        src="/img/blogg/cards/safespring-tech-update.svg"
        alt="{{ .Title }}"
      />
      <div class="tech-update-card-content">
        <div class="blogg-card-tagg-container-tech">
          <img
            class="blogg-card-flag"
            alt="Safespring language flag"
            src="/img/flags/{{ .Language }}.svg"
          />
          <span
            class="blogg-card-section-tech mb-0 font-weight-medium text-uppercase text-muted lts-1px"
            >{{ T "knowledgehub.tech_update" }}</span
          >
        </div>
        <div>
          <h1
            class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1"
          >
            {{ .Title }}
          </h1>
          <p class="mb-1">{{ .Params.intro }}</p>
        </div>
        <div>
          <span class="text-button">{{ T "knowledgehub.read_article" }}</span>
        </div>
      </div>
    {{ else if eq $section "webinar" }}
      <img
        class="lazyload"
        loading="lazy"
        src="{{ .Params.card }}"
        alt="{{ .Title }}"
      />
      <div class="blogg-card-tagg-container-webinar">
        <img
          class="blogg-card-flag"
          alt="Safespring language flag"
          src="/img/flags/{{ .Language }}.svg"
        />
        <span
          class="blogg-card-section-webinar mb-0 font-weight-medium text-uppercase text-muted lts-1px"
          >{{ T "knowledgehub.webcast" }}</span
        >
        <!--<span class="blogg-card-date mb-1 font-weight-thin text-uppercase text-light-black">{{ .Date.Format "2006-01-02" }}</span>-->
      </div>
      <div class="blogg-card-wapper">
        <h1
          class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1"
        >
          {{ .Title }}
        </h1>
        <div class="webinar-card-link">Play</div>
      </div>
    {{ else if eq $section "solution-brief" }}
      <img
        class="lazyload"
        loading="lazy"
        src="/img/card/{{ .Params.card }}"
        alt="{{ .Title }}"
      />
      <div class="blogg-card-tagg-container-solution-brief">
        <img
          class="blogg-card-flag"
          loading="lazy"
          alt="Safespring language flag"
          src="/img/flags/{{ .Language }}.svg"
        />
        <span
          class="blogg-card-section-solution-brief mb-0 font-weight-medium text-uppercase lts-1px"
          >{{ T "knowledgehub.solution_brief" }}</span
        >
      </div>
      <div class="blogg-card-wapper">
        <h1
          class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1"
        >
          {{ .Title }}
        </h1>
        <span class="text-button">{{ T "knowledgehub.learn_more" }}</span>
      </div>
    {{ else if eq $section "whitepaper" }}
      <div class="padding-15">
        <div>
          <span
            class="blogg-card-section-whitepaper mb-0 font-weight-medium text-uppercase text-muted lts-1px"
            >{{ T "knowledgehub.whitepaper" }}</span
          >
          <h1
            class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1"
          >
            {{ .Title }}
          </h1>
          <p class="mb-1">{{ .Params.intro }}</p>
        </div>
        <div>
          <span class="text-button">{{ T "knowledgehub.learn_more" }}</span>
        </div>
      </div>
    {{ else }}
      <div class="padding-15">
        <div>
          <span
            class="blogg-card-section-whitepaper mb-0 font-weight-medium text-uppercase text-muted lts-1px"
            >{{ .Params.section }}</span
          >
          <h1
            class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1"
          >
            {{ .Title }}
          </h1>
          <p class="mb-1">{{ .Params.intro }}</p>
        </div>
        <div>
          <span class="text-button">{{ T "knowledgehub.learn_more" }}</span>
        </div>
      </div>
    {{ end }}
  </div>
</a>
