<a href="{{ .RelPermalink }}">
  <div class="fill-available-space {{ if eq $.Params.section "blogg" }}blue-hover-blogg{{ else }}{{ if eq .Section "webinar" }}blue-hover-webinar{{ else }}{{ if eq .Section "solution-brief" }}blue-hover-whitepaper{{ else }}{{ if eq $.Params.section "Tech update" }}bg-blue-white-fade blue-hover-tech tech-card-flex{{ end }}{{ end }}{{ end }}{{ end }}">
    {{ if eq $.Params.section "blogg" }}
    <img class="lazyload" data-src="{{ if.Params.eventbild }}/img/blogg/cards/{{ .Params.card }}{{ else }}/img/blogg/cards/safespring_card_0.webp{{ end }}" alt="{{ .Title }}">
    <div class="padding-15">
      <span class="blogg-card-section mb-0 font-weight-medium text-uppercase text-muted lts-1px">Blog</span>
      <span class="blogg-card-date mb-1 font-weight-thin text-uppercase text-light-black">{{ .Date.Format "2006-01-02" }}</span>
      <h1 class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1">{{ .Title }}</h1>
      <span id="text-button">{{ if (eq .Params.language "En") }}Learn more{{ else if (eq .Params.language "No") }}Les mer{{ else }}Läs mer{{ end }}</span>
    </div>

    {{ else }}{{ if eq $.Params.section "Tech update" }}
    <img class="lazyload tech-card-image" data-src="/img/blogg/cards/safespring-tech-update.svg" alt="{{ .Title }}">
    <div class="tech-update-card-content">
    <div>
      <span class="blogg-card-section-tech mb-0 font-weight-medium text-uppercase text-muted lts-1px">Tech update</span>
      <span class="blogg-card-date mb-1 font-weight-thin text-uppercase text-light-black">{{ .Date.Format "2006-01-02" }}</span>
      <h1 class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1">{{ .Title }}</h1>
      <p class="mb-1">{{ .Params.intro }}</p>
    </div>
    <div>
      <span id="text-button">{{ if (eq .Params.language "En") }}Learn more{{ else if (eq .Params.language "No") }}Les mer{{ else }}Läs mer{{ end }}</span>
    </div>
    </div>
    {{ else }}{{ if eq .Section "webinar" }}
    <div style="background-image:url(/img/event/cards/{{ .Params.card }});" class="image-container">
      <!--<div class="image-container-blur"></div>
       <img style="position: absolute; width: 350px;" class="lazyload" data-src="/img/event/cards/{{ .Params.card }}" alt="{{ .Title }}">-->
      </div>
    <div class="padding-15">
      <span class="blogg-card-section-webinar mb-0 font-weight-medium text-uppercase text-muted lts-1px">Webcast</span>
      <span class="blogg-card-date mb-1 font-weight-thin text-uppercase text-light-black">{{ .Date.Format "2006-01-02" }}</span>
      <h1 class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1">{{ .Title }}</h1>
      <div class="webinar-card-link">{{ if (eq .Params.language "En") }}Watch now{{ else if (eq .Params.language "No") }}Se direkte{{ else }}Se direkt{{ end }}</div>
    </div>

    {{ else }}{{ if eq .Section "solution-brief" }}
    <div style="background-image:url(/img/card/{{ .Params.card }});" class="image-container-center">
      </div>
    <div class="padding-15">
      <span class="blogg-card-section-whitepaper mb-0 font-weight-medium text-uppercase text-muted lts-1px">Solution Brief</span>
      <h1 class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1">{{ .Title }}</h1>
      <span id="text-button">{{ if (eq .Params.language "En") }}Learn more{{ else if (eq .Params.language "No") }}Les mer{{ else }}Läs mer{{ end }}</span>
    </div>

    {{ else }}{{ if eq .Section "whitepaper" }}
    <div class="padding-15">
    <div>
      <span class="blogg-card-section-whitepaper mb-0 font-weight-medium text-uppercase text-muted lts-1px">White Paper</span>
      <h1 class="blogg-card-title ff-serif font-weight-light text-black mt-1 mb-1">{{ .Title }}</h1>
      <p class="mb-1">{{ .Params.intro }}</p>
    </div>
    <div>
      <span id="text-button">{{ if (eq .Params.language "En") }}Learn more{{ else if (eq .Params.language "No") }}Les mer{{ else }}Läs mer{{ end }}</span>
    </div>
    </div>

    {{ end }}{{ end }}{{ end }}{{ end }}{{ end }}
  </div>
</a>
