{{ $label := .Params.megamenutitle | default (.Params.cardtitle | default .Title) }}
<a
  href="{{ .RelPermalink }}"
  class="matomo-track"
  data-matomo-label="{{ $label }}"
  data-matomo-location="mega-menu-primary"
>
  <div class="megamenu-main-service-card">
    <div class="cardtitle">
      <div class="cardicon" style="background-color: {{ .Params.cardcolor }}10">
        {{ with .Params.cardicon }}
          {{ partial "fa-icon.html" (dict "class" (printf "%s icon" .) "style" (printf "color: %s !important" $.Params.cardcolor) "page" $) }}
        {{ end }}
      </div>
      <span
        class="megamenu-main-service-card-title"
        style="color: {{ .Params.cardcolor }}"
      >
        {{ $label }}
      </span>
    </div>
    <p class="mb-0">
      {{ if .Params.cardintro }}
        {{ .Params.cardintro }}
      {{ else }}
        {{ .Params.intro }}
      {{ end }}
    </p>
  </div>
</a>
