{{ $label := .Params.megamenutitle | default (.Params.cardtitle | default .Title) }}
<a
  href="{{ .RelPermalink }}"
  class="matomo-track"
  data-matomo-label="{{ $label }}"
  data-matomo-location="mega-menu-primary"
>
  <div class="megamenu-main-service-card">
    <div class="cardtitle">
      <div class="cardicon" style="background-color: {{ .Params.cardcolor }}10">
        <i
          class="{{ .Params.cardicon }} icon"
          style="color: {{ .Params.cardcolor }} !important"
        ></i>
      </div>
      <span
        class="megamenu-main-service-card-title"
        style="color: {{ .Params.cardcolor }}"
      >
        {{ $label }}
      </span>
    </div>
    <p class="mb-0">
      {{ if .Params.cardintro }}
        {{ .Params.cardintro }}
      {{ else }}
        {{ .Params.intro }}
      {{ end }}
    </p>
  </div>
</a>
