  <div class="content-meta-post">
    {{ if .Params.toplogo }}<img src="/img/logos/{{ .Params.toplogo }}" alt="Logotyp" class="toplogo">{{ end }}
    <a class="content-category-blogg" href="/{{ .Section }}">
      {{ if eq .Section "om-safespring" }}Om Safespring{{ else if eq .Section "referenser" }}Kundreferenser{{ else if .Params.section }}{{ .Params.section }}{{ else }}{{ .Section }}{{ end }}
    </a>
  </div>
  <br>
  <h1 class="post-heading-firstpage">
    {{ .Title }}
  </h1>
  <div class="content-summary-blogg">
    {{ if .Params.intro }}{{ .Params.intro }}</br></br>{{ else }}{{ end }}</br>
    {{ if .Params.sidebarlinkurl }}
    <a href="{{ .Params.sidebarlinkurl }}" target="_blank" id="button">{{ .Params.sidebarlinkname }}{{ if .Params.sidebarlinkicon }}&nbsp;&nbsp;&nbsp;<i class="fas {{ .Params.sidebarlinkicon }}"></i> {{ end }}</a>
    {{ end }}
  </div>
  <br>
  <br>
