  <div style="max-width: 700px;">
    <div class="section">
      {{ if .Params.toplogo }}
      <img src="/img/logos/{{ .Params.toplogo }}" alt="Logotyp" class="toplogo">
      {{ end }}
      <a class="" href="/{{ .Section }}" style='{{ if .Params.cardcolor }}color: #5c5c5c;{{ end }}'>
        {{ if eq .Section "om-safespring" }}Om Safespring{{ else if eq .Section "referenser" }}Kundreferenser{{ else if .Params.section }}{{ .Params.section }}{{ else if .Params.toplogo }}{{ else }}{{ .Section }}{{ end }}
      </a>
    </div>
    <h1 class="balance-text" style="color: {{ .Params.cardcolor }}">
      {{ .Title }}
    </h1>
    {{ if .Params.intro }}
    <p>
      {{ .Params.intro }}
    </p>
    {{ else }}{{ end }}
    {{ if .Params.sidebarlinkurl }}
    <div class="header-button">
      <a href="{{ .Params.sidebarlinkurl }}" target="_blank" class="button">{{ if .Params.sidebarlinkicon }}
        <i class="fas {{ .Params.sidebarlinkicon }}"></i>&nbsp;&nbsp;&nbsp;{{ end }}{{ .Params.sidebarlinkname }}
      </a>
      {{ if .Params.sidebarlinkurl2 }}
      <a style="margin:25px 0 0 0; padding: 1px 0 0 0;" href="{{ .Params.sidebarlinkurl2 }}" target="_blank" id="text-button">
        {{ .Params.sidebarlinkname2 }}
      </a>
      {{ end }}
    </div>
    {{ end }}
    {{ if .Params.logo }}
    <img src="{{ .Params.logo }}" alt="Logotyp" class="logo">
    {{ else }}
    {{ end }}
  </div>
  <div class="w350">
  </div>
