<div style="width: 800px; min-width: 100px;">
  <div class="section {{ if .Params.sectionhighlight }}mb-2{{ end }}">
    {{ $sectionLabel := "" }}
    {{ $sectionName := lower .Section }}
    {{ $sectionParam := lower (default "" .Params.section) }}
    {{ if eq .Section "om-safespring" }}
      {{ $sectionLabel = T "menu.safespring_about" }}
    {{ else if eq .Section
      "referenser"
    }}
      {{ $sectionLabel = T "menu.customer_references" }}
    {{ else if .Params.sectiontext }}
      {{ $sectionLabel = .Params.sectiontext }}
    {{ else if .Params.section }}
      {{ if or (eq $sectionParam "blog") (eq $sectionParam "blogg") }}
        {{ $sectionLabel = T "knowledgehub.blog" }}
      {{ else if or (eq .Section "tech-update") (in $sectionParam "tech update") (in $sectionParam "tekn") }}
        {{ $sectionLabel = T "knowledgehub.tech_update" }}
      {{ else }}
        {{ $sectionLabel = .Params.section }}
      {{ end }}
    {{ else if not .Params.toplogo }}
      {{ if eq $sectionName "blog" }}
        {{ $sectionLabel = T "knowledgehub.blog" }}
      {{ else if eq $sectionName "tech-update" }}
        {{ $sectionLabel = T "knowledgehub.tech_update" }}
      {{ else }}
        {{ $sectionLabel = .Section }}
      {{ end }}
    {{ end }}
    {{ if .Params.toplogo }}
      {{ $topLogo := printf "/img/logos/%s" .Params.toplogo }}
      <img
        src="{{ $topLogo }}"
        {{ partial "image-dimensions.html" $topLogo | safeHTMLAttr }}
        alt="{{ T "general.logo_alt" }}"
        class="toplogo"
      />
    {{ end }}
    {{ with $sectionLabel }}
      <a
        class="{{ if $.Params.sectionhighlight }}sectionhighlight{{ end }}"
        href="{{ with $.CurrentSection }}{{ .RelPermalink }}{{ else }}{{ relLangURL "/" }}{{ end }}"
        style="{{ if $.Params.cardcolor }}color: #195F8C;{{ end }}"
      >
        {{ . }}
      </a>
    {{ end }}
  </div>
  {{ if .Params.sectionhighlight }}
    <div style="margin-bottom: 40px"></div>
  {{ end }}
  <h1
    class=""
    style="color: {{ if .Params.cardcolor }}
      {{ .Params.cardcolor }}
    {{ else }}
      #195F8C
    {{ end }}"
  >
    {{ .Title }}
  </h1>
  {{ if .Params.intro }}
    <p>{{ .Params.intro }}</p>
  {{ else }}
  {{ end }}
  {{ if .Params.sidebarlinkurl }}
    {{ $sidebarlinkurl := partial "resolve-link.html" (dict "page" . "href" .Params.sidebarlinkurl) }}
    {{ with .Params.sidebarlinkicon }}{{ $_ := partial "fa-register-icon.html" (dict "class" (printf "fas %s" .) "page" $) }}{{ end }}
    <div class="header-button">
      <a href="{{ $sidebarlinkurl }}" target="_self" class="button">{{ if .Params.sidebarlinkicon }}{{ partial "fa-icon.html" (dict "class" (printf "fas %s" .Params.sidebarlinkicon) "page" .) }}&nbsp;&nbsp;&nbsp;{{ end }}{{ .Params.sidebarlinkname }}</a>
      {{ if .Params.sidebarlinkurl2 }}
        {{ $sidebarlinkurl2 := partial "resolve-link.html" (dict "page" . "href" .Params.sidebarlinkurl2) }}
        <a
          href="{{ $sidebarlinkurl2 }}"
          target="_self"
          class="text-button"
        >{{ .Params.sidebarlinkname2 }}</a>
      {{ end }}
    </div>
  {{ end }}
  {{ if .Params.logo }}
    <img
      src="{{ .Params.logo }}"
      {{ partial "image-dimensions.html" .Params.logo | safeHTMLAttr }}
      alt="{{ T "general.logo_alt" }}"
      class="logo"
    />
  {{ else }}
  {{ end }}
</div>
<div class="w250"></div>
