
{{ if eq $.Params.title "Aktuellt" }}
{{ partial "aktuellt.html" . }}

{{ else if eq $.Params.title "Kontakt oss på Safespring" }}
{{ partial "no-kontakt.html" . }}

{{ else if eq $.Params.title "Pris" }}
{{ partial "pris.html" . }}

{{ else if eq $.Params.title "Price" }}
{{ partial "price.html" . }}

{{ else if eq $.Params.title "Pris tack" }}
{{ partial "pris-tack.html" . }}

{{ else if eq $.Params.title "Pris-old" }}
{{ partial "pris-old.html" . }}

{{ else if eq $.Params.title "Dokumentation" }}
{{ partial "dokumentation.html" . }}

{{ else if eq $.Params.title "Tack för ditt meddelande" }}
{{ partial "tack.html" . }}

{{ else if eq $.Params.title "tack-event" }}
{{ partial "tack-event.html" . }}

{{ else if eq $.Params.title "opplev" }}
{{ partial "opplev.html" . }}

{{ else if eq $.Params.title "start" }}
{{ partial "start.html" . }}

{{ else if eq $.Params.title "Svenska molntjänster (Explorer)" }}
{{ partial "explorer.html" . }}

{{ else }}

{{ partial "head.html" . }}

<!-- NAVBAR -->
{{ partial "header.html" . }}

<!-- HEADING -->
<div class="heading-default-single" style="background: url({{ if.Params.eventbild }}/img/blogg/background/{{ .Params.eventbild }}{{ else if .Params.background }}/img/background/{{ .Params.background }}{{ else }}/img/background/safespring-blue-fade2.svg{{ end }}); background-size: cover; background-position: center;">
  {{ .Render "li3" }}
</div>
</div>

<!-- CONTENT -->
{{ if .Params.logobanner }}{{ partial "LogoBanner2.html" . }}{{ end }}
{{ if .Params.logobannersaas }}{{ partial "LogoBanner-saas.html" . }}{{ end }}
<main class="main-default-single">
  <div {{ if .Params.fullwidth }}class='content-default-single-full-width'{{else}}class='content-default-single'{{end}}>
    {{ .Content }}
    {{ if .Params.nolist }}
    {{ else if eq .Params.list "indexcard" }}
<div class="flexcontainer-three">
  {{ range .Pages }}
{{ .Render "li-index"}}
{{ end }}
</div>
{{ else }}
    <div class="flexcontainer">
      {{ range .Pages }}
      <div class="content-container">
        {{ .Render "li-latest"}}
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
  <!-- SIDEBAR -->
{{ if eq .Params.nosidebar "invisible" }}<div class="w350"></div>{{ else if ne .Params.nosidebar "none" }}<div class="sidebar-default-single">{{ if or (eq $.Section "webinar") (eq $.Section "kommun") }}{{partial "webinar-side-bar.html" . }}{{ else }}{{ partial "sidebar-default-single.html" . }}{{ end }}</div>{{ end }}
{{ if .Params.fullwidthwidget }}{{ partial "{{ .Params.fullwidthwidget }}"}}{{ end }}
</main>
<!-- FOOTER -->
{{ partial "footer.html" . }}
{{ end }}
