{{ partial "head.html" . }}

<body>
  <!-- Google Tag Manager -->
  {{ partial "g-tag-manager.html" . }}
  
  <!-- NAVBAR -->
  {{ partial "header.html" . }}
  
  <!-- HEADING -->
  <div class="heading-sub">
    <div class="heading-content">
      <h1>Aktuellt</h1>
      <p>Med Safespring får du en effektiv modell för leverans
        <br/>av tjänst utan att förlora kontroll över din data.</p>
    </div>
  </div>

  <!-- CONTENT -->
  <main class="content-main">
    <div class="">
       {{ range .Data.Pages.GroupByDate "2006" }}
    </div>

    <div class="content-container">
      {{ range .Pages }} 
        {{ .Render "li"}} 
        {{ end }} 
      {{ end }}
    </div>
    
  </main>

  <!-- FOOTER -->
  {{ partial "footer.html" . }}
</body>
</html>