
{{ if eq $.Params.title "Aktuellt" }}
{{ partial "aktuellt.html" . }}

{{ else if eq $.Params.title "Kontakta oss" }}
{{ partial "kontakt.html" . }}

{{ else if eq $.Params.title "Pris" }}
{{ partial "pris.html" . }}

{{ else if eq $.Params.title "Pris-old" }}
{{ partial "pris-old.html" . }}

{{ else if eq $.Params.title "Dokumentation" }}
{{ partial "dokumentation.html" . }}

{{ else if eq $.Params.title "Tack för ditt meddelande" }}
{{ partial "tack.html" . }}

{{ else if eq $.Params.title "tack-event" }}
{{ partial "tack-event.html" . }}

{{ else if eq $.Params.title "opplev" }}
{{ partial "opplev.html" . }}

{{ else if eq $.Params.title "start" }}
{{ partial "start.html" . }}

{{ else if eq $.Params.title "Svenska molntjänster (Explorer)" }}
{{ partial "explorer.html" . }}

{{ else }}


{{ partial "head.html" . }}
    {{ partial "g-tag-manager.html" . }} <!-- NAVBAR -->
     {{ partial "header.html" . }}

     <!-- HEADING -->
     <div class="heading-sub" style="background: url(/img/blue/{{ if .Params.background }}{{ .Params.background }}{{ else }}safespring_bilder_9.jpg{{ end }}); background-size: cover; background-position: center;">
       <div class="heading-content">
         {{ .Render "li3" }}
       </div>
     </div>

  <!-- CONTENT -->
  <main class="content-chalmers">
    <div class="ch-content">
      <div class="content-body">
       {{ .Content }}
       {{ if .Params.form }}{{ partial "form.html" . }}{{ else }}{{ end }}
      </div>
    </div>
      <!-- SIDEBAR -->
      {{ partial "side-bar.html" . }}
    </main>
    <!-- FOOTER -->
    {{ partial "footer.html" . }}
{{ end }}
