{{ partial "head.html"}}
{{ if eq .Params.language "En"}}{{ partial "en-header.html" . }}{{ else if eq .Params.language "No"}}{{ partial "no-header.html" . }}{{ else }}{{ partial "header.html" . }}{{ end }}
{{ .Render "li3" }}

<main class="content-chalmers">
  <!-- Main  -->
  <div class="ch-content">
    <div class="content-body">
     {{ .Content }}
    </div>
  </div>

  <!-- SIDEBAR -->
  {{ partial "side-bar.html" . }}

  </div>
</main>

<!-- FOOTER -->
{{ if eq .Params.language "En"}}{{ partial "en-footer.html" . }}{{ else if eq .Params.language "No"}}{{ partial "no-footer.html" . }}{{ else }}{{ partial "footer.html" . }}{{ end }}
