{{ partial "head.html" . }}

<body>
  <!-- NAVBAR -->
  {{ partial "header.html" . }}
  <!-- HEADING -->
  <div class="white-blue-fade">
    <div class="heading-index">
      <div class="headline-and-badge">
        <h1 class="post-heading-firstpage balance-text">{{ .Title }}</h1>
        <object class="badge lazyload" data="/img/safespring-gdpr-compliant-badge.svg"></object>
        <p class="content-summary-index">{{ .Params.intro }}</p>
    </div>
</div>
<div class="background-bright">
  <div class="flexcontainer-three">
    {{ $language := .Params.language }}
    {{ $sections := (dict "Se" "tjanster" "En" "en" "No" "no") }}
    {{ $section := index $sections $language }}
    {{ range (where $.Site.RegularPages "Section" $section).ByParam "cardorder" }}
    {{ if isset .Params "cardorder" }}
    {{ .Render "li-index" }}
    {{ end }}
    {{ end }}
</div>
<div id="scaleout-usecase"></div>
<div class="index-video video-container">
    <video id="myVideo" autoplay muted controls width="100%" height="auto" poster="https://next.safespring.com/s/WrLBgFcKEyZxDx6/download/safespring_use-case_scaleout-1080p.jpg">
        <track src="/subtitles/scaleout-usecase/safespring_use-case_scaleout-sv.vtt" kind="subtitles" srclang="sv" label="Swedish">
        <track src="/subtitles/scaleout-usecase/safespring_use-case_scaleout-en.vtt" kind="subtitles" srclang="en" label="English">
        <track src="/subtitles/scaleout-usecase/safespring_use-case_scaleout-no.vtt" kind="subtitles" srclang="no" label="Norwegian" default>
        Your browser does not support the video tag.
    </video>
    <div id="custom-cursor" class="custom-cursor">Play with sound</div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var video = document.getElementById('myVideo');
            var videoSrc = "https://s3.sto1.safedc.net/a489f53964f14fe897308b4243d7138d:processedvideos/safespring_use-case_scaleout_v4/master.m3u8";

            if (Hls.isSupported()) {
                var hls = new Hls();
                hls.loadSource(videoSrc);
                hls.attachMedia(video);
                hls.on(Hls.Events.MANIFEST_PARSED, function() {
                    video.play();
                });
                hls.on(Hls.Events.ERROR, function (event, data) {
                    console.error('Error event:', event, 'Data:', data);
                });
            } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = videoSrc;
                video.addEventListener('canplay', function() {
                    video.play();
                });
            }
        });
    </script>
</div>
<div class="center-text">
    <img src="/om-safespring/images/partners/safespring_partners_scaleout-systems.svg" alt="Scaleout logotype" style="max-width:250px;margin-bottom: 20px;">
    <p>Scaleout bygger en AI-plattform på Safesprings infrastruktur. Interessen og etterspørselen etter maskinlæring og AI har eksplodert i den siste tiden. Samtidig pågår en diskusjon om innsyn i hvilke data modellene er trent på og hva man gir fra seg når man bruker tjenestene.</p>
    <p><a href="/no/tjenester/case/scaleout/" class="button">Til Use case</a></p>
</div>
<!--<img class="lazyload index-image" src="/img/safespring-portal3.svg" data-src="/img/safespring-portal3.svg" alt="Safespring är en molnleverantör som gör det enkelt för dig att starta nya instanser på ett smidigt sätt. Genom vår portal kan du med ett enkelt klick snabbt och enkelt skapa nya instanser och börja använda dina molntjänster. Med Safespring kan du snabbt och enkelt hantera och skala upp dina resurser i molnet, vilket ger dig flexibilitet och effektivitet i ditt arbete.">-->
</div>
<div class="two-field-background">
  <div class="two-field-container-1">
    <h2 class="balance-text">Er du vant til å jobbe med en amerikansk skytjeneste?</h2>
    <div class="ingress" id="down">
      <p>Du vil umiddelbart føle deg hjemme hos Safespring. Start virtuelle servere med et knappetrykk, eller lagre storskala data gjennom S3 og mye mer.</p>
      <a href="/tjanter/safespring-compute/" class="button">Safespring compute</a>
  </div>
</div>

<div class="two-field-container-image">
    <img class="lazyload" data-src="/img/graphics/safespring-list-no.svg" class="index-image"></img>
</div>
<div class="two-field-container">
    <h2 class="balance-text">Safesprings datasentre befinner seg i Norden</h2>
    <div class="ingress" id="down">
      <p>Safesprings datasentre befinner seg i Norden. Våre datasentre møter høye krav til driftssikkerhet og tilgjengelighet. Datasentrene drives 100% av elektrisitet fra fornybare energikilder.</p>
      <a href="/no/datasenter" class="button">Om våre datasentre</a>
      <a style="margin:25px 0 0 25px; padding: 1px 0 0 0;" id="text-button" href="/no/om-safespring/">Om Safespring</a>
  </div>
</div>

</div>
<div class="flexcontainer">
  {{ range first 3 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
  <div class="content-container">
    {{ .Render "li-latest"}}
</div>
{{ end }}
</div>
</div>
<!-- FOOTER -->
{{ partial "footer.html" . }}
</body>
<script>
    var video = document.getElementById('myVideo');
    var customCursor = document.getElementById('custom-cursor');

    video.addEventListener('mousemove', function(e) {
        var bounds = video.getBoundingClientRect();
        customCursor.style.top = (e.clientY - bounds.top - 65) + 'px'; 
        customCursor.style.left = (e.clientX - bounds.left - 65) + 'px'; 

    // Check if the mouse is in the bottom 100px of the video
        if (e.clientY - bounds.top > video.offsetHeight - 100) {
            customCursor.style.visibility = 'hidden';
        video.style.cursor = 'auto'; // Change the cursor to the default cursor style
    } else {
        customCursor.style.visibility = 'visible';
        video.style.cursor = 'none'; // Hide the default cursor
    }
});

    video.addEventListener('mouseleave', function() {
        customCursor.style.visibility = 'hidden';
    video.style.cursor = 'auto'; // Change the cursor to the default cursor style
});

    var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

    if (!isSafari) {
        video.addEventListener('click', function(e) {
            e.preventDefault();

            if (video.muted) {
                video.muted = false;
                video.currentTime = 0;
                video.play();
                customCursor.innerText = "Pause";
            } else {
                if (video.paused) {
                    video.play();
                    customCursor.innerText = "Pause";
                } else {
                    video.pause();
                    customCursor.innerText = "Play";
                }
            }
        });
    }

    if (isSafari) {
        video.addEventListener('click', function(e) {
            e.preventDefault();

            if (video.muted) {
                video.muted = false;
                video.currentTime = 0;
                video.play();
                customCursor.innerText = "Pause";
            } else {
                if (video.paused) {
                    customCursor.innerText = "Play";
                } else {
                    customCursor.innerText = "Pause";
                }
            }
        });
    }
</script>