{{ partial "head.html" . }}

<body>
  <!-- Google Tag Manager -->
  {{ partial "g-tag-manager.html" . }}

  <!-- NAVBAR -->
  {{ partial "no-header.html" . }}
  {{ partial "svg-filter.html" . }}
  <!-- HEADING -->
    <div class="heading-index">
      <div class="content-container-index">
        <div class="content-meta-post">
          <p class="content-category-blogg">Om Safespring</p>
        </div>
        <h1 class="post-heading-firstpage">Safespring er din sikre <br>kilde for skytjenester</h1>
        <p class="content-summary-blogg">{{ index .Params "intro" }}</p><br><br>
        <a id="button" href="/no/tjenester/" style="margin:0 20px 20px 0;">Hva vi tilbyr</a><a id="text-button" href="#down">Om oss</a>
    </div>
  </div>

  <!-- CONTENT -->
  <main class="content-main-index" id="down">
      <!-- Heading Text -->
      <div class="content-image">
      </div>

      <!-- Body Text -->
      <div class="content-body-index">
        <div class="ingress">
          <p>
            Safespring leverer en lokalt basert skytjeneste bygget for morgendagens apper. Det gjør det mulig for våre kunder å innovere raskt, redusere tid til markedsføring og fjerne tekniske begrensninger samtidig som effektivitetsnivået øker og beholder datasuvereniteten. Med vår plattform hjelper vi kundene våre med å forbedre konkurransekraften til å levere god kvalitet.
          </p>
        </div>
        <p>
          Fleksibel forbruksmodell inkluderer tjenester etter time eller GB / måned. Alle tjenester faktureres månedlig basert på forbruket ditt. Fra våre profesjonelle datasentre i Sverige og Norge inkluderer leveransen av infrastruktur-som-en-tjeneste:
        </p>
        <p>
          <span class="inline-rubrik">
            Safespring Compute
          </span>
          Våre infrastrukturtjenester er basert på den markedsledende skyplattformen OpenStack. Tjenesten leveres fra sikre datasentre med høy tilgjengelighet. Kundedata forlater aldri Sverige eller Norge der datasentre er fysisk lokalisert i landet. Tjenesten er fleksibel, helautomatisk og basert på selvbetjening gjennom en portal: Brukeren kan med få, enkle trinn starte og stoppe nye servere. Det er også mulig å administrere og kontrollere levering av servere programmatisk gjennom standardbaserte samtaler til API-et vårt.
        </p>
        <p>
          <span class="inline-rubrik">
            Safespring Storage
          </span>
          Vi tilbyr en objektlagringstjeneste der vi eksponerer et S3-grensesnitt for applikasjonen din. Tjenesten er optimalisert med stor og billig lagringsplass og er godt egnet for applikasjoner som å lese eller skrive store mengder data.
        </p>
        <h3>
          Open Source
        </h3>
        <p>
          Våre tjenester er basert på Open Source. De siste tiårene har vist at programvare med åpen kildekode gir et ekstremt kraftig økosystem av selskaper og organisasjoner som har de samme behovene, men samtidig behovet for tilpassede løsninger.
        </p>
        <a href="/no/tjenester" id="button">
          Våre tjenester
        </a>
      </div>
    </main>
  <!-- FOOTER -->
  {{ partial "no-footer.html" . }}
</body>
