{{ partial "head.html" . }}

<body>

  <!-- Google Tag Manager -->
  {{ partial "g-tag-manager.html" . }}

  <!-- NAVBAR -->
  {{ partial "header.html" . }}

  <!-- HEADING -->
  <div class="heading-sub" style="background: url(/img/safespring_bilder_3.jpg) no-repeat, fixed; background-size: cover; background-position: center;">
    <div class="heading-content">
      <h1>Senaste nytt från Safespring (Blogg)</h1>
      <p>Med Safespring får du en effektiv modell för leverans
        <br/>av tjänst utan att förlora kontroll över din data.</p>
    </div>
  </div>

  <!-- CONTENT -->
  <main class="content-chalmers">
    <!-- Main  -->
    <div class="ch-content">
      <div class="">
        {{ range .Site.Pages.GroupByDate "2006" }}

        <div class="content-container">
          {{ range .Pages }}
            {{ .Render "li"}}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

    <!-- SIDEBAR -->
  {{ partial "side-bar.html" . }}

  </main>

  <!-- FOOTER -->
  {{ partial "footer.html" . }}
