{{ partial "head.html" . }}
    {{ partialCached "g-tag-manager.html" . }} <!-- NAVBAR -->
     {{ if eq .Params.language "En" }}{{ partial "en-header.html" . }}{{ else if eq .Params.language "No" }}{{ partial "no-header.html" . }}{{ else }}{{ partialCached "header.html" . }}{{ end }}

     <!-- HEADING -->
     <div class="heading-sub" style="background: url(/img/blue/{{ if .Params.background }}{{ .Params.background }}{{ else }}safespring_bilder_9.jpg{{ end }}); background-size: cover; background-position: center;">
       <div class="heading-content">
         {{ .Render "li3" }}
       </div>
     </div>

  <!-- CONTENT -->
  <main class="content-chalmers">
    <div class="ch-content">
      <div class="content-body">
       {{ .Content }}
      </div>
    </div>
      <!-- SIDEBAR -->
      {{ partialCached "webinar-side-bar.html" . }}
    </main>
    <!-- FOOTER -->
    {{ if eq .Params.language "En" }}{{ partial "en-footer.html" .}}{{ else if eq .Params.language "No" }}{{ partial "no-footer.html" . }}{{ else }}{{ partialCached "footer.html" . }}{{ end }}
