{{ partial "head.html" . }}


<style>
  .heading-sub {
    background: #417DA5;
    background-size: cover;
    background-attachment: bottom;
  }
</style>
  <title>Safespring | {{ .Title }}</title>
</head>
<body>
  {{ partial "g-tag-manager.html" . }} <!-- NAVBAR -->
   {{ partial "header.html" . }} <!-- HEADING -->
  <div class="heading-sub">
    <div class="heading-content">
      <h1>{{ .Title }}</h1>
    </div>
  </div>

<!-- HEADING -->


<!-- CONTENT -->
<main class="content-chalmers">
  <!-- Main  -->
  <div class="ch-content">
    <div class="content-heading">
      <h2>{{ .Title }}</h2>
    </div>
    <div class="content-body">
     {{ .Content }}
    </div>
  </div>

  <!-- SIDEBAR -->
  {{ partial "side-bar.html" . }}
  </div>
</main>

<!-- FOOTER -->
{{ partial "footer.html" . }}
