<div class="content-container-post" style="background: url({{ if.Params.background }}/whitepaper/images/background/{{ .Params.background }}{{ else }}/whitepaper/images/background/background.jpg{{ end }}); background-size: cover;">
  <div class="content-meta-post"><a class="content-category-whitepaper" href="/{{ .Section }}">{{ .Section }}</a>
 | {{ .Date.Format "Jan 2, 2006" }}:</div><br>
  <a class="post-heading-post" href="{{ .Permalink }}">{{ .Title }}</a>
  <div class="content-summary-blogg">{{ if gt (len .Summary) 200 }} {{ slicestr .Summary 0 45 }}... {{ end }}</div>
</div>
