  <div class="content-container">
    {{ if eq $.Params.section "blogg" }}
    <a href="{{ .Permalink }}">
    <div class="body my-2 p-relative bg-white shadow-1 blue-hover-blogg">
        <div class="d-block w-full blogg-card-image-container"><img class="lazyload blogg-card-image" data-src="{{ if.Params.eventbild }}/img/blogg/cards/{{ .Params.card }}{{ else }}/img/blogg/cards/safespring_card_0.webp{{ end }}" alt="{{ .Title }}"></div>
  <div class="blogg-card-text-container">
    <div class="blogg-card-section mb-0 font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
      {{ if .Params.section }}{{ .Params.section }}{{ else }}{{ .Section }}{{ end }}
    </div>
    <div class="blogg-card-date mb-1 font-weight-thin text-uppercase text-light-black">
      {{ .Date.Format "2006-01-02" }}
    </div>
    <h1 class="blogg-card-title ff-serif font-weight-light text-black mt-0 mb-1" style="line-height: 1.1;">
      {{ .Title }}
    </h1>
    <p class="mb-1">
      {{ .Params.intro }}
    </p>
  </div>
  <a href="{{ .Permalink }}" class="blogg-card-link text-uppercase d-inline-block font-weight-medium lts-2px text-center styled-link ff-serif">
    Läs mer
  </a>
</div></a>
{{ else }}{{ if eq $.Params.section "Tech update" }}
<a href="{{ .Permalink }}">
<div class="body my-2 p-relative bg-blue-white-fade shadow-1 blue-hover-tech">
    <div class="d-block w-full blogg-card-image-container"><img class="lazyload blogg-card-image" data-src="/img/blogg/cards/safespring-tech-update.svg" alt="{{ .Title }}"></div>
<div class="blogg-card-text-container-no-image">
<div class="blogg-card-section-tech mb-0 font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
  {{ if .Params.section }}{{ .Params.section }}{{ else }}{{ .Section }}{{ end }}
</div>
<div class="blogg-card-date mb-1 font-weight-thin text-uppercase text-light-black">
  {{ .Date.Format "2006-01-02" }}
</div>
<h1 class="blogg-card-title ff-serif font-weight-light text-black mt-0 mb-1" style="line-height: 1.1;">
  {{ .Title }}
</h1>
<p class="mb-1">
  {{ .Params.intro }}
</p>
</div>
<a href="{{ .Permalink }}" class="blogg-card-link text-uppercase d-inline-block font-weight-medium lts-2px text-center styled-link ff-serif">
{{ if (eq .Params.language "En") }}Learn more{{ else if (eq .Params.language "No") }}Les mer{{ else }}Läs mer{{ end }}
</a>
</div></a>
{{ else }}{{ if eq $.Params.section "webinar" }}
<a href="{{ .Permalink }}">
<div class="body my-2 p-relative bg-blue-white-fade shadow-1 blue-hover-tech">
    <div class="d-block w-full blogg-card-image-container"><img class="lazyload blogg-card-image" data-src="/img/blogg/cards/safespring-tech-update.svg" alt="{{ .Title }}"></div>
<div class="blogg-card-text-container-no-image">
<div class="blogg-card-section-tech mb-0 font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
  {{ if .Params.section }}{{ .Params.section }}{{ else }}{{ .Section }}{{ end }}
</div>
<div class="blogg-card-date mb-1 font-weight-thin text-uppercase text-light-black">
  {{ .Date.Format "2006-01-02" }}
</div>
<h1 class="blogg-card-title ff-serif font-weight-light text-black mt-0 mb-1" style="line-height: 1.1;">
  {{ .Title }}
</h1>
<p class="mb-1">
  {{ .Params.intro }}
</p>
</div>
<a href="{{ .Permalink }}" class="blogg-card-link text-uppercase d-inline-block font-weight-medium lts-2px text-center styled-link ff-serif">
{{ if (eq .Params.language "En") }}Learn more{{ else if (eq .Params.language "No") }}Les mer{{ else }}Läs mer{{ end }}
</a>
</div></a>
{{ end }}{{ end }}{{ end }}
</div>
