<div class="content-container">
  <a href="{{ .Permalink }}">
  <div class="body my-2 p-relative bg-white shadow-1 blue-hover-whitepaper">
      <div class="d-block w-full blogg-card-image-container"><img class="lazyload blogg-card-image" data-src="{{ if.Params.card }}/img/card/{{ .Params.card }}{{ else }}/img/blogg/cards/safespring_card_0.webp{{ end }}" alt="{{ .Title }}"></div>
<div class="blogg-card-text-container">
  <div class="blogg-card-section-whitepaper mb-1 font-weight-medium text-uppercase lts-1px" style="margin-right:5px;">
    {{ if .Params.section }}{{ .Params.section }}{{ else }}{{ .Section }}{{ end }}
  </div>
  <h1 class="blogg-card-title ff-serif font-weight-light text-black mt-0 mb-1" style="line-height: 1.1;">
    {{ .Params.cardtitle }}
  </h1>
  <p class="mb-1">

  </p>
</div>
<a href="{{ .Permalink }}" class="blogg-card-link text-uppercase d-inline-block font-weight-medium lts-2px text-center styled-link ff-serif">
  {{ if (eq .Params.language "En") }}Learn more{{ else if (eq .Params.language "No") }}Les mer{{ else }}Läs mer{{ end }}
</a>
</div></a></div>
