  <div class="content-meta-post">
    <a class="content-category-black" href="/{{ .Section }}">
      {{ if eq .Section "tjanster" }}Tjänster{{ else if eq .Section "om-safespring" }}Om Safespring{{ else if eq .Section "referenser" }}Kundreferenser{{ else if .Params.section }}{{ .Params.section }}{{ else }}{{ .Section }}{{ end }}
    </a>
  </div>
  <br>
  <h1 class="post-heading-black">
    {{ .Title }}
  </h1>
  {{ if .Params.intro }}<div class="content-summary-black">
    {{ .Params.intro }}{{ end }}</br></br>
    {{ if .Params.sidebarlinkurl }}
    <a href="{{ .Params.sidebarlinkurl }}" id="text-button">{{ .Params.sidebarlinkname }}{{ if .Params.sidebarlinkicon }}&nbsp;&nbsp;&nbsp;<i class="fas {{ .Params.sidebarlinkicon }}"></i> {{ end }}</a>
    {{ end }}
  </div>
