{{ if eq $.Params.title "Aktuellt" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/aktuellt.html"/>
{{ else if eq $.Params.title "Chalmers erfarenheter av backup som tjänst" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/chalmers.html"/>
{{ else if eq $.Params.title "Säkra molntjänster" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/index.html"/>
{{ else if eq $.Params.title "Kontakta oss" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/kontakt.html"/>
{{ else if eq $.Params.title "Kundreferenser" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/kundreferenser.html"/>
{{ else if eq $.Params.title "Om oss" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/om-oss.html"/>
{{ else if eq $.Params.title "Pris" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/pris.html"/>
{{ else if eq $.Params.title "Backup som tjänst" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/safespring-backup.html"/>
{{ else if eq $.Params.title "Infrastruktur som tjänst" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/safespring-compute.html"/>
{{ else if eq $.Params.title "Lagring som tjänst" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/safespring-storage.html"/>
{{ else if eq $.Params.title "Support" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/support.html"/>
{{ else if eq $.Params.title "Tack för ditt meddelande" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/tack.html"/>
{{ else if eq $.Params.title "Testa backup som tjänst" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/testa-safespring-backup.html"/>
{{ else if eq $.Params.title "Testa infrastruktur som tjänst" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/testa-safespring-compute.html"/>
{{ else if eq $.Params.title "Testa lagring som tjänst" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/testa-safespring-storage.html"/>
{{ else if eq $.Params.title "Våra tjänster" }}
    <link media="only screen and (max-width: 370px)" rel="alternate" href="{{ .Site.BaseURL }}/phone/tjanster.html"/>
{{ end }}