{{- $page := .Page -}}
{{- $chapter := .Chapter -}}
{{- $number := .Number -}}
{{- $time := $chapter.time | default 0 -}}
{{- $href := printf "%s?t=%v#player" $page.RelPermalink $time -}}
{{- $image := $chapter.image | default $page.Params.card -}}
{{- $minutes := div $time 60 -}}
{{- $seconds := mod $time 60 -}}
{{- $timeLabel := printf "%02d.%02d" $minutes $seconds -}}
<div class="webinar-card-episode webinar-card-chapter">
  <a href="{{ $href | safeURL }}" aria-label="Watch chapter {{ $number }} from {{ $timeLabel }}: {{ $chapter.title }}">
    <div class="webinar-highlist-card-episode shadow-1">
      <div class="webinar-highlist-image-episode" style="background-image: url('{{ $image }}');"></div>
      <div class="webinar-series-text-container-episode" data-href="{{ $href }}">
        <p class="episode-counter-episode">{{ $number }}</p>
        <div>
          <h2>{{ $chapter.title }}</h2>
          <span class="text-button">{{ $timeLabel }}&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></span>
        </div>
      </div>
    </div>
  </a>
</div>
