<div class="content-chalmers" style="background:var(--content-color);">
  <div class="ch-content">
    <div class="content-body">
      <h2>Avancerad DevOps-utveckling</h2>
<p>För att kunna utnyttja molnets fördelar fullt ut så handlar det inte bara om att använda rätt teknik utan också att anpassa sina arbetsprocesser. Många företag vill idag modernisera sitt sätt att arbeta men ser ingen klar väg framåt.</p>
<p>Safespring erbjuder tillsammans med Scaleout Systems färdiga paket för att snabbare kunna utnyttja molnet fullt ut. De färdiga paketen består av timpaket som ger tillgång till erfarna konsulter inom DevOps och container-teknologier som blir som en extra resurs som ditt team kan kalla in vid behov för att snabba på processen och snabbare kunna komma till en nivå där tekniken arbetar för er istället för mot er. Safesprings infrastrukturtjänster tillsammans med Scaleouts kunskap om hur molnet används på bästa sätt ger ditt företag en kick-start till att arbeta mer effektivt.</p>
</div>
<div class="flexcontainer float-left" style="align-items:baseline;justify-content:left;margin:0;">
  <div class="content-container">
    <a href="/kontakt">
    <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
        <img src="/tjanster/images/safespring-standard-devops-support.jpg" alt="{{ .Title }}" class="d-block w-full" style="height: 240px;">
  <div class="px-2 py-2">
    <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
      Service Plan
    </div>
    <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
        |
    </div>
    <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
      Standard
    </div>
    <h1 class="ff-serif font-weight-medium text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
      Standardplan för DevOps-support
    </h1><br>
    <p>Answers to requests within 24h on business days (email).</p>
    <p>Up to 2 hours of face-to-face video meetings/month (access within 5 business days).</p>
    <p>Access to hands-on help at a flat rate of 20 000 EUR/FTE/month (next month).</p>
    <br>
    <p class="mb-1 big">
      <b class="small">Pris i månaden:</b><br>
      € 1 000
    </p>
  </div>
  <a href="/kontakt" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
    Kontakta Safespring
  </a>
  </div></a>
</div>

<div class="content-container">
  <a href="/kontakt">
  <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
      <img src="/tjanster/images/safespring-premium-devops-support.jpg" alt="{{ .Title }}" class="d-block w-full" style="height: 240px;">
<div class="px-2 py-2">
  <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
    Service Plan
  </div>
  <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
      |
  </div>
  <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
    Premium
  </div>
  <h1 class="ff-serif font-weight-medium text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
    Premiumplan för DevOps-support
  </h1><br>
  <p class="extra-small"><b>Like standard, <br>and in addition:</b></p>
  <p>Dedicated contact person.</p>
  <p>Live chat with the engineering team (business hours).</p>
  <p>Up to 6 hours of face-to-face video meetings/month (access within 2 business days).</p>
  <p>Up to 10h of limited scope junior and mid-senior hands-on help (code reviews, troubleshooting, containerization, automation, piloting etc.). Rolls over to next month if not used.</p>
  <p>Access to additional hands-on help at a flat rate of 15 000 EUR/FTE/month (same month).</p>
  <br>
  <p class="mb-1 big">
    <b class="small">Pris i månaden:</b><br>
    € 3 500
  </p>
</div>
<a href="/kontakt" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
  Kontakta Safespring
</a>
</div></a>
</div>
</div></div>


</div>
