<ul class="sidebar-documentation">
  {{ if eq .Params.documentation "Compute" }}
      <li><a href="https://docs.safespring.com/compute/getting-started/">Getting Started</a></li>
      <li><a href="https://docs.safespring.com/compute/vpn/">VPN options</a></li>
      <li><a href="https://docs.safespring.com/compute/api/">API Access</a></li>
      <li><a href="https://docs.safespring.com/compute/flavors/">Flavors</a></li>
      <li><a href="https://docs.safespring.com/compute/loadbalancing/">Load Balancing</a></li>
      <li><a href="https://docs.safespring.com/compute/app-creds/">Application credentials</a></li>
      <li><a href="https://docs.safespring.com/compute/troubleshooting/">Trouble Shooting</a></li>
  <li>HOWTOs:
    <ul>
      <li><a href="https://docs.safespring.com/compute/howto/keypairs/">Using Keypairs</a></li>
      <li><a href="https://docs.safespring.com/compute/howto/persistent-ip-address/">Persistent IP address</a></li>
      <li><a href="https://docs.safespring.com/compute/howto/windows/">Windows images</a></li>
      <li><a href="https://docs.safespring.com/compute/howto/migrate-between-projects/">Migrate instance to another project</a></li>
      <li><a href="https://docs.safespring.com/compute/howto/snapshotting-instances/">Taking snapshots of instances</a></li>
    </ul>
  </li>

  {{ if eq .Params.documentation "Storage" }}

      <li><a href="https://docs.safespring.com/storage/getting-started/">Getting Started</a></li>
      <li><a href="https://docs.safespring.com/storage/quota/">S3 Quotas</a></li>
      <li><a href="https://docs.safespring.com/storage/s3-advanced/">S3 Advanced Features</a></li>
      <li><a href="https://docs.safespring.com/storage/usage-statistics/">S3 Usage Report</a></li>
      <li><a href="https://docs.safespring.com/storage/object-locking/">Object Locking</a></li>
      <li>Howto
            <ul>
              <li><a href="https://docs.safespring.com/storage/howto/configs/s3fs/">Example s3fs config</a></li>
              <li><a href="https://docs.safespring.com/storage/howto/configs/s3cmd/">Example s3cmd config</a></li>
              <li><a href="https://docs.safespring.com/storage/howto/configs/cloudberry/">Example CloudBerry config</a></li>
              <li><a href="https://docs.safespring.com/storage/howto/configs/cyberduck/">Example CyberDuck config</a></li>
              <li><a href="https://docs.safespring.com/storage/howto/configs/duck-cli/">Example Duck CLI config</a></li>
              <li><a href="https://docs.safespring.com/storage/howto/configs/minio-client/">Example Minio Client config</a></li>
              <li><a href="https://docs.safespring.com/storage/howto/configs/aws-cli/">Example AWS-CLI config</a></li>
              <li><a href="https://docs.safespring.com/storage/howto/configs/nextcloud-s3/">Example NextCloud S3 integration</a></li>
            </ul>
      </li>
      <li><a href="https://docs.safespring.com/storage/tips-n-tricks/">Tips and Tricks</a></li>
      <li><a href="https://docs.safespring.com/storage/backup-exec/">Backup Exec and Safespring Storage</a></li>
      <li><a href="https://docs.safespring.com/storage/other-backends/">Other Backends</a></li>

  {{ if eq .Params.documentation "Backup" }}

<li><a href="https://docs.safespring.com/backup/quickstart-guide/">Quick-Start Guide</a></li>
      <li>Install
        <ul>
          <li><a href="https://docs.safespring.com/backup/install/overview/">Overview</a></li>
          <li><a href="https://docs.safespring.com/backup/install/linux/">Linux</a></li>
          <li><a href="https://docs.safespring.com/backup/install/windows/">Windows</a></li>
          <li><a href="https://docs.safespring.com/backup/install/apple-macos/">macOS</a></li>
          <li><a href="https://docs.safespring.com/backup/install/freebsd-other/">freeBSD</a></li>
          <li><a href="https://docs.safespring.com/backup/install/mssql-windows/">Microsoft SQL Server</a></li>
        </ul>
      </li>
      <li>Howto
        <ul>
          <li><a href="https://docs.safespring.com/backup/howto/back-up-files/">Back up Files</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/consumption-units/">Consumption Units</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/business-units/">Business Units</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/password/">Passwords</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/delete-node/">Deleting Nodes</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/reports-by-email/">Email Reports</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/encryption/">Encryption</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/include-exclude/">Include/Exclude</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/sso/">Admin SSO</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/changing-files/">Handling Changing Files</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/list-files/">List Files</a></li>
          <li><a href="https://docs.safespring.com/backup/howto/linux-gui/">Linux GUI</a></li>
        </ul>
      </li>
      <li>Automation
        <ul>
          <li><a href="https://docs.safespring.com/backup/automation/cli-tool/">Command Line</a></li>
          <li><a href="https://docs.safespring.com/backup/automation/rest-api/">REST API</a></li>
          <li><a href="https://docs.safespring.com/backup/automation/api-resources/">API Resources</a></li>
          <li><a href="https://docs.safespring.com/backup/automation/more-info/">More Info</a></li>
        </ul>
      </li>
      <li>Recovery
        <ul>
          <li><a href="https://docs.safespring.com/backup/recovery/basics/">The Basics</a></li>
          <li><a href="https://docs.safespring.com/backup/recovery/linux-recovery/">Linux Systems</a></li>
          <li><a href="https://docs.safespring.com/backup/recovery/windows-recovery/">Windows Systems</a></li>
          <li><a href="https://docs.safespring.com/backup/recovery/testing/">Testing</a></li>
          <li><a href="https://docs.safespring.com/backup/recovery/encryption/">Encryption</a></li>
        </ul>
      </li>
      <li>Cloud backup
        <ul>
          <li><a href="https://docs.safespring.com/backup/cloud/microsoft-365/">Microsoft 365</a></li>
          <li><a href="https://docs.safespring.com/backup/cloud/microsoft-entra-id/">Microsoft Entra ID</a></li>
          <li><a href="https://docs.safespring.com/backup/cloud/user-data-recovery/">User Data Recovery</a></li>
          <li><a href="https://docs.safespring.com/backup/cloud/pst-files/">Read PST files</a></li>
        </ul>
      </li>
      <li><a href="https://docs.safespring.com/backup/faq/">FAQ</a></li>

  {{ if eq .Params.documentation "Samurai" }}

    <li>
      <a
        target="_blank"
        href="https://support.samurai.security.ntt/hc/en-001/articles/5261322562321-Managed-Detection-Response-MDR-Service-Description"
        >Service Description</a
      >
    </li>
    <li>
      <a
        target="_blank"
        href="https://support.samurai.security.ntt/hc/en-001/articles/5258182875409-Onboarding-Managed-Detection-and-Response-MDR-"
        >Onboarding (MDR)</a
      >
    </li>
    <li>
      <a
        target="_blank"
        href="https://support.samurai.security.ntt/hc/en-001/articles/6325124376593-MDR-Threat-Reviews"
        >MDR Threat Reviews</a
      >
    </li>
    <li>
      <a
        target="_blank"
        href="https://support.samurai.security.ntt/hc/en-001/articles/6842444982673-MDR-Incident-Management"
        >MDR Incident Management</a
      >
    </li>
    <li>
      <a
        target="_blank"
        href="https://support.samurai.security.ntt/hc/en-001/articles/6897625525905-MDR-Security-Incident-Report-explained"
        >MDR Security Incident Report explained</a
      >
    </li>
  {{ end }}
</ul>
