{{ partial "head.html" . }}

<!-- Google Tag Manager -->
{{ partial "g-tag-manager.html" . }}

<!-- NAVBAR -->
{{ partial "header.html" . }}

<!-- HEADING -->
<div class="heading-sub" style="background: url(/img/blue/{{ if .Params.background }}{{ .Params.background }}{{ else }}safespring_bilder_9.jpg{{ end }}); background-size: cover; background-position: center;">
  <div class="heading-content">
    <div class="content-meta-post">
      <a class="content-category-blogg" href="/tjanster">
        Tjänster
      </a>
    </div>
    <br>
    <h1 class="post-heading-firstpage">
      Safespring Dokumentation
    </h1>
    <div class="content-summary-blogg">
      {{ .Params.intro }}</br></br></br>
      <a href="https://status.safespring.com" id="button">Driftstatus&nbsp;&nbsp;&nbsp;<i class="fas fa-tasks"></i>
      </a>
    </div>
  </div>
</div>


<!-- DOKUMENTATION BACKUP ------------------------------------------>

<div class="flexcontainer" style="align-items:baseline;">
  <div class="content-container">
    <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
        <img src="/tjanster/images/safespring-backup.jpg" alt="{{ .Title }}" class="d-block w-full">
  <div class="px-2 py-2">
    <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
      Support
    </div>
    <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
        |
    </div>
    <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
      Dokumentation
    </div>
    <h1 class="ff-serif font-weight-medium text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
      Safespring Backup
    </h1><br>
    <ul class="support-list">
      <li class="folder">Support</li>
      <ul class="support-list">
          <li><a href="https://docs.safespring.com/backup/status/">Status</a></li>
          <li><a href="https://docs.safespring.com/backup/getting-started/">Getting Started</a></li>
          <li><a href="https://docs.safespring.com/backup/introduction/">Introduction</a></li>
          <li class="folder">Installation</li>
          <ul class="support-list">
            <li><a href="https://docs.safespring.com/backup/install/overview/">Overview</a></li>
            <li><a href="https://docs.safespring.com/backup/install/apple-osx/">Apple macOS</a></li>
            <li><a href="https://docs.safespring.com/backup/install/debian-ubuntu/">Debian / Ubuntu</a></li>
            <li><a href="https://docs.safespring.com/backup/install/rhel/">Red Hat Linux</a></li>
            <li><a href="https://docs.safespring.com/backup/install/windows/">Windows</a></li>
            <li><a href="https://docs.safespring.com/backup/install/tdp-for-mssql/">TDP for MSSQL</a></li>
          </ul>
          <li><a href="https://docs.safespring.com/backup/performance/">Performance</a></li>
          <li class="folder">HowTos</li>
          <ul class="support-list">
            <li><a href="https://docs.safespring.com/backup/howto/restore-alternate/">Alternate restore</a></li>
            <li><a href="https://docs.safespring.com/backup/howto/vsphere/">vSphere</a></li>
            <li><a href="https://docs.safespring.com/backup/howto/encrypted/">Encryption</a></li>
            <li><a href="https://docs.safespring.com/backup/howto/includeexclude/">Includes & Excludes</a></li>
            <li><a href="https://docs.safespring.com/backup/howto/performance-tuning/">Performance tuning</a></li>
            <li><a href="https://docs.safespring.com/backup/howto/bare-metal-tbmr/">Bare metal recovery</a></li>
            <li><a href="https://docs.safespring.com/backup/howto/virtual-enviroments-single-file-restore/">Single file restore</a></li>
            <li><a href="https://docs.safespring.com/backup/howto/changing-files/">Changing files</a></li>
          </ul>
          <li><a href="https://docs.safespring.com/backup/api/">API</a></li>
          <li><a href="https://docs.safespring.com/backup/faq/">FAQ</a></li>
        </ul>
  </div>
  <a href="https://docs.safespring.com/backup/status/" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
    Backup Support
  </a>
  </div>
</div>

<!-- DOKUMENTATION STORAGE ------------------------------------------>

<div class="content-container">
  <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
      <img src="/tjanster/images/safespring-storage.jpg" alt="{{ .Title }}" class="d-block w-full">
<div class="px-2 py-2">
  <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
    Support
  </div>
  <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
      |
  </div>
  <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black" >
    Dokumentation
  </div>
  <h1 class="ff-serif font-weight-medium text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
    Safespring Storage
  </h1><br>
  <ul class="support-list">
    <li class="folder">Support</li>
    <ul class="support-list">
        <li><a href="https://docs.safespring.com/storage/generalinfo/">General S3 Info</a></li>
        <li class="folder">Examples</li>
          <ul class="support-list">
            <li><a href="https://docs.safespring.com/storage/s3cmd/">s3cmd config</a></li>
            <li><a href="https://docs.safespring.com/storage/s3fs/">s3fs config</a></li>
            <li><a href="https://docs.safespring.com/storage/cloudberry/">CloudBerry config</a></li>
            <li><a href="https://docs.safespring.com/storage/cyberduck/">CyberDuck config</a></li>
            <li><a href="https://docs.safespring.com/storage/duck-cli/">Duck CLI config</a></li>
            <li><a href="https://docs.safespring.com/storage/nextcloud-s3/">NextCloud S3</a></li>
          </ul>
        <li><a href="https://docs.safespring.com/storage/tips-n-tricks/">Tips and Tricks</a></li>
        <li><a href="https://docs.safespring.com/storage/other-backends/">Other Backends</a></li>
      </ul>
</div>
<a href="https://docs.safespring.com/storage/generalinfo/" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
  Storage Support
</a>
</div>
</div>

<!-- DOKUMENTATION COMPUTE ------------------------------------------>

<div class="content-container">
  <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
      <img src="/tjanster/images/safespring-compute.jpg" alt="{{ .Title }}" class="d-block w-full">
<div class="px-2 py-2">
  <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
    Support
  </div>
  <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
      |
  </div>
  <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black" >
    Dokumentation
  </div>
  <h1 class="ff-serif font-weight-medium text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
  Safespring Compute
  </h1><br>
  <ul class="support-list">
    <li class="folder">Support</li>
    <ul class="support-list">
        <li><a href="https://docs.safespring.com/compute/getting-started/">Getting Started</a></li>
        <li><a href="https://docs.safespring.com/compute/api/">API access</a></li>
        <li><a href="https://docs.safespring.com/compute/image/">Image service</a></li>
        <li><a href="https://docs.safespring.com/compute/volume/">Volume service</a></li>
        <li><a href="https://docs.safespring.com/compute/network/">Network service</a></li>
        <li><a href="https://docs.safespring.com/compute/keypairs/">Using Keypairs</a></li>
        <li><a href="https://docs.safespring.com/compute/ipv6-howto/">Enabling IPv6</a></li>
        <li><a href="https://docs.safespring.com/compute/connecting/">Connecting to Safespring</a></li>
        <li><a href="https://docs.safespring.com/compute/windows/">Windows images</a></li>
        <li><a href="https://docs.safespring.com/compute/vmware-import/">VMware import</a></li>
        <li><a href="https://docs.safespring.com/compute/migrate-between-projects/">Migrate instance</a></li>
      </ul>
</div>
<a href="https://docs.safespring.com/compute/getting-started/" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
  Compute Support
</a>
</div>
</div>

<!-- DOKUMENTATION SYNKZONE ------------------------------------------>

<!-- <div class="content-container">
  <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
      <img src="/tjanster/images/safespring-synkzone.jpg" alt="{{ .Title }}" class="d-block w-full">
<div class="px-2 py-2">
  <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
    Support
  </div>
  <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
      |
  </div>
  <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black" >
    Dokumentation
  </div>
  <h1 class="ff-serif font-weight-medium text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
    Synkzone by Safespring
  </h1><br>
  <ul class="support-list">
    <li class="folder">Support</li>
    <ul class="support-list">
        <li><a href="https://docs.safespring.com/synkzone/general-info/">General info</a></li>
        <li><a href="https://docs.safespring.com/synkzone/username-and-password/">Username & password</a></li>
        <li><a href="https://docs.safespring.com/synkzone/zones/">Zones</a></li>
        <li><a href="https://docs.safespring.com/synkzone/working-with-files/">Working with files</a></li>
        <li><a href="https://docs.safespring.com/synkzone/collaboration-and-conflict-management/">Collaboration</a></li>
        <li><a href="https://docs.safespring.com/synkzone/archived-files/">Archived files</a></li>
        <li><a href="https://docs.safespring.com/synkzone/miscellaneous/">Miscellaneous</a></li>
      </ul>
</div>
<a href="https://docs.safespring.com/synkzone/general-info/" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
  Synkzone Support
</a>
</div>
</div> -->

{{ partial "footer.html" . }}
