<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<!-- Full Navbar -->
<div class="navbar shadow-1">
  <div class="nav-flex">
    <a href="/en" class="logo">
      <img src={{ "/img/1C_Safespring_Logotyp_Vit_RGB.svg" | relURL }}>
    </a>
    <nav id="navigation" class="site-navigation" role="navigation">
      <ul class="menu">
        <li class="menu-item-flag"><a href="/"><img style="height:25px; width:auto; border:1px solid #fafefe; border-radius:100px" src="/img/sweden.png"></object></a></li>
        <li class="menu-item"><a id="link" target="_parent" href="tel:+460855107370" style="color: var(--web-green-color);"><i class="fas fa-phone fa-flip-horizontal" data-fa-transform="shrink-4"></i> +46 8-55 10 73 70</a></li>
        <li class="menu-item"><a class="link" href="/en/contact">Contact</a></li>
        </li>
        <li class="menu-item"><a class="link" href="/price">Price</a></li>
        <li class="menu-item"><a class="link" href="/en/services">Services</a>
          <ul class="dropdown">
            <li class="sub-menu"><a class="" href="/en/services/compute">Safespring Compute</a></li>
            <li class="sub-menu"><a class="" href="/en/services/storage">Safespring Storage</a></li>
            <li class="sub-menu"><a class="" target="_blank" href="https://docs.safespring.com/" style="color: var(--web-green-color);">Documentation</a></li>
          </ul>
        </li>
        <li class="menu-item"><a class="link" href="/en/about">About Safespring</a>
        </li>
      </ul>
    </nav>
</div>
</div>

<!-- Mobile Navbar -->
<nav id="h-bar" class="site-navigation" role="navigation">
  <div class="h-container">
    <a class="h-logo" href="/en">
      <img src={{ "/img/1C_Safespring_Logotyp_Vit_RGB.svg" | relURL }}>
    </a>
    <input id="toggle" type="checkbox" />
    <label class="hamburger" for="toggle">
      <div class="top"></div>
      <div class="meat"></div>
      <div class="bottom"></div>
    </label>
    <ul class="h-menu shadow-1">
        <li class="menu-item"><a class="" href="/en/about">About</a></li>
        <li class="menu-item">Services&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-down" data-fa-transform="shrink-5"></i></li>
          <ul class="menu-item" style="display: none;">
              <li class="sub-menu"><a class="" href="/en/services/compute">Safespring Compute</a></li>
              <li class="sub-menu"><a class="" href="/en/services/storage">Safespring Storage</a></li>
              <li class="sub-menu"><a arget="_blank" class="" href="https://docs.safespring.com/" style="color: var(--web-green-color);">Documentation</a></li>
            </ul>
        <li class="menu-item"><a class="" href="/price">Price</a></li>
        <li class="menu-item"><a class="" href="/en/contact">Contact</a></li>
        <li class="menu-item"><a id="link" target="_self" href="tel:+460855107370‬" style="color: var(--web-green-color);"><i class="fas fa-phone fa-flip-horizontal" data-fa-transform="shrink-5"></i> 08-55 10 73 70</a></li>
      </ul>
  </div>
</nav>
<script>
var coll = document.getElementsByClassName("menu-item");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var submenu = this.nextElementSibling;
    if (submenu.style.display === "block") {
      submenu.style.display = "none";
    } else {
      submenu.style.display = "block";
    }
  });
}
</script>
<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("h-bar").style.top = "0px";
  } else if (document.body.scrollTop > 1) {
    document.getElementById("h-bar").style.top = "-80px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
