{{ if $.Params.toc }}
<div class="toc">
<div class="ch-sidebar shadow-1">
  <div>
    <img class="ch-sidebar-logo" src="/img/safespring_cloud.svg" alt="Safespring Logotyp" />
  </div>
  <div class="content-body">
    <h2>{{ .Params.toc }}</h2>
    {{ .Page.TableOfContents | replaceRE "<ul>[[:space:]]*<li>[[:space:]]*<ul>" "<ul>" | replaceRE "</ul>[[:space:]]*</li>[[:space:]]*</ul>" "</ul>" |  safeHTML }}
  </div>
{{ else }}
{{ if .Params.saas }}
<div class="" style="margin-top: 15%;display: grid;grid-column: 8 / span 1;position: sticky;top: -206px;height: fit-content;">
<div class="content-container">
  <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
      <div class="d-block w-full"><img src="/img/saas/cards/{{ .Params.sidebarimage }}" alt="{{ .Params.sidebartitle }}"></div>
<div class="px-2 py-2">
  <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
    {{ .Params.sidebarsection }}
  </div>
  <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
      {{ if .Params.sidebardate }}|{{ else }} {{ end }}
  </div>
  <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
    {{ if .Params.sidebardate }}{{ .Params.sidebardate }}{{ else }} {{ end }}
  </div>
  <h1 class="ff-serif font-weight-light text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
    {{ .Params.sidebartitle }}
  </h1>
  <p class="mb-1">
    {{ .Params.sidebartext }}
  </p>
  {{ if .Params.sidebarwhitepaper }}{{ if .Params.iframe }}<iframe src="{{ .Params.form }}" width="250" height="300" style="border:0"></iframe>{{ else }}
  <a href="{{ .Params.sidebarlink }}" id="text-button" target="_blank">{{ .Params.sidebarknapp }}</a>
  {{ end }}{{ end }}
</div>
{{ else if .Params.meeting }}
<div class="" style="margin-top: 15%;display: grid;grid-column: 8 / span 1;position: sticky;top: 60px;height: 100%;">
<div class="content-container">
  <div class="body my-2 p-relative bg-white shadow-1">
  {{ if .Params.meetingurl }}<div class="calendly-inline-widget" data-url="{{ .Params.meetingurl }}" style="min-width:320px;height:1530px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>{{ else }}
  {{ end }}
</div>
</div></div>
{{ else }}<div class="ch-sidebar shadow-1" style="float:left">
  <div>
    <img class="ch-sidebar-logo" src="/img/safespring_cloud.svg" alt="Safespring Logotyp" />
  </div>
  <div>
    <h2 class="content-heading">About Safespring</h2>
    <p class="">Safespring produces secure, reliable, and flexible cloud services. Our infrastructure as a service is based on open source and open standards. We produce all our services within Europe and it's, therefore, easier for you to follow European local laws and regulations.</p>
    <br>
  </div>
  <h2>Newsletter</h2>
  <iframe src="https://pages.upsales.com/9549u1a61581d7e3e41b98d815a8c8dbfdc94-frame" width="100%" height="500" style="border:0"></iframe>
<br><br>
  <div class="read-more">
    <h2>Safespring Services</h2>
      <li class="content-body"><a href="/en/services/compute">&gt; Safespring Compute</a></li>
      <li class="content-body"><a href="/en/services/storage">&gt; Safespring Storage</a></li>
      <li class="content-body"><a target="_blank" href="/services/safespring-service-catalogue-2020.pdf">&gt; Service Catalogue</a></li>
      <li class="content-body"><a target="_blank" href="https://docs.safespring.com/">&gt; Documentation</a></li>
  </div>
</div>
{{ end }}
{{ end }}
