<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=dLJ9WQ5KB9">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=dLJ9WQ5KB9">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=dLJ9WQ5KB9">
<link rel="manifest" href="/favicons/site.webmanifest?v=dLJ9WQ5KB9">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=dLJ9WQ5KB9" color="#195f8c">
<link rel="shortcut icon" href="/favicons/favicon.ico?v=dLJ9WQ5KB9">
<meta name="apple-mobile-web-app-title" content="Safespring">
<meta name="application-name" content="Safespring">
<meta name="msapplication-TileColor" content="#195f8c">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png?v=dLJ9WQ5KB9">
<meta name="msapplication-config" content="/favicons/browserconfig.xml?v=dLJ9WQ5KB9">
<meta name="theme-color" content="#195f8c">
