<div class="footer">
  <div class="footer-container">
    <!-- Logo -->
    <!-- <a class="logo-footer" href="{{ .Site.Title }}">
      <img src={{ "/img/1c_safespring_logotyp_vit_rgb_2x.png" | relURL }}>
    </a> -->

    <!-- Contact Info -->
    <div class="contact">
      <!-- Adress -->
      <div class="address">
        <li>
          <a class="footer-head" href="/kontakt">ADRESS</a>
        </li>
        <li class="footer-text">Smidesvägen 12</li>
        <li class="footer-text">171 41 Solna</li>
      </div>

      <!-- Kontakt -->
      <div class="email">
        <li>
          <a class="footer-head" href="/kontakt">KONTAKT</a>
        </li>
        <li>
          <a class="footer-text" href="mailto:info@safespring.com">info@safespring.com</a>
        </li>
      </div>
    </div>

    <!-- Links -->
    <div class="navigation">
      <!-- Om Safespring -->
      <div class="about">
        <li>
          <a class="footer-head" href="/om-oss">OM SAFESPRING</a>
        </li>
        <li>
          <a class="footer-text" href="/om-oss">Vår historia</a>
        </li>
        <li>
          <a class="footer-text" href="/om-oss">Erbjudande</a>
        </li>
        <li>
          <a class="footer-text" href="/kontakt">Kontakt</a>
        </li>
      </div>

      <!-- Vårt Erbjudande -->
      <div class="offer">
        <li>
          <a class="footer-head" href="/tjanster">VÅRT ERBJUDANDE</a>
        </li>
        <li>
          <a class="footer-text" href="/safespring-backup">Safespring Backup</a>
        </li>
        <li>
          <a class="footer-text" href="/safespring-storage">Safespring Storage</a>
        </li>
        <li>
          <a class="footer-text" href="/safespring-compute">Safespring Compute</a>
        </li>
      </div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      <p>Upphovsrätt &copy {{ .Site.Copyright }}</p>
    </div>
  </div>
</div>