<div class="footer">

    <!-- Contact Info -->
    <div class="contact">
      <!-- Adress -->
      <div class="address">
        <li>
          <a class="footer-head" href="/kontakt">ADRESS</a>
        </li>
        <li class="footer-text">Rättarvägen 3</li>
        <li class="footer-text">169 68 Solna</li>
      </div>

      <!-- Kontakt -->
      <div class="email">
        <li>
          <a class="footer-head" href="/kontakt">KONTAKT</a>
        </li>
        <li>
          <a class="footer-text" href="mailto:info@safespring.com">info@safespring.com</a>
        </li>
        <li>
          <a class="footer-text" href="mailto:media@safespring.se">media@safespring.se</a>
        </li>
      </div>
    </div>

    <!-- Links -->
    <div class="navigation">
      <!-- Om Safespring -->
      <div class="about">
        <li>
          <a class="footer-head" href="/om-safespring">OM SAFESPRING</a>
        </li>
        <li>
          <a class="footer-text" href="/dokument/personuppgiftshantering/">GDPR</a>
        </li>
        <li>
          <a class="footer-text" href="/dokument/acceptable-use-policy/">Användarvillkor</a>
        </li>
        <li>
          <a class="footer-text" href="/dokument/cookies/">Om webbplatsen</a>
        </li>
      </div>

      <!-- Vårt Erbjudande -->
      <div class="offer">
        <li>
          <a class="footer-head" href="/tjanster">VÅRA TJÄNSTER</a>
        </li>
        <li>
          <a class="footer-text" href="/tjanster/compliant-kubernetes">Compliant Kubernetes</a>
        </li>
        <li>
          <a class="footer-text" href="/tjanster/safespring-compute">Safespring Compute</a>
        </li>
        <li>
          <a class="footer-text" href="/tjanster/safespring-storage">Safespring Storage</a>
        </li>
        <li>
          <a class="footer-text" href="/tjanster/safespring-backup">Safespring Backup</a>
        </li>
      </div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      <p>Upphovsrätt &copy; {{ now.Format "2006"}} Safespring</p>
    </div>
</div>

{{ if (findRE "<pre" .Content 1) }}
    <script src="/js/copy-code-button.js"></script>
{{ end }}
