<div class="safespring-footer-container">
  <div class="safespring-footer">
    <div class="safespring-footer-logo">
      <a href="{{ relref . "/" }}"
        ><img
          src="/img/logos/safespring_logotype_blue_svg.svg"
          alt="{{ T "footer.logo_alt" }}"
      /></a>
      <p>{{ i18n "menu.tagline" }}</p>
      <a class="button" href="{{ relref . "contact" }}"
        >{{ T "menu.contact" }}</a
      >
    </div>
    <div class="safespring-footer-menu">
      <ul>
        <li>{{ T "menu.platform" }}</li>
        <li>
          <a href="{{ relref . "services/compute" }}"
            >{{ T "menu.platform_compute" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "services/storage" }}"
            >{{ T "menu.platform_storage" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "services/containerplatform" }}"
            >{{ T "menu.platform_container" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "services/backup" }}"
            >{{ T "menu.platform_backup" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "services/machine-learning" }}"
            >{{ T "menu.platform_ai" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "services/database-as-a-service" }}"
            >{{ T "menu.platform_database" }}</a
          >
        </li>
      </ul>
    </div>
    <div class="safespring-footer-menu">
      <ul>
        <li>{{ T "menu.industries" }}</li>
        <li>
          <a href="{{ relref . "industries/research-and-education" }}"
            >{{ T "menu.industries_education" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "industries/eosc" }}"
            >{{ T "menu.industries_science" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "industries/government" }}"
            >{{ T "menu.industries_government" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "saas" }}">{{ T "menu.industries_saas" }}</a>
        </li>
        <li>
          <a href="{{ relref . "saas/application-developers" }}"
            >{{ T "menu.industries_application_developers" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "services/compliant-kubernetes" }}"
            >{{ T "menu.industries_paas" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "saas/medtech" }}"
            >{{ T "menu.industries_medtech" }}</a
          >
        </li>
      </ul>
    </div>
    <div class="safespring-footer-menu">
      <ul>
        <li>{{ T "knowledgehub.knowledgehub" }}</li>
        <li>
          <a href="{{ relref . "services/case" }}"
            >{{ T "knowledgehub.use_case" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "solution-brief" }}"
            >{{ T "knowledgehub.solution_brief" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "webinar" }}">{{ T "knowledgehub.webcast" }}</a>
        </li>
        <li>
          <a href="{{ relref . "blog" }}">{{ T "knowledgehub.blog" }}</a>
        </li>
        <li>
          <a href="{{ relref . "whitepaper" }}"
            >{{ T "knowledgehub.whitepaper" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "tech-update" }}"
            >{{ T "knowledgehub.tech_update" }}</a
          >
        </li>
      </ul>
    </div>
    <div class="safespring-footer-menu">
      <ul>
        <li>{{ T "menu.safespring" }}</li>
        <li>
          <a href="{{ relref . "about" }}">{{ T "menu.safespring_about" }}</a>
        </li>
        <li>
          <a href="{{ relref . "career" }}"
            >{{ T "menu.safespring_careers" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "data-centers" }}"
            >{{ T "menu.safespring_datacenters" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "environment" }}"
            >{{ T "menu.safespring_sustainability" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "our-partners" }}"
            >{{ T "menu.safespring_partners" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "become-partner" }}"
            >{{ T "menu.safespring_become_partner" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "faq" }}">{{ T "menu.safespring_faq" }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="safespring-footer-second">
    <div class="safespring-footer-social">
      <a href="https://www.linkedin.com/company/safespring/"
        ><img
          src="/img/logos/social-media/safespring-linkedin.svg"
          alt="{{ T "footer.social_linkedin_alt" }}"
      /></a>
      <a href="https://www.x.com/safespring/"
        ><img src="/img/logos/social-media/safespring-x.svg" alt="{{ T "footer.social_x_alt" }}"
      /></a>
      <a href="https://github.com/safespring/"
        ><img
          src="/img/logos/social-media/safespring-github.svg"
          alt="{{ T "footer.social_github_alt" }}"
      /></a>
      <a href="https://www.youtube.com/@safespring8922/"
        ><img
          src="/img/logos/social-media/safespring-youtube.svg"
          alt="{{ T "footer.social_youtube_alt" }}"
      /></a>
      <a href="https://www.facebook.com/Safespring-147994442601302/"
        ><img
          src="/img/logos/social-media/safespring-facebook.svg"
          alt="{{ T "footer.social_facebook_alt" }}"
      /></a>
    </div>
    <div class="safespring-footer-language">
      <div class="safespring-footer-language-icon">
        <p>{{ T "menu.choose_language" }}</p>
        {{ partial "language-switcher.html" . }}
      </div>
    </div>
  </div>

  <div class="safespring-footer-third">
    <div class="safespring-footer-copyright">
      <p>
        ©
        {{ T "menu.safespring_legal_name" }}
        2017-{{ now.Format "2006" }}
      </p>
    </div>
    <div class="safespring-footer-information-menu">
      <ul>
        <li>
          <a href="{{ relref . "documents/personal-data-processing" }}"
            >{{ T "menu.personal_data_policy" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "documents/cookies" }}"
            >{{ T "menu.cookies" }}</a
          >
        </li>
        <li>
          <a
            href="javascript:cookieTractor.openConsentSettings()"
            class="cookie-consent-settings"
            rel="nofollow"
            >{{ T "menu.cookie_settings" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "documents/acceptable-use-policy" }}"
            >{{ T "menu.acceptable_use_policy" }}</a
          >
        </li>
        <li>
          <a
            href="{{ relref . "contact" }}#{{ T "menu.company_information_hash" }}"
            >{{ T "menu.company_information" }}</a
          >
        </li>
        <li>
          <a href="{{ relref . "fr2000" }}">{{ T "menu.fr2000" }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{{ if (findRE "<pre" .Content 1) }}
  <script>
    function addLanguageLabels() {
      document
        .querySelectorAll('pre > code[class*="language-"]')
        .forEach(function (codeBlock) {
          var languageMatch = codeBlock.className.match(/language-(\w+)/);
          if (languageMatch) {
            var language = languageMatch[1];
            var pre = codeBlock.parentNode;
            if (language === "fallback") {
              language = " ";
            }
            pre.setAttribute("data-lang", language);
          }
        });
    }

    addLanguageLabels();

    document.querySelectorAll("pre").forEach((pre) => {
      const button = document.createElement("button");
      button.className = "copy-code-button";
      button.innerHTML = "{{ T "footer.copy_code" }}";

      button.addEventListener("click", () => {
        const code = pre.querySelector("code").textContent;
        navigator.clipboard
          .writeText(code)
          .then(() => {
            button.innerHTML = "{{ T "footer.copied" }}";
            setTimeout(() => {
              button.innerHTML = "{{ T "footer.copy_code" }}";
            }, 4000);
          })
          .catch(() => {
            button.innerHTML = "{{ T "footer.error" }}";
          });

        // Ta bort fokus från knappen efter 4 sekunder
        setTimeout(() => {
          button.blur();
        }, 4000);
      });

      pre.style.position = "relative";
      pre.style.display = "flex";
      button.style.position = "absolute";
      button.style.top = "0";
      button.style.right = "0";

      pre.appendChild(button);
    });
  </script>
{{ end }}
{{ if (findRE "<table" .Content 1) }}
  <script>
    // Hämta alla tabeller på sidan
    const tables = document.querySelectorAll("table");

    // Kör funktionen när sidan laddas
    window.addEventListener("load", function () {
      // Iterera över tabellerna
      tables.forEach(function (table) {
        // Iterera över tabellens rader
        const rows = table.querySelectorAll("tr");
        rows.forEach(function (row, rowIndex) {
          // Iterera över radens celler
          const cells = row.querySelectorAll("td");
          cells.forEach(function (cell, cellIndex) {
            // Hämta rubriktexten för den aktuella cellen från tabellens rubrikrad
            const headerCells = table.querySelectorAll("th");
            if (headerCells && headerCells.length > cellIndex) {
              const label = headerCells[cellIndex].textContent;
              // Lägg till data-label attributet till cellen med rubriktexten som värde
              cell.setAttribute("data-label", label);
            }
          });
        });
      });
    });
  </script>
{{ end }}
{{ if (findRE "<div class=\"mermaid\"" .Content 1) }}
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const safespringTheme = {
        theme: "base",
        themeVariables: {
          primaryColor: "#E8EFF3",
          primaryTextColor: "#417DA5",
          primaryBorderColor: "#FFFFFF00",
          lineColor: "#417DA5",
          secondaryColor: "#FAFEFE",
          secondaryTextColor: "#FAFEFE",
          fontFamily: "var(--mon-font)",
          labelColor: "#FFFFFF",
          actorBorder: "#FFFFFF",
          actorBkg: "#E8EFF3",
          actorTextColor: "#417DA5",
          actorLineColor: "#417DA5",
          signalColor: "#417DA5",
          labelBoxBkgColor: "#E8EFF3",
          labelBoxBorderColor: "#417DA5",
          arrowheadColor: "#417DA5",
          flowchartBackground: "#E8EFF3",
          todayLineColor: "#417DA5",
          classText: "#417DA5",
          classBackground: "#E8EFF3",
          classBorder: "#FFFFFF",
          tableNodeTextColor: "#417DA5",
          tableNodeBackground: "#E8EFF3",
          tableNodeBorderColor: "#FFFFFF",
          quadrantTitleFill: "var(--clear-blue-color)",
          quadrantPointFill: "var(--link-color)",
          quadrantPointTextFill: "var(--link-color)",
          pieOuterStrokeWidth: "0px",
          cScale0: "#E8EFF3",
          cScaleLabel0: "#417DA5",
          cScale1: "#E8EFF3",
          cScaleLabel1: "#417DA5",
          cScale2: "#E8EFF3",
          cScaleLabel2: "#417DA5",
          cScale3: "#E8EFF3",
          cScaleLabel3: "#417DA5",
          cScale4: "#E8EFF3",
          cScaleLabel4: "#417DA5",
          cScale5: "#E8EFF3",
          cScaleLabel5: "#417DA5",
          cScale6: "#E8EFF3",
          cScaleLabel6: "#417DA5",
          cScale7: "#E8EFF3",
          cScaleLabel7: "#417DA5",
          cScale8: "#E8EFF3",
          cScaleLabel8: "#417DA5",
          cScale9: "#E8EFF3",
          cScaleLabel9: "#417DA5",
          cScale10: "#E8EFF3",
          cScaleLabel10: "#417DA5",
          cScale11: "#E8EFF3",
          cScaleLabel11: "#417DA5",
          cScale12: "#E8EFF3",
          cScaleLabel12: "#417DA5",
        },
      };

      mermaid.initialize(safespringTheme);
    });
  </script>
{{ end }}
<style type="text/css">
  #CookieConsent .cookie-popup {
    background: #fafefe00 !important;
    backdrop-filter: blur(20px) !important;
    transition: 300ms;
  }

  #CookieConsent .cookie-popup > div {
    box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.1);
  }

  #CookieConsent .cookie-popup h1 {
    font: 300 30px/1 var(--hind-font) !important;
    color: var(--main-color);
  }

  #CookieConsent .cookie-popup h2 {
    font: 300 20px/1 var(--hind-font) !important;
    color: var(--clear-blue-color);
  }

  #CookieConsent .cookie-popup p {
    font: 300 16px/1.2 var(--mon-font);
  }

  #CookieConsent .cookie-popup .details {
    background-color: var(--cloud-blue-color) !important;
  }

  #CookieConsent .cookie-popup .details > button {
    background-color: var(--cloud-blue-color) !important;
  }

  #cc-footer a {
    display: none !important;
  }

  #CookieConsent .cookie-popup th {
    font: 599 14px/1 var(--mon-font) !important;
  }

  #CookieConsent .cookie-popup td {
    font: 300 14px/1 var(--mon-font);
  }

  #CookieConsent .cookie-popup label {
    font: 599 16px/1 var(--mon-font) !important;
  }

  #CookieConsent .cookie-popup .details > button span {
    font: 500 16px/1 var(--mon-font) !important;
    color: var(--main-color);
  }

  #CookieConsent .cookie-popup .details > button span:before {
    background-color: var(--main-color) !important;
  }
</style>
<script
  src="https://cdn.cookietractor.com/cookietractor-declaration.js"
  data-lang="{{ .Language.LanguageCode }}"
  data-id="17d1053b-7aec-41f1-b5b5-673ec4739d5a"
  defer
></script>
<script src="/js/safespring-cookie-consent.js" defer></script>
