<div class="browser_width colelem" id="u3783-bw">
    <div id="u3783">
        <!-- group -->
        <div class="clearfix" id="u3783_align_to_page">
            <div class="clearfix grpelem" id="pu27114">
                <!-- column -->
                <a class="nonblock nontext colelem" id="u27114" href="/index">
                    <!-- content -->
                </a>
                <div class="clearfix colelem" id="ppu27115-4">
                    <!-- group -->
                    <div class="clearfix grpelem" id="pu27115-4">
                        <!-- column -->
                        <a class="nonblock nontext clearfix colelem" id="u27115-4" href="/kontakt">
                            <!-- content -->
                            <h3 class="footerrubrik">ADRESS</h3>
                        </a>
                        <a class="nonblock nontext clearfix colelem" id="u27111-6" href="/kontakt">
                            <!-- content -->
                            <p class="footertext">Smidesvägen 12</p>
                            <p class="footertext">171 41 Solna</p>
                        </a>
                    </div>
                    <div class="grpelem" id="u27113">
                        <!-- simple frame -->
                    </div>
                    <div class="clearfix grpelem" id="pu27116-4">
                        <!-- column -->
                        <a class="nonblock nontext clearfix colelem" id="u27116-4" href="/kontakt">
                            <!-- content -->
                            <h3 class="footerrubrik">KONTAKT</h3>
                        </a>
                        <div class="footertext clearfix colelem" id="u27112-6">
                            <!-- content -->
                            <p>
                                <span>
                                    <a class="nonblock" href="mailto:info@safespring.com">info@safespring.com</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix grpelem" id="pu27117-4">
                <!-- column -->
                <a class="nonblock nontext clearfix colelem" id="u27117-4" href="/om-oss">
                    <!-- content -->
                    <h3 class="footerrubrik">OM SAFESPRING</h3>
                </a>
                <div class="footertext clearfix colelem" id="u27109-14">
                    <!-- content -->
                    <p>
                        <span>
                            <a class="nonblock" href="/om-oss">Vår historia</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="/om-oss">Erbjudande</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="/kontakt">Kontakt</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="grpelem" id="u27110">
                <!-- simple frame -->
            </div>
            <div class="clearfix grpelem" id="pu27118-4">
                <!-- column -->
                <a class="nonblock nontext clearfix colelem" id="u27118-4" href="/tjanster">
                    <!-- content -->
                    <h3 class="footerrubrik">VÅRT ERBJUDANDE</h3>
                </a>
                <div class="footertext clearfix colelem" id="u27108-14">
                    <!-- content -->
                    <p>
                        <span>
                            <a class="nonblock" href="/safespring-backup">Safespring Backup</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="/safespring-storage">Safespring Storage</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="/safespring-compute">Safespring Compute</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>