<div class="browser_width grpelem" id="u14996-bw">
    <div id="u14996">
        <!-- group -->
        <div class="clearfix" id="u14996_align_to_page">
            <div class="clearfix grpelem" id="pu27192">
                <!-- column -->
                <a class="nonblock nontext MuseLinkActive museBGSize colelem" id="u27192" href="/index">
                    <!-- content -->
                </a>
                <div class="clearfix colelem" id="ppu27193-4">
                    <!-- group -->
                    <div class="clearfix grpelem" id="pu27193-4">
                        <!-- column -->
                        <a class="nonblock nontext clearfix colelem" id="u27193-4" href="/kontakt">
                            <!-- content -->
                            <h3 class="footerrubrik">ADRESS</h3>
                        </a>
                        <a class="nonblock nontext clearfix colelem" id="u27189-6" href="/kontakt">
                            <!-- content -->
                            <p class="footertext">Smidesvägen 12</p>
                            <p class="footertext">171 41 Solna</p>
                        </a>
                    </div>
                    <div class="grpelem" id="u27191">
                        <!-- simple frame -->
                    </div>
                    <div class="clearfix grpelem" id="pu27194-4">
                        <!-- column -->
                        <a class="nonblock nontext clearfix colelem" id="u27194-4" href="/kontakt">
                            <!-- content -->
                            <h3 class="footerrubrik">KONTAKT</h3>
                        </a>
                        <div class="footertext clearfix colelem" id="u27190-6">
                            <!-- content -->
                            <p>
                                <span>
                                    <a class="nonblock" href="mailto:info@safespring.com">info@safespring.com</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix grpelem" id="pu27195-4">
                <!-- column -->
                <a class="nonblock nontext clearfix colelem" id="u27195-4" href="/om-oss">
                    <!-- content -->
                    <h3 class="footerrubrik">OM SAFESPRING</h3>
                </a>
                <div class="footertext clearfix colelem" id="u27187-14">
                    <!-- content -->
                    <p>
                        <span>
                            <a class="nonblock" href="/om-oss">Vår historia</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="/om-oss">Erbjudande</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="/kontakt">Kontakt</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="grpelem" id="u27188">
                <!-- simple frame -->
            </div>
            <div class="clearfix grpelem" id="pu27196-4">
                <!-- column -->
                <a class="nonblock nontext clearfix colelem" id="u27196-4" href="/tjanster">
                    <!-- content -->
                    <h3 class="footerrubrik">VÅRT ERBJUDANDE</h3>
                </a>
                <div class="footertext clearfix colelem" id="u27186-14">
                    <!-- content -->
                    <p>
                        <span>
                            <a class="nonblock" href="/safespring-backup">Safespring Backup</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="/safespring-storage">Safespring Storage</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="/safespring-compute">Safespring Compute</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>