<div class="browser_width colelem" id="u15906-bw">
    <div id="u15906">
        <!-- group -->
        <div class="clearfix" id="u15906_align_to_page">
            <div class="clearfix grpelem" id="pu27153">
                <!-- column -->
                <a class="nonblock nontext colelem" id="u27153" href="index.html">
                    <!-- content -->
                </a>
                <div class="clearfix colelem" id="ppu27154-4">
                    <!-- group -->
                    <div class="clearfix grpelem" id="pu27154-4">
                        <!-- column -->
                        <a class="nonblock nontext clearfix colelem" id="u27154-4" href="kontakt.html">
                            <!-- content -->
                            <h3 class="footerrubrik">ADRESS</h3>
                        </a>
                        <a class="nonblock nontext clearfix colelem" id="u27150-6" href="kontakt.html">
                            <!-- content -->
                            <p class="footertext">Smidesvägen 12</p>
                            <p class="footertext">171 41 Solna</p>
                        </a>
                    </div>
                    <div class="grpelem" id="u27152">
                        <!-- simple frame -->
                    </div>
                    <div class="clearfix grpelem" id="pu27155-4">
                        <!-- column -->
                        <a class="nonblock nontext clearfix colelem" id="u27155-4" href="kontakt.html">
                            <!-- content -->
                            <h3 class="footerrubrik">KONTAKT</h3>
                        </a>
                        <div class="footertext clearfix colelem" id="u27151-6">
                            <!-- content -->
                            <p>
                                <span>
                                    <a class="nonblock" href="mailto:info@safespring.com">info@safespring.com</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix grpelem" id="pu27156-4">
                <!-- column -->
                <a class="nonblock nontext clearfix colelem" id="u27156-4" href="om-oss.html">
                    <!-- content -->
                    <h3 class="footerrubrik">OM SAFESPRING</h3>
                </a>
                <div class="footertext clearfix colelem" id="u27148-14">
                    <!-- content -->
                    <p>
                        <span>
                            <a class="nonblock" href="om-oss.html">Vår historia</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="om-oss.html">Erbjudande</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="kontakt.html">Kontakt</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="grpelem" id="u27149">
                <!-- simple frame -->
            </div>
            <div class="clearfix grpelem" id="pu27157-4">
                <!-- column -->
                <a class="nonblock nontext MuseLinkActive clearfix colelem" id="u27157-4" href="tjanster.html">
                    <!-- content -->
                    <h3 class="footerrubrik">VÅRT ERBJUDANDE</h3>
                </a>
                <div class="footertext clearfix colelem" id="u27147-14">
                    <!-- content -->
                    <p>
                        <span>
                            <a class="nonblock" href="safespring-backup.html">Safespring Backup</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="safespring-storage.html">Safespring Storage</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            <a class="nonblock" href="safespring-compute.html">Safespring Compute</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>