<!DOCTYPE html>
<html lang='{{ if eq .Params.language "En"}}en{{else if eq .Params.lanuage "No"}}no{{else}}sv{{end}}'>
<head>
  <!-- Site Title changes according to current page -->
  <title>Safespring | {{ if .Title }}{{ .Title }}{{ else }}Svensk publik molnplattform{{ end }}</title>
  <meta charset="utf-8">
  
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/main-v2.css" >

  <!-- Fonts-->
  <link rel="stylesheet" type="text/css" href="/fonts/fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="/fonts/solid.min.css">
  <link rel="stylesheet" type="text/css" href="/fonts/custom-icons.min.css">

  <!-- Scripts -->
  <script defer src="//cdn.cookietractor.com/cookietractor.js" data-lang='{{ if eq .Params.language "En"}}en-GB{{else if eq .Params.language "No"}}nb-NO{{else}}sv-SE{{end}}' data-id="17d1053b-7aec-41f1-b5b5-673ec4739d5a"></script>
  <script defer src="/js/safespring-cookie-consent.js"></script>
  <script defer src="/js/lazysizes.min.js"></script>
  <script defer src="/js/text-balancer.js"></script>
  <script defer src="/js/hls.min.js"></script>
  <meta property="og:title" content="Safespring | {{ .Title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:image" content='https://www.safespring.com/{{ if isset .Params "socialmedia" }}img/{{ index .Params "socialmedia" }}{{ else if eq .Params.language "No" }}img/safespring-social_media-animation-norway.gif{{ else }}img/socialmedia/safespring-start.png{{ end }}'>    
  <meta property="og:description" content="{{ if isset .Params "intro" }}{{ index .Params "intro" }}{{ else }}Safespring är en publik molnplattform som är lokalt producerad. Med trygga datacenter håller du din data inom landets gränser. Läs mer!{{ end }}">
  <meta property="og:site_name" content="Safespring">
  <meta name="author" content="{{ .Params.author }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="{{ .Site.Params.meta.keywords }}">
  <meta name="description" content="{{ if isset .Params "intro" }}{{ index .Params "intro" }}{{ else }}Safespring är en publik molnplattform som är lokalt producerad. Med trygga datacenter håller du din data inom landets gränser. Läs mer!{{ end }}">
  <link rel="canonical" href="https://www.safespring.com{{ .Permalink }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ if isset .Params "noindex" }}
  <meta name="robots" content="noindex">
  {{ else }}{{ end }}

  {{ partial "favicons.html" . }}
  </head>