<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<!-- Full Navbar -->
<div class="navbar shadow-1">
  <div class="nav-flex">
    <a href="{{ .Site.BaseURL }}" class="logo">
      <img src={{ "/img/1C_Safespring_Logotyp_Vit_RGB.svg" | relURL }}>
    </a>
    <nav id="navigation" class="site-navigation" role="navigation">
      <ul class="menu">
        <li class="menu-item"><a id="link" target="_parent" href="tel:+460855107370" style="color: var(--web-green-color);"><i class="fas fa-phone fa-flip-horizontal" data-fa-transform="shrink-4"></i> 08-55 10 73 70</a></li>
        <li class="menu-item"><a class="link" href="/kontakt">Kontakt</a></li>
        <li class="menu-item"><a class="link" href="/publikationer">Aktuellt</a>
          <ul class="dropdown">
            <li class="sub-menu"><a class="" href="/event">Event</a></li>
            <li class="sub-menu"><a class="" href="/blogg">Blogg</a></li>
            <li class="sub-menu"><a class="" href="/whitepaper">White Papers</a></li>
            <li class="sub-menu"><a class="" href="/publikationer">Publikationer</a></li>
          </ul>
        </li>
        <li class="menu-item"><a class="link" href="/pris">Pris</a></li>
        <li class="menu-item"><a class="link" href="/branscher">Branscher</a>
          <ul class="dropdown">
            <li class="sub-menu"><a class="" href="/branscher/utbildning-forskning">Utbildning och forskning</a></li>
            <li class="sub-menu"><a class="" href="/branscher/myndigheter">Myndigheter</a></li>
            <li class="sub-menu"><a class="" href="/branscher/kommuner">Kommuner</a></li>
            <li class="sub-menu"><a class="" href="/branscher/applikationsutvecklare">Applikationsutvecklare</a></li>
            <li class="sub-menu"><a class="" href="/branscher/it-leverantorer">IT-leverantörer</a></li>
          </ul>
        </li>
        <li class="menu-item"><a class="link" href="/tjanster">Tjänster</a>
          <ul class="dropdown">
            <li class="sub-menu"><a class="" href="/tjanster/">Om våra tjänster</a></li>
            <li class="sub-menu"><a class="" href="/tjanster/safespring-backup">Backup</a></li>
            <li class="sub-menu"><a class="" href="/tjanster/safespring-storage">Storage</a></li>
            <li class="sub-menu"><a class="" href="/tjanster/safespring-compute">Compute</a></li>
            <li class="sub-menu"><a class="" href="/tjanster/synkzone">Synkzone by Safespring</a></li>
            <li class="sub-menu"><a class="" href="/tjanster/hybrid-cloud">Hybrid Cloud</a></li>
            <li class="sub-menu"><a class="" href="/tjanster/managed-private-cloud">Managed Private Cloud</a></li>
            <li class="sub-menu"><a class="" href="/tjanster/devops">DevOps</a></li>
            <li class="sub-menu"><a class="" href="/tjanster/konsulttjanster">Konsulttjänster</a></li>
            <!-- <li class="sub-menu"><a class="" href="/tjanster/utbildning">Utbildning</a></li> -->
            <li class="sub-menu"><a class="" href="/support" style="color: var(--web-green-color);">Support</a></li>
          </ul>
        </li>
        <li class="menu-item"><a class="link" href="/om-safespring">Om Safespring</a>
          <ul class="dropdown">
            <li class="sub-menu"><a class="" href="/om-safespring/">Om oss</a></li>
            <li class="sub-menu"><a class="" href="/om-safespring/samarbeten-och-partners">Samarbeten och Partners</a></li>
            <li class="sub-menu"><a class="" href="/om-safespring/bli-partner">Bli partner med oss!</a></li>
            <!-- <li class="sub-menu"><a class="" href="/om-safespring/ramavtal">Ramavtal</a></li> -->
            <li class="sub-menu"><a class="" href="/referenser">Kundreferenser</a></li>
            <li class="sub-menu"><a class="" href="/om-safespring/datacenter">Våra datacenter</a></li>
            <li class="sub-menu"><a class="" href="/om-safespring/miljo-och-hallbarhet">Miljö och hållbarhet</a></li>
          </ul>
        </li>
      </ul>
    </nav>
</div>
</div>

<!-- Mobile Navbar -->
<nav id="h-bar" class="site-navigation" role="navigation">
  <div class="h-container">
    <a class="h-logo" href="{{ .Site.BaseURL }}">
      <img src={{ "/img/1C_Safespring_Logotyp_Vit_RGB.svg" | relURL }}>
    </a>

    <input id="toggle" type="checkbox" />
    <label class="hamburger" for="toggle">
      <div class="top"></div>
      <div class="meat"></div>
      <div class="bottom"></div>
    </label>

    <ul class="h-menu shadow-1">
          <li class="menu-item">Om Safespring&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-down" data-fa-transform="shrink-5"></i></li>
          <ul class="menu-item" style="display: none;">
            <li class="sub-menu"><a class="" href="/om-safespring/">Om oss</a></li>
            <li class="sub-menu"><a class="" href="/om-safespring/samarbeten-och-partners">Samarbeten och Partners</a></li>
            <!--<li class="sub-menu"><a class="" href="/om-safespring/ramavtal">Ramavtal</a></li>-->
            <li class="sub-menu"><a class="" href="/referenser">Kundreferenser</a></li>
            <li class="sub-menu"><a class="" href="/om-safespring/datacenter">Våra datacenter</a></li>
            <li class="sub-menu"><a class="" href="/om-safespring/miljo-och-hallbarhet">Miljö och hållbarhet</a></li>
          </ul>

        <li class="menu-item">Tjänster&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-down" data-fa-transform="shrink-5"></i></li>
          <ul class="menu-item" style="display: none;">
              <li class="sub-menu"><a class="" href="/tjanster/safespring-backup">Backup</a></li>
              <li class="sub-menu"><a class="" href="/tjanster/safespring-storage">Storage</a></li>
              <li class="sub-menu"><a class="" href="/tjanster/safespring-compute">Compute</a></li>
              <li class="sub-menu"><a class="" href="/tjanster/synkzone">Synkzone by Safespring</a></li>
              <li class="sub-menu"><a class="" href="/tjanster/hybrid-cloud">Hybrid Cloud</a></li>
              <li class="sub-menu"><a class="" href="/tjanster/managed-private-cloud">Managed Private Cloud</a></li>
              <li class="sub-menu"><a class="" href="/tjanster/devops">DevOps</a></li>
              <li class="sub-menu"><a class="" href="/tjanster/konsulttjanster">Konsulttjänster</a></li>
              <!-- <li class="sub-menu"><a class="" href="/tjanster/utbildning">Utbildning</a></li> -->
              <li class="sub-menu"><a class="" href="/support" style="color: var(--web-green-color);">Support</a></li>
            </ul>
        <li class="menu-item">Branscher&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-down" data-fa-transform="shrink-5"></i></li>
          <ul class="menu-item" style="display: none;">
            <li class="sub-menu"><a class="" href="/branscher/utbildning-forskning">Utbildning och forskning</a></li>
            <li class="sub-menu"><a class="" href="/branscher/myndigheter">Myndigheter</a></li>
            <li class="sub-menu"><a class="" href="/branscher/kommuner">Kommuner</a></li>
            <li class="sub-menu"><a class="" href="/branscher/applikationsutvecklare">Applikationsutvecklare</a></li>
            <li class="sub-menu"><a class="" href="/branscher/it-leverantorer">IT-leverantörer</a></li>
          </ul>
        <li class="menu-item"><a class="" href="/pris">Pris</a></li>
        <li class="menu-item">Aktuellt&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-down" data-fa-transform="shrink-5"></i></li>
          <ul class="menu-item" style="display: none;">
            <li class="sub-menu"><a class="" href="/event">Event</a></li>
            <li class="sub-menu"><a class="" href="/blogg">Blogg</a></li>
            <li class="sub-menu"><a class="" href="/whitepaper">White Papers</a></li>
            <li class="sub-menu"><a class="" href="/publikationer">Publikationer</a></li>
          </ul>
        <li class="menu-item"><a class="" href="/kontakt">Kontakt</a></li>
        <li class="menu-item"><a id="link" target="_self" href="tel:+460855107370‬" style="color: var(--web-green-color);"><i class="fas fa-phone fa-flip-horizontal" data-fa-transform="shrink-5"></i> 08-55 10 73 70</a></li>
      </ul>
  </div>
</nav>
<script>
var coll = document.getElementsByClassName("menu-item");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var submenu = this.nextElementSibling;
    if (submenu.style.display === "block") {
      submenu.style.display = "none";
    } else {
      submenu.style.display = "block";
    }
  });
}
</script>
<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("h-bar").style.top = "0";
  } else if (document.body.scrollTop > 1) {
    document.getElementById("h-bar").style.top = "-200px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
