<div class="clearfix colelem" id="pu15072">
    <!-- group -->
    <div class="size_fixed" id="u15072">
        <!-- custom html -->
    </div>
    
    <div class="browser_width" id="u15057-bw">
        <div id="u15057">
            <!-- simple frame -->
        </div>
    </div>

    <nav class="MenuBar Format-2 clearfix" id="menuu16867">
        <!-- horizontal box -->
        <div class="MenuItemContainer clearfix grpelem" id="u16868">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u16869" href="/tjanster">
                <!-- vertical box -->
                <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u16870-4">
                    <!-- content -->
                    <h2>VÅRT ERBJUDANDE</h2>
                </div>
            </a>
            <div class="SubMenu MenuLevel1 clearfix" id="u16873">
                <!-- vertical box -->
                <ul class="SubMenuView clearfix colelem" id="u16874">
                    <!-- vertical box -->
                    <li class="MenuItemContainer clearfix colelem" id="u16882">
                        <!-- horizontal box -->
                        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u16885" href="/safespring-backup">
                            <!-- vertical box -->
                            <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u16887-5">
                                <!-- content -->
                                <h2 id="u16887-3">SAFESPRING
                                    <span id="u16887-2">BACKUP</span>
                                </h2>
                            </div>
                        </a>
                    </li>
                    <li class="MenuItemContainer clearfix colelem" id="u16875">
                        <!-- horizontal box -->
                        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u16876" href="/safespring-storage">
                            <!-- vertical box -->
                            <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u16879-5">
                                <!-- content -->
                                <h2 id="u16879-3">SAFESPRING
                                    <span id="u16879-2">STORAGE</span>
                                </h2>
                            </div>
                        </a>
                    </li>
                    <li class="MenuItemContainer clearfix colelem" id="u16889">
                        <!-- horizontal box -->
                        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u16890" href="/safespring-compute">
                            <!-- vertical box -->
                            <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u16892-5">
                                <!-- content -->
                                <h2 id="u16892-3">SAFESPRING
                                    <span id="u16892-2">COMPUTE</span>
                                </h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="MenuItemContainer clearfix grpelem" id="u17704">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u17705" href="/pris">
                <!-- vertical box -->
                <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u17707-4">
                    <!-- content -->
                    <h2>PRIS</h2>
                </div>
            </a>
        </div>
        <div class="MenuItemContainer clearfix grpelem" id="u16910">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u16911" href="/kundreferenser">
                <!-- vertical box -->
                <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u16914-4">
                    <!-- content -->
                    <h2>REFERENSER</h2>
                </div>
            </a>
        </div>
        <div class="MenuItemContainer clearfix grpelem" id="u16896">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u16899" href="/aktuellt">
                <!-- vertical box -->
                <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u16900-4">
                    <!-- content -->
                    <h2>AKTUELLT</h2>
                </div>
            </a>
        </div>
        <div class="MenuItemContainer clearfix grpelem" id="u16903">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u16906" href="/support">
                <!-- vertical box -->
                <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u16907-4">
                    <!-- content -->
                    <h2>SUPPORT</h2>
                </div>
            </a>
        </div>
    </nav>

    <a class="nonblock nontext MuseLinkActive museBGSize" id="u29205" href="/index"><!-- content --></a>
</div>