<div class="clearfix colelem" id="pu15919">
    <!-- group -->
    <div class="size_fixed" id="u15919">
        <!-- custom html -->
    </div>

    <div class="browser_width" id="u15976-bw">
        <div class="ose_pre_init" id="u15976">
            <!-- simple frame -->
        </div>
    </div>

    <div id="u15924">
        <!-- simple frame -->
    </div>

    <nav class="MenuBar Format-2 clearfix" id="menuu20567">
        <!-- horizontal box -->
        <div class="MenuItemContainer clearfix grpelem" id="u20575">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u20576" href="/tjanster">
                <!-- vertical box -->
                <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20578-4">
                    <!-- content -->
                    <h2>VÅRT ERBJUDANDE</h2>
                </div>
            </a>
            <div class="SubMenu MenuLevel1 clearfix" id="u20580">
                <!-- vertical box -->
                <ul class="SubMenuView clearfix colelem" id="u20581">
                    <!-- vertical box -->
                    <li class="MenuItemContainer clearfix colelem" id="u20582">
                        <!-- horizontal box -->
                        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u20583" href="/safespring-backup">
                            <!-- vertical box -->
                            <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20586-5">
                                <!-- content -->
                                <h2 id="u20586-3">SAFESPRING
                                    <span id="u20586-2">BACKUP</span>
                                </h2>
                            </div>
                        </a>
                    </li>
                    <li class="MenuItemContainer clearfix colelem" id="u20589">
                        <!-- horizontal box -->
                        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u20592" href="/safespring-storage">
                            <!-- vertical box -->
                            <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20594-5">
                                <!-- content -->
                                <h2 id="u20594-3">SAFESPRING
                                    <span id="u20594-2">STORAGE</span>
                                </h2>
                            </div>
                        </a>
                    </li>
                    <li class="MenuItemContainer clearfix colelem" id="u20596">
                        <!-- horizontal box -->
                        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u20599" href="/safespring-compute">
                            <!-- vertical box -->
                            <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20602-5">
                                <!-- content -->
                                <h2 id="u20602-3">SAFESPRING
                                    <span id="u20602-2">COMPUTE</span>
                                </h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="MenuItemContainer clearfix grpelem" id="u20610">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u20613" href="/pris">
                <!-- vertical box -->
                <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20614-4">
                    <!-- content -->
                    <h2>PRIS</h2>
                </div>
            </a>
        </div>
        <div class="MenuItemContainer clearfix grpelem" id="u20603">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u20606" href="/kundreferenser">
                <!-- vertical box -->
                <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20609-4">
                    <!-- content -->
                    <h2>REFERENSER</h2>
                </div>
            </a>
        </div>
        <div class="MenuItemContainer clearfix grpelem" id="u20617">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive Format-2 clearfix colelem" id="u20620" href="/aktuellt">
                <!-- vertical box -->
                <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20623-4">
                    <!-- content -->
                    <h2>AKTUELLT</h2>
                </div>
            </a>
        </div>
        <div class="MenuItemContainer clearfix grpelem" id="u20568">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u20571" href="/support">
                <!-- vertical box -->
                <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20574-4">
                    <!-- content -->
                    <h2>SUPPORT</h2>
                </div>
            </a>
        </div>
    </nav>

    <a class="nonblock nontext" id="u29202" href="/index"><!-- content --></a>
</div>