
	{{ partial "head.html" . }}

		{{ partial "g-tag-manager.html" . }} <!-- NAVBAR -->
	 {{ partial "header.html" . }} <!-- HEADING -->
	 <div class="heading-sub" style="background: url(/img/blue/{{ if .Params.background }}{{ .Params.background }}{{ else }}safespring_bilder_9.jpg{{ end }}); background-size: cover; background-position: center;">
	 	<div class="heading-content">
			<div class="content-meta-post">
			</div>
			<br>
			<h1 class="post-heading-firstpage">
				Kontakta Safespring
			</h1>
			<div class="content-summary-blogg">
				Kul att du vill komma i kontakt med oss! Här hittar du förhoppningsvis en kanal som passar dig!
			</div>
			<br>
			<br>
	 	</div>
	 </div>

	<!-- HEADING -->
	<!-- CONTENT -->
	<main class="content-chalmers">
		<!-- Main  -->
		<div class="ch-content">
			<div class="content-body">
				<p>Safespring har verksamhet i Sverige och i Norge med huvudkontor i Solna. Enklast kommer du i kontakt med oss via telefon eller mail. För generella frågor kan du med fördel ringa oss eller skicka ett mail vår info-adress,
men du är naturligtvis även välkommen att kontakta någon av våra medarbetare direkt, du finner kontaktinformationen till höger. <br><br><a id="button" href="tel:+460855107370‬"><i class="fas fa-phone fa-flip-horizontal" data-fa-transform="shrink-5"></i> 08-55 10 73 70</a>&nbsp;&nbsp;&nbsp;&nbsp;<a id="text-button" href="mailto:info@safespring.com‬"><i class="fas fa-envelope fa-flip-horizontal" data-fa-transform="shrink-5"></i> info@safespring.com</a></p>
				<h2>Testa våra tjänster</h2>
				<p>Vill du testa våra tjänster? Du kan enkelt skapa ett demokonto hos Safespring där du gratis kan testa våra tjänster. Du får tillgång till en pool med resurser som du kan använda som du vill för att utvärdera och testa vår miljö. <a href="#testa-safespring" id="text-button">Skapa konto</a></p>
				<h2>Följ oss på sociala medier</h2>
				<p>Aktuella nyheter från oss och branchen uppdateras regelbundet i våra sociala kanaler. Det är också ett enkelt sätt för dig att kommentera och meddela oss om vår verksamhet.</p>
				<div class="partner-grid">
				<a href="https://www.linkedin.com/company/safespring/"><div class="partner-container"><img class="partnerlogo" src="/img/logos/safespring_linkedin.png"></div></a>
				<a href="https://www.facebook.com/Safespring-147994442601302/"><div class="partner-container"><img class="partnerlogo" src="/img/logos/safespring_facebook.png"></div></a>
				<a href="https://www.youtube.com/channel/UCvMh9YaZWGixXoIwZRRUU8A"><div class="partner-container"><img class="partnerlogo" src="/img/logos/safespring_youtube.png"></div></a>
				<a href="https://twitter.com/safespring"><div class="partner-container"><img class="partnerlogo" src="/img/logos/safespring_twitter.png"></div></a>
				</div>
				<div>
					<h2>Besöksadress Sverige</h2>
					<p>Smidesvägen 12<br>
					171 41 Solna<br>
					Sverige<br>
					<br>
					<iframe frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2033.4512155799866!2d17.979684316731618!3d59.35880798166926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9db89a7f86bf%3A0x6c1a43d93fcbf297!2sSafespring!5e0!3m2!1ssv!2sse!4v1528722539706" style="border:0" width="300"></iframe></p>
					<h2>Besöksadress Norge</h2>
					<p>Lysaker Torg 12<br>
					1366 Lysaker, Oslo<br>
					Norge</p><br>
					<iframe frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.2299012175845!2d10.633605316302893!3d59.91173178186637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416cfa39be1a6b%3A0x328bf62a2a8f42cc!2sLysaker+Torg+12%2C+1366+Lysaker%2C+Norge!5e0!3m2!1ssv!2sse!4v1530192586614" style="border:0" width="300"></iframe>
				</div>
				{{ partial "form.html" . }}
			</div>
  </div>
			<!-- SIDEBAR -->
			<div class="kontakt-sidebar">
				<!-- FREDRIC WALLSTEN -->
				<div>
					<img alt="Fredric Wallsten, VD, Försäljningschef Norge" src="/img/kontakt/fredric-wallsten.png">
					<h2>Fredric Wallsten</h2>
					<p>VD Sverige & Norge<br>
					<a href="mailto:fredric.wallsten@safespring.se">fredric.wallsten@safespring.se</a><br>
					<a href="tel:+46766292502">‭+46 76-629 25 02</a></p>
				</div><!-- JOHAN EDEVÅG -->
				<div>
					<img alt="Johan Edevåg, Försäljningschef Sverige" src="/img/kontakt/johan-edevag.png">
					<h2>Johan Edevåg</h2>
					<p>Försäljningschef Sverige<br>
					<a href="mailto:johan.edevag@safespring.se">johan.edevag@safespring.se</a><br>
					<a href="tel:+46705890255">+46 70-589 02 55‬</a></p>
				</div><!-- MARCUS BOBEG -->
				<div>
					<img alt="Mikael Schütt, Vice VD" src="/img/kontakt/mikael-schutt.png">
					<h2>Mikael Schütt</h2>
					<p>Styrelseordförande / Vice VD<br>
					<a href="mailto:mikael.schutt@safespring.se">mikael.schutt@safespring.se</a><br>
					<a href="tel:+46730935070‬‬">+46 73-093 50 70‬‬</a></p>
				</div>
				<div>
					<img alt="Gabriel Paues, Cloud Architect" src="/img/kontakt/gabriel-paues.png">
					<h2>Gabriel Paues</h2>
					<p>Cloud Architect<br>
					<a href="mailto:gabriel.paues@safespring.se">gabriel.paues@safespring.se</a><br>
					<a href="tel:‭+46762770776‬">‭+46 76-277 07 76‬‬</a></p>
				</div>
				<div>
					<img alt="Jan Ivar Beddari, CTO" src="/img/kontakt/jan-ivar-beddari.png">
					<h2>Jan Ivar Beddari</h2>
					<p>CTO<br>
					<a href="mailto:beddari@safespring.com">beddari@safespring.com</a><br>
				</div>
				<div>
					<img alt="Marcus Boberg, Informations- och Marknadsansvarig" src="/img/kontakt/marcus-boberg.png">
					<h2>Marcus Boberg</h2>
					<p>Informations- och Marknadsansvarig<br>
					<a href="mailto:marcus.boberg@safespring.se">marcus.boberg@safespring.se</a><br>
					<a href="tel:+46721864701">+46 72-186 47 01‬</a></p>
				</div>
				<div>
					<br>
					<br>
				</div>
					<div id="button"><a href="mailto:sales@safespring.se">Säljavdelningen</a></div>
					<div id="button"><a href="mailto:media@safespring.se">Infoavdelningen</a></div>
					<div class="read-more">
				    <h2>Läs mer om:</h2>
				      <li class="content-body"><a href="/tjanster/safespring-backup">&gt; Safespring Backup</a></li>
				      <li class="content-body"><a href="/tjanster/safespring-compute">&gt; Safespring Compute</a></li>
				      <li class="content-body"><a href="/tjanster/safespring-storage">&gt; Safespring Storage</a></li>
				      <li class="content-body"><a href="/tjanster/hybrid-cloud">&gt; Hybrid Cloud</a></li>
				      <li class="content-body"><a href="/tjanster/managed-private-cloud/">&gt; Managed Private Cloud</a></li>
				      <li class="content-body"><a href="/tjanster/konsulttjanster">&gt; Konsulttjänster</a></li>
				      <li class="content-body"><a href="/support">&gt; Support</a></li>

				  </div>
			</div>
	</main>
	<!-- FOOTER -->
	{{ partial "footer.html" . }}
