<style>
  .aktuellt {
    background: #f9ffff url("/img/safespring_bilder_10.jpg?crc=4095481607") no-repeat center -300px fixed;
    background-size: cover;
  }
</style>

<!-- Google Tag Manager -->
{{ partial "g-tag-manager.html" . }}

<!-- NAVBAR -->
{{ partial "header.html" . }}

<!-- HEADING -->
<div class="heading-sub">
    <div class="heading-content">
        <h1>Kundreferenser</h1>
    </div>
</div>

<!-- CONTENT -->
<main class="kun">
  <div class="kun-container">

    <div class="kun-main">
      <div class="kun-top">
        <div class="kun-img"></div>

        <div class="content-heading">
          <h2>Safespring löser Chalmers Tekniska Högskolas backupbehov</h2>
        </div>

        <div class="content-body">
          <p id="kun-body">"Vi känner oss tryggare med Safesprings backuplösning och har en kontinuitet vi inte hade förut. Tjänsten uppfyller förväntningarna både ur ett tekniskt-, informationssäkerhetsmässigt- och ekonomiskt perspektiv".
          <br/>
          <span> – Ingvar Andersson, IT Chef Chalmers</span></p>
          <a id="button" href="/chalmers">LÄS MER</a>  
        </div>
      </div>
      
      <div class="kun-bottom">
        <div class="kun-img"></div>

        <div class="content-heading">
          <h2>Musikhögskolan i Malmö får en expressförbindelse (Saferoute)
          <br/>till Safespring Compute</h2>            
        </div>

        <div class="content-body" id="kun-body">
          <p>Musikhögskolan i Malmö (MHM) behövde sätta upp egna system i Safespring Compute, men den centrala IT-policyn krävde att alla system passerade genom centrala brandväggar.</p>
          <p>Safespring Saferoute är en nätverkstjänst som gör det möjligt att sätta upp en MPLS-förbindelse mellan Safesprings plattform och det enskilda lärosätet, med möjlighet att använda lärosätets IP-adresser i Safespring Compute. På så sätt hamnar de resurser som sätts upp Safespring Compute logiskt bakom de centrala brandväggarna vilket gör att IT-policyn kan följas.</p>  
        </div>
      </div>
    </div>

    <div class="kun-side">
      <div class="kun-side-img"></div>

      <div class="content-heading">
        <h2>Musikverket: Flexibel lagring och säkerhetskopia för högupplösta bilder</h2>      
      </div>

      <div class="content-body" id="kun-body">
        <p>Musikverket har som uppgift att lagra noter, teatermanuskript och koreografidokument skapade i Sverige. För att underlätta tillgången har ett stort digitaliseringsprojekt drivits de senaste 20 åren. Eftersom att dokumenten lagras högupplöst tar de mycket plats samtidigt som att de ska vara enkla att komma åt genom att webbgränssnitt.</p>
        <p>Objektlagringstjänsten Safespring Active Archive visade sig passa perfekt eftersom att tjänsten lämpar sig väl för stora datamängder på filnivå. Safesprings tjänst används som en backuptjänst dit all data synkroniseras med jämna mellanrum, men enskilda filer kan också nås direkt utan återläsning vid behov.</p>
        <p>"Safespring är en mycket pragmatisk och hjälpsam leverantör. Under projektet fick vi mycket hjälp med att sätta upp tjänsten precis som vi ville ha den."
        <br/>
        <span> – Christer Wandel, IT-ansvarig Musikverket.</span></p>  
      </div>
    </div>
  </div>
</main>

<!-- FOOTER -->
{{ partial "footer.html" . }}