<!-- Current language -->
<span
  title="{{ .Language.LanguageName }}"
  aria-label="{{ .Language.LanguageName }}"
  aria-current="true"
  style="display: flex; align-items: center"
>
  <img
    src="/img/flags/{{ .Language.Lang }}.svg"
    width="31"
    height="31"
    alt="{{ .Language.LanguageName }} flag"
    style="filter: opacity(0.5); transform: scale(1)"
  />
</span>

<!-- Other languages -->
{{ range .Translations }}
  <a
    href="{{ .Permalink }}"
    title="{{ .Language.LanguageName }}"
    aria-label="{{ .Language.LanguageName }}"
    hreflang="{{ .Lang }}"
    lang="{{ .Lang }}"
  >
    <img
      src="/img/flags/{{ .Lang }}.svg"
      width="31"
      height="31"
      alt=""
      aria-hidden="true"
    />
  </a>
{{ end }}
<!-- TODO: add language switcher that links to home page where translations don't exist -->
