{{- $logos := slice
  (dict "file" "saas_apendo.svg" "alt" "Apendo använder Safesprings tjänster.")
  (dict "file" "saas_2021.svg" "alt" "2021.ai använder Safesprings tjänster.")
  (dict "file" "saas_vivium.svg" "alt" "Vivium använder Safesprings tjänster.")
  (dict "file" "saas_beat.svg" "alt" "Beat använder Safesprings tjänster.")
  (dict "file" "saas_gmv.svg" "alt" "GMV använder Safesprings tjänster.")
  (dict "file" "saas_ntt.svg" "alt" "Ntt Security använder Safesprings tjänster.")
  (dict "file" "saas_internetstiftelsen.svg" "alt" "Internetstiftelsen använder Safesprings tjänster.")
  (dict "file" "saas_elastisys.svg" "alt" "Elastisys använder Safesprings tjänster.")
  (dict "file" "saas_artvise.svg" "alt" "Artvise använder Safesprings tjänster.")
  (dict "file" "saas_arkivit.svg" "alt" "ArkivIT använder Safesprings tjänster.")
  (dict "file" "saas_boule.svg" "alt" "Boule använder Safesprings tjänster.")
  (dict "file" "saas_e-avrop.svg" "alt" "E-avrop använder Safesprings tjänster.")
  (dict "file" "saas_energy-opticon.svg" "alt" "Energy Opticon använder Safesprings tjänster.")
  (dict "file" "saas_mindmore.svg" "alt" "Mindmore använder Safesprings tjänster.")
  (dict "file" "saas_olmia.svg" "alt" "Olmia använder Safesprings tjänster.")
  (dict "file" "saas_piql.svg" "alt" "Piql använder Safesprings tjänster.")
  (dict "file" "saas_scaleoutsvg.svg" "alt" "Scaleout Systems använder Safesprings tjänster.")
  (dict "file" "saas_scandidos.svg" "alt" "Scandidos använder Safesprings tjänster.")
-}}
<div class="photo-roll--container2">
  <div class="photo-roll2">
    {{- range seq 2 -}}
      {{- range $logos -}}
        {{- $src := printf "/img/logos/saas/%s" .file -}}
        <img
          src="{{ $src }}"
          {{ partial "image-dimensions.html" $src | safeHTMLAttr }}
          alt="{{ .alt }}"
        />
      {{- end -}}
    {{- end -}}
  </div>
</div>
