<div class='photo-roll--container2'>
  <div class='photo-roll2'>
    <img src='/img/logos/e_and_r/blank.jpg'>
    <img src='/img/logos/e_and_r/su.jpg'>
    <img src='/img/logos/e_and_r/ps.jpg'>
    <img src='/img/logos/e_and_r/uu.jpg'>
    <img src='/img/logos/e_and_r/sunet.jpg'>
    <img src='/img/logos/e_and_r/nordunet.jpg'>
    <img src='/img/logos/e_and_r/hs.jpg'>
    <img src='/img/logos/e_and_r/ou.jpg'>
    <img src='/img/logos/e_and_r/upu.jpg'>
    <img src='/img/logos/e_and_r/sll.jpg'>
    <img src='/img/logos/e_and_r/nb.jpg'>
    <img src='/img/logos/e_and_r/gu.jpg'>
    <img src='/img/logos/e_and_r/kth.jpg'>
    <img src='/img/logos/e_and_r/kn.jpg'>
    <img src='/img/logos/e_and_r/sensivo.jpg'>
    <img src='/img/logos/e_and_r/ku.jpg'>
    <img src='/img/logos/e_and_r/mu.jpg'>
    <img src='/img/logos/e_and_r/lu.jpg'>
    <img src='/img/logos/e_and_r/stu.jpg'>
    <img src='/img/logos/e_and_r/rise.jpg'>
    <img src='/img/logos/e_and_r/kl.jpg'>
    <img src='/img/logos/e_and_r/nhr.jpg'>
    <img src='/img/logos/e_and_r/ki.jpg'>
    <img src='/img/logos/e_and_r/ehs.jpg'>
    <img src='/img/logos/e_and_r/vr.jpg'>
    <img src='/img/logos/e_and_r/nm.jpg'>
    <img src='/img/logos/e_and_r/unit.jpg'>
    <img src='/img/logos/e_and_r/su.jpg'>
    <img src='/img/logos/e_and_r/ps.jpg'>
    <img src='/img/logos/e_and_r/uu.jpg'>
    <img src='/img/logos/e_and_r/sunet.jpg'>
    <img src='/img/logos/e_and_r/nordunet.jpg'>
  </div>
</div>
