<div class='photo-roll--container2'>
  <div class='photo-roll2' id="container">
    <img class="moving-image" src='/img/logos/e_and_r_transparent/su.svg' alt='Stockholms Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ps.svg' alt='Polarforskningssekretariatet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/uu.svg' alt='Umeå Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/sunet.svg' alt='SUNET använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/athena.svg' alt='Athena Research and Innovation'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/eosc.svg' alt='Athena Research and Innovation'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/sikt.svg' alt='Sikt använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/nordunet.svg' alt='NORDUnet (Nordic Infrastructure for Research & Education) använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/hs.svg' alt='Högskolan i Skövde använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ou.svg' alt='Örebro Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/upu.svg' alt='Uppsala universitet Pedagogiska institutionen använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/sll.svg' alt='SciLifeLab använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/nb.svg' alt='NBIS använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/gu.svg' alt='Göteborgs universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/kth.svg' alt='Kungliga Tekniska högskolan (KTH) använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/kn.svg' alt='Konsthögskolan använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ku.svg' alt='Karlstads universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/mu.svg' alt='Mittuniversitetet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/lu.svg' alt='Lunds Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/stu.svg' alt='Södertörns universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/rise.svg' alt='Rise använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/kl.svg' alt='Kungliga Biblioteket använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/nhr.svg' alt='Naturhistoriska riksmuseet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ki.svg' alt='Karolinska Institutet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ehs.svg' alt='Enskilda Högskolan i Stockholm använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/vr.svg' alt='Vetenskapsrådet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/nm.svg'  alt='Nasjonalmuseet i Oslo använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/nla.svg' alt='NLA Högskolan använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ntnu.svg' alt='NTNU använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/aho.svg' alt='Arkitektur-och-designhögskolan i Oslo använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/kio.svg' alt='Konsthögskolan i Oslo använder Safesprings tjänster.'>
    <!-- Upprepa loggorna-->
    <img class="moving-image" src='/img/logos/e_and_r_transparent/su.svg' alt='Stockholms Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ps.svg' alt='Polarforskningssekretariatet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/uu.svg' alt='Umeå Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/sunet.svg' alt='SUNET använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/athena.svg' alt='Athena Research and Innovation'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/eosc.svg' alt='Athena Research and Innovation'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/sikt.svg' alt='Sikt använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/nordunet.svg' alt='NORDUnet (Nordic Infrastructure for Research & Education) använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/hs.svg' alt='Högskolan i Skövde använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ou.svg' alt='Örebro Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/upu.svg' alt='Uppsala universitet Pedagogiska institutionen använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/sll.svg' alt='SciLifeLab använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/nb.svg' alt='NBIS använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/gu.svg' alt='Göteborgs universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/kth.svg' alt='Kungliga Tekniska högskolan (KTH) använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/kn.svg' alt='Konsthögskolan använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ku.svg' alt='Karlstads universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/mu.svg' alt='Mittuniversitetet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/lu.svg' alt='Lunds Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/stu.svg' alt='Södertörns universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/rise.svg' alt='Rise använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/kl.svg' alt='Kungliga Biblioteket använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/nhr.svg' alt='Naturhistoriska riksmuseet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ki.svg' alt='Karolinska Institutet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ehs.svg' alt='Enskilda Högskolan i Stockholm använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/vr.svg' alt='Vetenskapsrådet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/nm.svg'  alt='Nasjonalmuseet i Oslo använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/nla.svg' alt='NLA Högskolan använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/ntnu.svg' alt='NTNU använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/aho.svg' alt='Arkitektur-och-designhögskolan i Oslo använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r_transparent/kio.svg' alt='Konsthögskolan i Oslo använder Safesprings tjänster.'>
  </div>
</div>
