<div class='photo-roll--container2'>
  <div class='photo-roll2'>
    <img src='/img/logos/saas/saas_apendo.svg' alt='Apendo använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_find-out-diagnostic.svg' alt='Findout Diagnostic använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_2021.svg' alt='2021.ai använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_beat.svg' alt='Beat använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_gmv.svg' alt='GMV använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_internetstiftelsen.svg' alt='Internetstiftelsen använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_elastisys.svg' alt='Elastisys använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_artvise.svg' alt='Artvise använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_arkivit.svg' alt='ArkivIT använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_boule.svg' alt='Boule använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_e-avrop.svg' alt='E-avrop använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_energy-opticon.svg' alt='Energy Opticon använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_logex.svg' alt='Logex använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_mindmore.svg' alt='Mindmore använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_olmia.svg' alt='Olmia använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_piql.svg' alt='Piql använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_prodacapo.svg' alt='Prodacapo använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_pwelt.svg' alt='PWELT använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_scaleoutsvg.svg' alt='Scaleout Systems använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_scandidos.svg' alt='Scandidos använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_synkzone.svg' alt='Synkzone använder Safesprings tjänster.'>
    <!-- Upprepa loggorna-->
    <img src='/img/logos/saas/saas_apendo.svg' alt='Apendo använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_find-out-diagnostic.svg' alt='Findout Diagnostic använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_2021.svg' alt='2021.ai använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_beat.svg' alt='Beat använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_gmv.svg' alt='GMV använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_internetstiftelsen.svg' alt='Internetstiftelsen använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_elastisys.svg' alt='Elastisys använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_artvise.svg' alt='Artvise använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_arkivit.svg' alt='ArkivIT använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_boule.svg' alt='Boule använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_e-avrop.svg' alt='E-avrop använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_energy-opticon.svg' alt='Energy Opticon använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_logex.svg' alt='Logex använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_mindmore.svg' alt='Mindmore använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_olmia.svg' alt='Olmia använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_piql.svg' alt='Piql använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_prodacapo.svg' alt='Prodacapo använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_pwelt.svg' alt='PWELT använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_scaleoutsvg.svg' alt='Scaleout Systems använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_scandidos.svg' alt='Scandidos använder Safesprings tjänster.'>
    <img src='/img/logos/saas/saas_synkzone.svg' alt='Synkzone använder Safesprings tjänster.'>
  </div>
</div>
