<div class='photo-roll--container2'>
  <div class='photo-roll2' id="container">
    <img class="moving-image" src='/img/logos/e_and_r/su.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ps.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/uu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/sunet.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/uninett.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nordunet.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/hs.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ou.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/upu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/sll.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nb.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/gu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kth.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kn.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ku.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/mu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/lu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/stu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/rise.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kl.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nhr.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ki.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ehs.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/vr.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nm.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/unit.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nla.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ntnu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/aho.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kio.jpg'>
    <!-- Upprepa loggorna-->
    <img class="moving-image" src='/img/logos/e_and_r/su.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ps.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/uu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/sunet.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/uninett.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nordunet.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/hs.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ou.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/upu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/sll.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nb.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/gu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kth.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kn.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ku.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/mu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/lu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/stu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/rise.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kl.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nhr.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ki.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ehs.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/vr.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nm.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/unit.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nla.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ntnu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/aho.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kio.jpg'>
  </div>
</div>