<div class='photo-roll--container2'>
  <div class='photo-roll2' id="container">
    <img class="moving-image" src='/img/logos/e_and_r/su.svg' alt='Stockholms Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ps.svg' alt='Polarforskningssekretariatet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/uu.svg' alt='Umeå Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/sunet.svg' alt='SUNET använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/sikt.svg' alt='Sikt använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/nordunet.svg' alt='NORDUnet (Nordic Infrastructure for Research & Education) använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/hs.svg' alt='Högskolan i Skövde använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ou.svg' alt='Örebro Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/upu.svg' alt='Uppsala universitet Pedagogiska institutionen använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/sll.svg' alt='SciLifeLab använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/nb.svg' alt='NBIS använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/gu.svg' alt='Göteborgs universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/kth.svg' alt='Kungliga Tekniska högskolan (KTH) använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/kn.svg' alt='Konsthögskolan använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ku.svg' alt='Karlstads universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/mu.svg' alt='Mittuniversitetet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/lu.svg' alt='Lunds Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/stu.svg' alt='Södertörns universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/rise.svg' alt='Rise använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/kl.svg' alt='Kungliga Biblioteket använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/nhr.svg' alt='Naturhistoriska riksmuseet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ki.svg' alt='Karolinska Institutet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ehs.svg' alt='Enskilda Högskolan i Stockholm använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/vr.svg' alt='Vetenskapsrådet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/nm.svg'  alt='Nasjonalmuseet i Oslo använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/nla.svg' alt='NLA Högskolan använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ntnu.svg' alt='NTNU använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/aho.svg' alt='Arkitektur-och-designhögskolan i Oslo använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/kio.svg' alt='Konsthögskolan i Oslo använder Safesprings tjänster.'>
    <!-- Upprepa loggorna-->
    <img class="moving-image" src='/img/logos/e_and_r/su.svg' alt='Stockholms Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ps.svg' alt='Polarforskningssekretariatet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/uu.svg' alt='Umeå Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/sunet.svg' alt='SUNET använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/sikt.svg' alt='Sikt använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/nordunet.svg' alt='NORDUnet (Nordic Infrastructure for Research & Education) använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/hs.svg' alt='Högskolan i Skövde använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ou.svg' alt='Örebro Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/upu.svg' alt='Uppsala universitet Pedagogiska institutionen använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/sll.svg' alt='SciLifeLab använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/nb.svg' alt='NBIS använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/gu.svg' alt='Göteborgs universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/kth.svg' alt='Kungliga Tekniska högskolan (KTH) använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/kn.svg' alt='Konsthögskolan använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ku.svg' alt='Karlstads universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/mu.svg' alt='Mittuniversitetet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/lu.svg' alt='Lunds Universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/stu.svg' alt='Södertörns universitet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/rise.svg' alt='Rise använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/kl.svg' alt='Kungliga Biblioteket använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/nhr.svg' alt='Naturhistoriska riksmuseet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ki.svg' alt='Karolinska Institutet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ehs.svg' alt='Enskilda Högskolan i Stockholm använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/vr.svg' alt='Vetenskapsrådet använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/nm.svg'  alt='Nasjonalmuseet i Oslo använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/nla.svg' alt='NLA Högskolan använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/ntnu.svg' alt='NTNU använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/aho.svg' alt='Arkitektur-och-designhögskolan i Oslo använder Safesprings tjänster.'>
    <img class="moving-image" src='/img/logos/e_and_r/kio.svg' alt='Konsthögskolan i Oslo använder Safesprings tjänster.'>
  </div>
</div>