<div class='photo-roll--container2'>
  <div class='photo-roll2'>
    <img src='/img/logos/saas/saas_apendo.svg'>
    <img src='/img/logos/saas/saas_find-out-diagnostic.svg'>
    <img src='/img/logos/saas/saas_2021.svg'>
    <img src='/img/logos/saas/saas_beat.svg'>
    <img src='/img/logos/saas/saas_gmv.svg'>
    <img src='/img/logos/saas/saas_internetstiftelsen.svg'>
    <img src='/img/logos/saas/saas_elastisys.svg'>
    <img src='/img/logos/saas/saas_artvise.svg'>
    <img src='/img/logos/saas/saas_arkivit.svg'>
    <img src='/img/logos/saas/saas_boule.svg'>
    <img src='/img/logos/saas/saas_e-avrop.svg'>
    <img src='/img/logos/saas/saas_energy-opticon.svg'>
    <img src='/img/logos/saas/saas_logex.svg'>
    <img src='/img/logos/saas/saas_mindmore.svg'>
    <img src='/img/logos/saas/saas_olmia.svg'>
    <img src='/img/logos/saas/saas_piql.svg'>
    <img src='/img/logos/saas/saas_prodacapo.svg'>
    <img src='/img/logos/saas/saas_pwelt.svg'>
    <img src='/img/logos/saas/saas_scaleoutsvg.svg'>
    <img src='/img/logos/saas/saas_scandidos.svg'>
    <img src='/img/logos/saas/saas_synkzone.svg'>
    <!-- Upprepa loggorna-->
    <img src='/img/logos/saas/saas_apendo.svg'>
    <img src='/img/logos/saas/saas_find-out-diagnostic.svg'>
    <img src='/img/logos/saas/saas_2021.svg'>
    <img src='/img/logos/saas/saas_beat.svg'>
    <img src='/img/logos/saas/saas_gmv.svg'>
    <img src='/img/logos/saas/saas_internetstiftelsen.svg'>
    <img src='/img/logos/saas/saas_elastisys.svg'>
    <img src='/img/logos/saas/saas_artvise.svg'>
    <img src='/img/logos/saas/saas_arkivit.svg'>
    <img src='/img/logos/saas/saas_boule.svg'>
    <img src='/img/logos/saas/saas_e-avrop.svg'>
    <img src='/img/logos/saas/saas_energy-opticon.svg'>
    <img src='/img/logos/saas/saas_logex.svg'>
    <img src='/img/logos/saas/saas_mindmore.svg'>
    <img src='/img/logos/saas/saas_olmia.svg'>
    <img src='/img/logos/saas/saas_piql.svg'>
    <img src='/img/logos/saas/saas_prodacapo.svg'>
    <img src='/img/logos/saas/saas_pwelt.svg'>
    <img src='/img/logos/saas/saas_scaleoutsvg.svg'>
    <img src='/img/logos/saas/saas_scandidos.svg'>
    <img src='/img/logos/saas/saas_synkzone.svg'>
  </div>
</div>
