<div class="footer">

    <!-- Contact Info -->
    <div class="contact">
      <!-- Adress -->
      <div class="address">
        <li>
          <a class="footer-head" href="/kontakt">KONTOR</a>
        </li>
        <li class="footer-text">Universitetsgata 2</li>
        <li class="footer-text">0164 Oslo</li>
      </div>

      <!-- Kontakt -->
      <div class="email">
        <li>
          <a class="footer-head" href="/kontakt">KONTAKT</a>
        </li>
        <li>
          <a class="footer-text" href="mailto:info@safespring.com">info@safespring.com</a>
        </li>
        <li>
          <a class="footer-text" href="mailto:media@safespring.se">media@safespring.se</a>
        </li>
      </div>
    </div>

    <!-- Links -->
    <div class="navigation">
      <!-- Om Safespring -->
      <div class="about">
        <li>
          <a class="footer-head" href="/om-safespring">OM OSS</a>
        </li>
        <li>
          <a class="footer-text" href="/dokument/personuppgiftshantering/">GDPR</a>
        </li>
        <li>
          <a class="footer-text" href="/dokument/acceptable-use-policy/">Acceptable Use Policy</a>
        </li>
        <li>
          <a class="footer-text" href="/dokument/cookies/">Om nettstedet</a>
        </li>
      </div>

      <!-- Vårt Erbjudande -->
      <div class="offer">
        <li>
          <a class="footer-head" href="/tjanster">TJENESTER</a>
        </li>
        <li>
          <a class="footer-text" href="/no/tjenester/compute">Safespring Compute</a>
        </li>
        <li>
          <a class="footer-text" href="/no/tjenester/storage">Safespring Storage</a>
        </li>
        <li>
          <a class="footer-text" href="/services/safespring-service-catalogue-2020.pdf">Service Catalogue</a>
        </li>
      </div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      <p>Copyright &copy; {{ now.Format "2006"}} Safespring</p>
    </div>
</div>

{{ if (findRE "<pre" .Content 1) }}
    <script src="/js/copy-code-button.js"></script>
{{ end }}
