<!-- Full Navbar -->
<script src="/img/lazysizes.min.js" async></script>
{{ partial "telavox.html" }}
<div class="navbar shadow-1">
  <div class="nav-flex">
    <a href="/no" class="logo">
      <img src={{ "/img/1C_Safespring_Logotyp_Vit_RGB.svg" | relURL }}>
    </a>
    <nav id="navigation" class="site-navigation" role="navigation">
      <ul class="menu">
        <li class="menu-item-flag"><a href="/"><img style="height:25px; width:auto; border:1px solid #fafefe; border-radius:100px" src="/img/sweden.png"></a></li>
        <li class="menu-item-flag"><a href="/en"><img style="height:25px; width:auto; border:1px solid #fafefe; border-radius:100px" src="/img/uk.png"></a></li>
        <li class="menu-item"><a id="link" target="_parent" href="tel:+4735688870" style="color: var(--web-green-color);"><i class="fas fa-phone fa-flip-horizontal" data-fa-transform="shrink-4"></i> 35 68 88 70</a></li>
        <li class="menu-item"><a class="link" href="/no/kontakt">Kontakt</a>
          <ul class="dropdown">
            <li class="sub-menu"><a class="" href="/no/demo">Bestill demo</a></li>
            <li class="sub-menu"><a class="" href="/career">Karrieremuligheter</a></li>
          </ul>
        </li>
        <li class="menu-item"><a class="link" href="/no/whitepaper/schremsii">Publikasjoner</a></li>
        <li class="menu-item"><a class="link" href="/no/pris">Pris</a></li>
        <li class="menu-item"><a class="link" href="/no/tjenester">Tjenester</a>
          <ul class="dropdown">
            <li class="sub-menu"><a class="" href="/no/tjenester/compute">Safespring Compute</a></li>
            <li class="sub-menu"><a class="" href="/no/tjenester/storage">Safespring Storage</a></li>
            <li class="sub-menu"><a class="" href="/no/tjenester/compliant-kubernetes">Compliant Kubernetes</a></li>
            <li class="sub-menu"><a class="" target="_blank" href="https://docs.safespring.com/" style="color: var(--web-green-color);">Dokumentasjon</a></li>
          </ul>
        </li>
        <li class="menu-item"><a class="link" href="/no/om-safespring">Om Safespring</a>
        </li>
      </ul>
    </nav>
</div>
</div>

<!-- Mobile Navbar -->
<nav id="h-bar" class="site-navigation" role="navigation">
  <div class="h-container">
    <a class="h-logo" href="/en">
      <img src={{ "/img/1C_Safespring_Logotyp_Vit_RGB.svg" | relURL }}>
    </a>
    <input id="toggle" type="checkbox" />
    <label class="hamburger" for="toggle">
      <div class="top"></div>
      <div class="meat"></div>
      <div class="bottom"></div>
    </label>
    <ul class="h-menu shadow-1">
      <li class="menu-item-flag"><a href="/"><img style="margin: 5px; float:left; height:25px; width:auto; border:1px solid #fafefe; border-radius:100px" src="/img/sweden.png"></a><a href="/en"><img style="margin: 5px; float:left; height:25px; width:auto; border:1px solid #fafefe; border-radius:100px" src="/img/uk.png"></a></li>
      <li class="menu-item"><a class="" href="/no/om-safespring">Om Safespring</a></li>
        <li class="menu-item">Tjenester&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-down" data-fa-transform="shrink-5"></i></li>
          <ul class="menu-item" style="display: none;">
              <li class="sub-menu"><a class="" href="/no/tjenester/compute">Safespring Compute</a></li>
              <li class="sub-menu"><a class="" href="/no/tjenester/storage">Safespring Storage</a></li>
              <li class="sub-menu"><a class="" href="/no/tjenester/compliant-kubernetes">Compliant Kubernetes</a></li>
              <li class="sub-menu"><a arget="_blank" class="" href="https://docs.safespring.com/" style="color: var(--web-green-color);">Documentation</a></li>
            </ul>
        <li class="menu-item"><a class="" href="/no/pris">Pris</a></li>
        <li class="menu-item"><a class="" href="/no/latest">Publikasjoner</a></li>
        <li class="menu-item"><a class="" href="/no/kontakt">Kontakt</a></li>
        <li class="menu-item"><a id="link" target="_parent" href="tel:+4735688870" style="color: var(--web-green-color);"><i class="fas fa-phone fa-flip-horizontal" data-fa-transform="shrink-4"></i> 35 68 88 70</a></li>
      </ul>
  </div>
</nav>
<script>
var coll = document.getElementsByClassName("menu-item");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var submenu = this.nextElementSibling;
    if (submenu.style.display === "block") {
      submenu.style.display = "none";
    } else {
      submenu.style.display = "block";
    }
  });
}
</script>
<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("h-bar").style.top = "0px";
  } else if (document.body.scrollTop > 1) {
    document.getElementById("h-bar").style.top = "-80px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
