{{ partial "head.html" . }}
<!-- NAVBAR -->
 {{ partial "no-header.html" . }} <!-- HEADING -->
 <div class="heading-sub" style="background: url(/img/blue/{{ if .Params.background }}{{ .Params.background }}{{ else }}safespring_bilder_9.jpg{{ end }}); background-size: cover; background-position: center;">
  <div class="heading-content">
    <div class="content-meta-post">
    </div>
    <br>
    <h1 class="post-heading-firstpage">
      Kontakt Safespring
    </h1>
    <div class="content-summary-blogg">
      Godt du vil komme i kontakt med oss! Her finner du forhåpentligvis en kanal som passer deg!<br><br>
      <div><a href="tel:+4735688870" id="text-button" style="color: var(--green-color);">Ring oss: 35 68 88 70</a></div>
    </div>
    <br>
    <br>
  </div>
 </div>

<!-- HEADING -->
<!-- CONTENT -->
<main class="content-chalmers">
  <!-- Main  -->
  <div class="ch-content">
    <div class="content-body">
      {{ .Content }}
    </div>
</div>
    <!-- SIDEBAR -->
    <div class="ch-sidebar shadow-1">
      <h2>Følg oss på sosiale medier</h2>
      <p>Aktuelle nyheter fra oss og bransjen oppdateres jevnlig i våre sosiale kanaler.</p>
      <a href="https://www.linkedin.com/company/safespring/"><div class="social-container"><img class="sociallogo" src="/img/logos/safespring_linkedin.svg"></div></a>
      <a href="https://www.facebook.com/Safespring-147994442601302/"><div class="social-container"><img class="sociallogo" src="/img/logos/safespring_facebook.svg"></div></a>
      <a href="https://www.youtube.com/channel/UCvMh9YaZWGixXoIwZRRUU8A"><div class="social-container"><img class="sociallogo" src="/img/logos/safespring_youtube.svg"></div></a>
      <a href="https://twitter.com/safespring"><div class="social-container"><img class="sociallogo" src="/img/logos/safespring_twitter.svg"></div></a>
      <a href="https://github.com/safespring"><div class="social-container"><img class="sociallogo" src="/img/logos/safespring_github.svg"></div></a>
      <div>
        <br>
      </div>
      <h2>Få vårt nyhetsbrev</h2>
      <iframe src="https://pages.upsales.com/9549u7e25bcce5fef4a2da7f567302725664e-frame"
  width="250"
  height="200"
  style="border:0"></iframe>
      <div>
        <br>
        <br>
      </div>
        <div class="read-more">
          <h2>Informasjon</h2>
            <li class="content-body"><a href="#board">&gt; Borde</a></li>
            <li class="content-body"><a href="#leadership">&gt; Ledelse</a></li>
            <li class="content-body"><a href="#address">&gt; Adresser</a></li>
            <li class="content-body"><a href="#contact">&gt; Kontaktpersoner</a></li>
            <li class="content-body"><a href="#information">&gt; Forretningsinformasjon</a></li>
        </div>

    </div>
</main>
<!-- FOOTER -->
{{ partialCached "footer.html" . }}
