  {{ if .Params.article }}
  <div class="" style="margin-top: 15%;display: grid;grid-column: 8 / span 1;position: sticky;top: -206px;height: fit-content;">
  <div class="content-container">
    <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
        <div class="d-block w-full"><img src="/img/blogg/cards/safespring_card_33.jpg" alt="EU-domstolens ugyldiggjøring av Privacy Shield"></div>
  <div class="px-2 py-2">
    <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
      White Paper
    </div>
    <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
        |
    </div>
    <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
      4 sep 2020
    </div>
    <h1 class="ff-serif font-weight-light text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
      EU-domstolens ugyldiggjøring av Privacy Shield
    </h1>
    <p class="mb-1">
      Safespring har gitt ut en informasjonsguide om den nye juridiske situasjonen.
    </p>
    {{ if eq .Params.article "DN.no" }}
    <iframe src="https://pages.upsales.com/9549u8f9ca8d1577e42a1b7c7ed65d9d1eba3-frame" 		width="270" 		height="200" 		style="border:0"></iframe>
    {{ else }}
    <iframe src="https://pages.upsales.com/9549uef7a9b654a73489cb99641bf7524f053-frame" 		width="270" 		height="200" 		style="border:0"></iframe>
    {{ end }}
  </div>
  </div></div>
  {{ else if .Params.saas }}
  <div class="" style="margin-top: 15%;display: grid;grid-column: 8 / span 3; position: sticky; top: -186px; height: fit-content;">
  <a href="{{ .Params.sidebarlink }}"><div class="content-container">
    <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
        <div class="d-block w-full"><img src="/img/saas/cards/{{ .Params.sidebarimage }}" alt="{{ .Params.sidebartitle }}"></div>
  <div class="px-2 py-2">
    <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
      {{ .Params.sidebarsection }}
    </div>
    <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
        {{ if .Params.sidebardate }}|{{ else }} {{ end }}
    </div>
    <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
      {{ if .Params.sidebardate }}{{ .Params.sidebardate }}{{ else }} {{ end }}
    </div>
    <h1 class="ff-serif font-weight-light text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
      {{ .Params.sidebartitle }}
    </h1>
    <p class="mb-1">
      {{ .Params.sidebartext }}
    </p>
    {{ if .Params.sidebarwhitepaper }}<iframe src="https://pages.upsales.com/9549u1363271089514223bc3729e84ea32f8f-frame" width="250" height="300" style="border:0"></iframe>{{ else }}
    <a href="{{ .Params.sidebarlink }}" id="text-button">{{ .Params.sidebarknapp }}</a>
    {{ end }}
    {{ else }}
  <div class="ch-sidebar shadow-1" style="float:left">
  <div>
    <img class="ch-sidebar-logo" src="/img/safespring_cloud.svg" alt="Safespring Logotyp" />
  </div>
  <div>
    <h2 class="content-heading">Om Safespring</h2>
    <p class="">Safespring produserer sikre, pålitelige og fleksible skytjenester. Vår infrastruktur som en tjeneste er basert på åpen kildekode og åpne standarder. Vi produserer alle våre tjenester i Europa, og det er derfor lettere for deg å følge europeiske lokale lover og regler.</p>
    <br>
  </div>
  <h2>Nyhetsbrev</h2>
<br><br>
  <div class="read-more">
    <h2>Safespring Tjenester</h2>
      <li class="content-body"><a href="/no/tjenester/compute">&gt; Safespring Compute</a></li>
      <li class="content-body"><a href="/no/tjenester/storage">&gt; Safespring Storage</a></li>
      <li class="content-body"><a target="_blank" href="/services/safespring-service-catalogue-2020.pdf">&gt; Service Catalogue</a></li>
      <li class="content-body"><a target="_blank" href="https://docs.safespring.com/">&gt; Dokumentation</a></li>
  </div>
  {{ end }}
</div>
