<!-- Google Tag Manager -->
{{ partial "g-tag-manager.html" . }}

<!-- NAVBAR -->
{{ partial "header.html" . }}

<!-- HEADING -->
<div class="heading-sub">
    <div class="heading-content">
        <h1>Om Safespring</h1>
    </div>
</div>

<!-- CONTENT -->
<main class="content-om">
        <!-- Main -->
        <div class="om-content">
            <div class="content-heading">
                <h2 class="">Vår historia</h2> 
            </div>
            <div class="content-body">
                <p>Safesprings molntjänster grundlades 2014, som en del av IPnett, då företaget vann en upphandling för att leverera infrastruktur som tjänst till den akademiska sektorn i Skandinavien. I upphandlingen ställdes höga krav på lokal datalagring samt logisk och fysisk säkerhet.</p>
                <p>Kompetensen bakom Safesprings lösning samt strategin att basera lösningen på öppen källkod gjorde att Safespring vann utvärderingen ur både ett tekniskt och kommersiellt perspektiv. Att ha full kontroll på den egna tekniken är centralt för oss.</p>
                <p>Safesprings tjänster når idag samtliga universitet, högskolor och andra utbildnings- och forskningsmiljöer som är anslutna till de nationella forskningssätena i Skandinavien.</p>
                <p>Under 2017 etableras Safespring som eget bolag för att expandera erbjudandet till marknaden även utanför den akademiska sektorn.</p>
            </div>
            
            <div class="content-heading">
                <h2 class="">Vårt erbjudande</h2>
            </div>
            <div class="content-body">
                <p>Safespring levererar lokalt producerade molntjänster designade för framtidens behov och applikationer. Våra tjänster lever upp till högt ställda krav på säkerhet, liksom lokala lagar och regler - idag och i framtiden.</p>
                <p>Våra kunder skapar sig konkurrensfördelar genom flexibilitet utan tekniska begränsningar - och till en avsevärt lägre kostnad än tidigare.</p>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="om-sidebar">
            <div>
                <img src={{ "/img/fredric_wallsten-safespring_2x.jpg" | relURL }}>
            </div>
            
            <div class="content-heading" id="om-name">
                <h2 id="om-or">VD</h2>
                <h2 id="om-bl"> Fredric Wallsten</h2>
            </div>

            <div class="content-body" id="om-contact">
                <div>
                    <p id="om-or">E-POST</p>
                    <a id="om-bl" href="mailto:fredric.wallsten@safespring.com"> fredric.wallsten@safespring.com</a>
                </div>
                
                <div>
                    <p id="om-or">TEL</p>
                    <a id="om-bl" href="tel:+46766292502"> +46 766-292502</a>
                </div>
                
            </div>
        </div> 
</main>

<!-- FOOTER -->
{{ partial "footer.html" . }}