<!-- Other scripts -->
<script type="text/javascript">
    // Decide weather to suppress missing file error or not based on preference setting
    var suppressMissingFileError = false
</script>

<!-- RequireJS script -->
<script src={{ "/js/require.js?crc=3951022091" | relURL }} type="text/javascript" async data - main={{ "js/museconfig.js?crc=474374037" | relURL }} onload="if (requirejs) requirejs.onError = function(requireType, requireModule) { if (requireType && requireType.toString && requireType.toString().indexOf && 0 <= requireType.toString().indexOf('#scripterror')) window.Muse.assets.check(); } "onerror = "window.Muse.assets.check();"></script>