
		<div class="container-table100">
			<div class="price-table">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Typ
							</div>
							<div class="cell">
								Avgift/månad
							</div>
							<div class="cell">
								GB/timme
							</div>
							<div class="cell">
								GB/månad
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Typ">
								On-Demand Backup <b class="extra-small" style="color: var(--link-color);">1</b>
							</div>
							<div class="cell" data-title="Fast avgift/månad">
								N/A
							</div>
							<div class="cell" data-title="GB/timme">
								N/A
							</div>
							<div class="cell" data-title="GB/månad">
								2,45 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Typ">
								Backup Large <b class="extra-small" style="color: var(--link-color);">2</b>
							</div>
							<div class="cell" data-title="Fast avgift/månad">
								9 500 kr
							</div>
							<div class="cell" data-title=" GB/timme">
								N/A
							</div>
							<div class="cell" data-title="GB/månad">
								0,92 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Typ">
								Backup Small <b class="extra-small" style="color: var(--link-color);">3</b>
							</div>
							<div class="cell" data-title="Fast avgift/månad">
								5 500 kr
							</div>
							<div class="cell" data-title="GB/timme">
								N/A
							</div>
							<div class="cell" data-title="GB/månad">
								1,75 kr
							</div>
						</div>

					</div>
				</div>
</div>
				<div class="ch-content mt-1 mb-0">
					<div class="content-body">
					<p class="extra-small mb-0"><b class="extra-small" style="color: var(--link-color);">1</b> Priset är per skyddad GB på klienten.</p>
					<p class="extra-small mb-0"><b class="extra-small" style="color: var(--link-color);">2</b> Priset är per lagrad GB i tjänsten efter deduplicering och komprimering.</p>
					<p class="extra-small mb-0"><b class="extra-small" style="color: var(--link-color);">3</b> Priset är per lagrad GB i tjänsten efter deduplicering och komprimering. Det ingår 1 TB i det fasta månadspriset.</p>
				</div>
			</div>
