
		<div class="container-table100">
			<div class="price-table">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Lagringstyp
							</div>
							<div class="cell">
								GB/timme
							</div>
							<div class="cell">
								GB/månad
							</div>
							<div class="cell">
								12mån avtal
							</div>
							<div class="cell">
								36mån avtal
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Lagringstyp">
								Active archive (S3)
							</div>
							<div class="cell" data-title="GB/timme">
								0,0008 kr
							</div>
							<div class="cell" data-title="GB/månad">
								0,50 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								0,40 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								0,35 kr
							</div>
						</div>

					</div>
				</div>
			</div>
