
		<div class="container-table100 mt-2">
			<div class="price-table">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Safespring Compute - Mjukvara
							</div>
							<div class="cell">
								Debitering per
							</div>
							<div class="cell">
								Per timma
							</div>
							<div class="cell">
								Per månad
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Mjukvara">
								Microsoft Windows Server
							</div>
							<div class="cell" data-title="Debitering per">
								vCPU
							</div>
							<div class="cell" data-title="Per timma">
								0,1083 kr
							</div>
							<div class="cell" data-title="Per månad">
								78 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Mjukvara">
								SUSE Linux Enterprise Server, 12x5 Support
							</div>
							<div class="cell" data-title="Debitering per">
								1-2 vCPU
							</div>
							<div class="cell" data-title="Per timma">
								0,3056 kr
							</div>
							<div class="cell" data-title="Per månad">
								220 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Mjukvara">
								SUSE Linux Enterprise Server, 12x5 Support
							</div>
							<div class="cell" data-title="Debitering per">
								3-4 vCPU
							</div>
							<div class="cell" data-title="Per timma">
								0,6319 kr
							</div>
							<div class="cell" data-title="Per månad">
								455 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Mjukvara">
								SUSE Linux Enterprise Server, 12x5 Support
							</div>
							<div class="cell" data-title="Debitering per">
								5+ vCPU
							</div>
							<div class="cell" data-title="Per timma">
								0,7569 kr
							</div>
							<div class="cell" data-title="Per månad">
								545 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Mjukvara">
								SUSE CaaS Platform, 24x7 Support
							</div>
							<div class="cell" data-title="Debitering per">
								1-2 vCPU
							</div>
							<div class="cell" data-title="Per timma">
								1,3037 kr
							</div>
							<div class="cell" data-title="Per månad">
								939 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Mjukvara">
								SUSE CaaS Platform, 24x7 Support
							</div>
							<div class="cell" data-title="Debitering per">
								3-4 vCPU
							</div>
							<div class="cell" data-title="Per timma">
								2,8722 kr
							</div>
							<div class="cell" data-title="Per månad">
								2 068 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Mjukvara">
								SUSE CaaS Platform, 24x7 Support
							</div>
							<div class="cell" data-title="Debitering per">
								5+ vCPU
							</div>
							<div class="cell" data-title="Per timma">
								3,4833 kr
							</div>
							<div class="cell" data-title="Per månad">
								2 508 kr
							</div>
						</div>

						</div>

					</div>
			</div>
