{{ partial "head.html" . }}
	{{ partial "g-tag-manager.html" . }} <!-- NAVBAR -->
	 {{ partial "en-header.html" . }} <!-- HEADING -->
	 <div class="heading-sub" style="background: url(/img/blue/safespring_bilder_72.jpg) no-repeat; background-size: cover; background-position: center;">
		<div class="heading-content">
			<a class="content-category-blogg">Price</a><br><br>
			<h1>Nothing beats <br>security at this price</h1>
			<p>Get the security of Sweden's probably safest cloud platform. Not only do you get a modern and flexible environment based on OpenStack, but also high legal security.</p><br>
			<a href="#download" id="button">Price Calculator</a><br><br><br>
			<!-- <p class="content-body toggle-ss" id="toggle-ss">Med Safespring Storage kan du köpa lagring baserat på faktiska behov och användningsmönster.</p>
    	<p class="content-body toggle-sc" id="toggle-sc">Safesprings molnbaserade infrastrukturtjänst är baserad på den marknadsledande molnplattformen OpenStack. Tjänsten levereras ifrån säkra datahallar med hög tillgänglighet. Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal: användaren kan själv med få, enkla steg starta och stoppa nya virtuella maskiner. Det går även att styra virtuella maskiner programmatiskt genom standardiserade anrop mot vårt API.</p> -->
		</div>
	</div>
	<main class="content-chalmers">
		<div class="ch-content">
			<div class="content-body">
				<div class="ingress"><p>Together we create a safer, and more cost-effective digital infrastructure.</p></div>
				<p>There are many benefits with infrastructure as a service. In addition to increased performance at lower cost, you do not have to invest in hardware and pay for unused space. At Safespring you´ll only pay for the resources you allocate.</p>
				<p id="download">Download our price calculator and choose your infrastructure to see the calculated cost. The price includes high security, both physical, logical and legal. You also get 24/7 support and access to our self-service portal where you can manage your instances as needed.
				<br><br>
					<h2>Download our price calculator</h2>
<p>The Price Calculator is an Excel file with built-in logic to calculate a monthly cost based on your choices.</p>
<br><br>
<a class="button" style="margin-right:20px;" href="/pricelist/EUR/safespring-price-list-eur-2021-01-19.xlsx"><i class="fas fa-file-download" style="margin-right:10px;"></i> Download Price Calculator</a> <a id="text-button" href="/pricelist/EUR/safespring-price-list-eur-2021-01-19.pdf">Download as PDF</a>
</div>
</main>

	<!-- FOOTER -->
	{{ partial "en-footer.html" . }}
