
		<div class="container-table100 mt-2">
			<div class="price-table">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Safespring Compute - Blocklagring
							</div>
							<div class="cell">
								GB/timme
							</div>
							<div class="cell">
								GB/månad
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Compute - Blocklagring">
								Large (Spindisk)
							</div>
							<div class="cell" data-title="GB/timme">
								0,0018 kr
							</div>
							<div class="cell" data-title="GB/månad">
								1,32 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Compute - Blocklagring">
								Fast (SSD)
							</div>
							<div class="cell" data-title=" GB/timme">
								0,0068 kr
							</div>
							<div class="cell" data-title="GB/månad">
								5,06 kr
							</div>
						</div>
					</div>
				</div>
</div>
