
		<div class="container-table100 mb-4">
			<div class="price-table">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Typ
							</div>
							<div class="cell">
								Notering
							</div>
							<div class="cell">
								Debitering per
							</div>
							<div class="cell">
								Per timma
							</div>
							<div class="cell">
								Per månad
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Typ">
								IPv4
							</div>
							<div class="cell" data-title="Notering">
								Publik
							</div>
							<div class="cell" data-title="Debitering per">
								IP adress
							</div>
							<div class="cell" data-title="Per timma">
								0,0278 kr
							</div>
							<div class="cell" data-title="Per månad">
								20,00 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Typ">
								IPv6
							</div>
							<div class="cell" data-title="Notering">
								Publik
							</div>
							<div class="cell" data-title="Debitering per">
								IP adress
							</div>
							<div class="cell" data-title="Per timma">
								0 kr
							</div>
							<div class="cell" data-title="Per månad">
								0 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Typ">
								Datatrafik
							</div>
							<div class="cell" data-title="Notering">
								1 TB/mån inkluderat per projekt.
							</div>
							<div class="cell" data-title="Debitering per">
								GB
							</div>
							<div class="cell" data-title="Per timma">
								0 kr
							</div>
							<div class="cell" data-title="Per månad">
								0,25 kr
							</div>
						</div>

						</div>

					</div>
			</div>
