
		<div class="container-table100" id="linux">
			<div class="price-table">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Safespring Compute - Instanser
							</div>
							<div class="cell">
								vCPU
							</div>
							<div class="cell">
								RAM (GB)
							</div>
							<div class="cell">
								Per timma
							</div>
							<div class="cell">
								Per månad
							</div>
							<div class="cell">
								12mån avtal
							</div>
							<div class="cell">
								36mån avtal
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								b.tiny
							</div>
							<div class="cell" data-title="vCPU">
								1
							</div>
							<div class="cell" data-title="RAM (GB)">
								1
							</div>
							<div class="cell" data-title="Per timma">
								0,17 kr
							</div>
							<div class="cell" data-title="Per månad">
								123 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								105 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								93 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								b.small
							</div>
							<div class="cell" data-title="vCPU">
								1
							</div>
							<div class="cell" data-title="RAM (GB)">
								2
							</div>
							<div class="cell" data-title="Per timma">
								0,33 kr
							</div>
							<div class="cell" data-title="Per månad">
								247 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								210 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								185 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								b.medium
							</div>
							<div class="cell" data-title="vCPU">
								2
							</div>
							<div class="cell" data-title="RAM (GB)">
								4
							</div>
							<div class="cell" data-title="Per timma">
								0,67 kr
							</div>
							<div class="cell" data-title="Per månad">
								494 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								420 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								371 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								b.large
							</div>
							<div class="cell" data-title="vCPU">
								4
							</div>
							<div class="cell" data-title="RAM (GB)">
								8
							</div>
							<div class="cell" data-title="Per timma">
								1,33 kr
							</div>
							<div class="cell" data-title="Per månad">
								989 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								841 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								742 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								b.xlarge
							</div>
							<div class="cell" data-title="vCPU">
								8
							</div>
							<div class="cell" data-title="RAM (GB)">
								16
							</div>
							<div class="cell" data-title="Per timma">
								2,66 kr
							</div>
							<div class="cell" data-title="Per månad">
								1 987 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								1 689 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								1 490 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								b.2xlarge
							</div>
							<div class="cell" data-title="vCPU">
								16
							</div>
							<div class="cell" data-title="RAM (GB)">
								32
							</div>
							<div class="cell" data-title="Per timma">
								5,33 kr
							</div>
							<div class="cell" data-title="Per månad">
								3 952 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								3 359 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								2 964 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								m.small
							</div>
							<div class="cell" data-title="vCPU">
								1
							</div>
							<div class="cell" data-title="RAM (GB)">
								4
							</div>
							<div class="cell" data-title="Per timma">
								0,48 kr
							</div>
							<div class="cell" data-title="Per månad">
								358 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								304 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								269 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								m.medium
							</div>
							<div class="cell" data-title="vCPU">
								2
							</div>
							<div class="cell" data-title="RAM (GB)">
								8
							</div>
							<div class="cell" data-title="Per timma">
								0,97 kr
							</div>
							<div class="cell" data-title="Per månad">
								716 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								609 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								537 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								m.large
							</div>
							<div class="cell" data-title="vCPU">
								4
							</div>
							<div class="cell" data-title="RAM (GB)">
								16
							</div>
							<div class="cell" data-title="Per timma">
								1,93 kr
							</div>
							<div class="cell" data-title="Per månad">
								1 433 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								1 218 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								1 074 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								m.xlarge
							</div>
							<div class="cell" data-title="vCPU">
								8
							</div>
							<div class="cell" data-title="RAM (GB)">
								32
							</div>
							<div class="cell" data-title="Per timma">
								3,87 kr
							</div>
							<div class="cell" data-title="Per månad">
								2 865 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								2 435 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								2 149 kr
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Safespring Compute - Instanser">
								m.2xlarge
							</div>
							<div class="cell" data-title="vCPU">
								16
							</div>
							<div class="cell" data-title="RAM (GB)">
								64
							</div>
							<div class="cell" data-title="Per timma">
								7,73 kr
							</div>
							<div class="cell" data-title="Per månad">
								5 730 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								4 871 kr
							</div>
							<div class="cell" data-title="36mån avtal">
								4 298 kr
							</div>
						</div>

						</div>

					</div>
			</div>
