
		<div class="container-table100 hide" id="microsoft">
			<div class="price-table">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Instans
							</div>
							<div class="cell">
								vCPU
							</div>
							<div class="cell">
								RAM (GB)
							</div>
							<div class="cell">
								Per timma
							</div>
							<div class="cell">
								Per månad
							</div>
							<div class="cell">
								12mån avtal
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								b.tiny
							</div>
							<div class="cell" data-title="vCPU">
								1
							</div>
							<div class="cell" data-title="RAM (GB)">
								1
							</div>
							<div class="cell" data-title="Per timma">
								0,27 kr
							</div>
							<div class="cell" data-title="Per månad">
								201 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								b.small
							</div>
							<div class="cell" data-title="vCPU">
								1
							</div>
							<div class="cell" data-title="RAM (GB)">
								2
							</div>
							<div class="cell" data-title="Per timma">
								0,44 kr
							</div>
							<div class="cell" data-title="Per månad">
								325 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								b.medium
							</div>
							<div class="cell" data-title="vCPU">
								2
							</div>
							<div class="cell" data-title="RAM (GB)">
								4
							</div>
							<div class="cell" data-title="Per timma">
								0,77 kr
							</div>
							<div class="cell" data-title="Per månad">
								571 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								b.large
							</div>
							<div class="cell" data-title="vCPU">
								4
							</div>
							<div class="cell" data-title="RAM (GB)">
								8
							</div>
							<div class="cell" data-title="Per timma">
								1,44 kr
							</div>
							<div class="cell" data-title="Per månad">
								1 065 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								b.xlarge
							</div>
							<div class="cell" data-title="vCPU">
								8
							</div>
							<div class="cell" data-title="RAM (GB)">
								16
							</div>
							<div class="cell" data-title="Per timma">
								2,76 kr
							</div>
							<div class="cell" data-title="Per månad">
								2 043 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								b.2xlarge
							</div>
							<div class="cell" data-title="vCPU">
								16
							</div>
							<div class="cell" data-title="RAM (GB)">
								32
							</div>
							<div class="cell" data-title="Per timma">
								5,44 kr
							</div>
							<div class="cell" data-title="Per månad">
								4 045 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								m.small
							</div>
							<div class="cell" data-title="vCPU">
								1
							</div>
							<div class="cell" data-title="RAM (GB)">
								4
							</div>
							<div class="cell" data-title="Per timma">
								0,59 kr
							</div>
							<div class="cell" data-title="Per månad">
								436 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								m.medium
							</div>
							<div class="cell" data-title="vCPU">
								2
							</div>
							<div class="cell" data-title="RAM (GB)">
								8
							</div>
							<div class="cell" data-title="Per timma">
								1,07 kr
							</div>
							<div class="cell" data-title="Per månad">
								793 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								m.large
							</div>
							<div class="cell" data-title="vCPU">
								4
							</div>
							<div class="cell" data-title="RAM (GB)">
								16
							</div>
							<div class="cell" data-title="Per timma">
								2,04 kr
							</div>
							<div class="cell" data-title="Per månad">
								1 509 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								m.xlarge
							</div>
							<div class="cell" data-title="vCPU">
								8
							</div>
							<div class="cell" data-title="RAM (GB)">
								32
							</div>
							<div class="cell" data-title="Per timma">
								3,97 kr
							</div>
							<div class="cell" data-title="Per månad">
								2 939 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Instans">
								m.2xlarge
							</div>
							<div class="cell" data-title="vCPU">
								16
							</div>
							<div class="cell" data-title="RAM (GB)">
								64
							</div>
							<div class="cell" data-title="Per timma">
								7,84 kr
							</div>
							<div class="cell" data-title="Per månad">
								5 801 kr
							</div>
							<div class="cell" data-title="12mån avtal">
								-
							</div>
						</div>

						</div>

					</div>
			</div>
