<style>
  .aktuellt {
    background: #f9ffff url("/img/safespring_bilder_72.jpg?crc=259650028") no-repeat center top fixed;
    background-size: cover;
  }
</style>

<!-- Google Tag Manager -->
{{ partial "g-tag-manager.html" . }}

<!-- NAVBAR -->
{{ partial "header.html" . }}

<!-- HEADING -->
<div class="heading-sub">
  <div class="heading-content">
    <h1>Pris</h1>
    <p>Beräkna pris genom att välja tjänst</p>
    <!-- <p class="content-body toggle-ss" id="toggle-ss">Med Safespring Storage kan du köpa lagring baserat på faktiska behov och användningsmönster.</p>
    <p class="content-body toggle-sc" id="toggle-sc">Safesprings molnbaserade infrastrukturtjänst är baserad på den marknadsledande molnplattformen OpenStack. Tjänsten levereras ifrån säkra datahallar med hög tillgänglighet. Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal: användaren kan själv med få, enkla steg starta och stoppa nya virtuella maskiner. Det går även att styra virtuella maskiner programmatiskt genom standardiserade anrop mot vårt API.</p> -->
  </div>
</div>

<!-- CONTENT -->
<main class="content-main">
  <div class="pris-container">
    <input type="checkbox" name="toggle-main" id="checkbox-sb" checked />
    <input type="checkbox" name="toggle-main" id="checkbox-ss" />
    <input type="checkbox" name="toggle-main" id="checkbox-sc" />

    <label for="checkbox-sb" id="button">SAFESPRING BACKUP</label>
    <label for="checkbox-ss" id="button">SAFESPRING STORAGE</label>
    <label for="checkbox-sc" id="button">SAFESPRING COMPUTE</label>

    <div class="toggle-sb pris-main" id="toggle-sb">
      <div class="pris-content">
        <h2 class="content-heading pris-top">SAFESPRING BACKUP</h2>
        <p class="content-body pris-top">Safespring Backup är baserad på marknadsledande och beprövad teknik för att erbjuda en trygg och säker backuplösning med minimal administration. Data som skickas till tjänsten går krypterat och sparas krypterat i våra datahallar. Tjänsten bygger på en patenterad teknik ”Incremental Forever” vilket betyder att endast förändringar skickas och i sin tur ger minimal trafikbelastning på internetförbindelsen.</p>

        <div class="pris-column">
          <div class="pris-heading">LÖPANDE RÄKNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">GB per timma</div>
            <div class="pris-meta">GB per månad</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">N/A</div>
            <div class="pris-data">2,54 kr</div>
          </div>
        </div>

        <div class="pris-column">
          <div class="pris-heading">MÅNADSVIS RÄKNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">12 mån. avtal</div>
            <div class="pris-meta">36 mån. avtal</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">1,85 kr</div>
            <div class="pris-data">1,55 kr</div>
          </div>
        </div>

        <div class="pris-column">
          <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">12 mån. avtal</div>
            <div class="pris-meta">36 mån. avtal</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">1,75 kr</div>
            <div class="pris-data">1,47 kr</div>
          </div>
        </div>
      </div>

      <div class="pris-content">
        <h2 class="content-heading pris-top">ARCHIVE</h2>
        <p class="content-body pris-top">Denna tjänst kan användas som ett komplement till Backup för att arkivera gammal data under lång tid. Datat lagras statiskt vid av kunden bestämda intervall, för att kunna möta t ex lagstadgade ”compliance”-krav. Archive-tjänsten är integrerad med Backup-tjänsten och möjliggör att användaren ifrån Backup kan göra automatisk arkivering efter att ”retention”-tiden har
        löpt ut.</p>
      
        <div class="pris-column">
          <div class="pris-heading">LÖPANDE RÄKNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">GB per timma</div>
            <div class="pris-meta">GB per månad</div>  
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">N/A</div>
            <div class="pris-data">0,43 kr</div>
          </div>
        </div>
        
        <div class="pris-column">
          <div class="pris-heading">MÅNADSVIS RÄKNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">12 mån. avtal</div>
            <div class="pris-meta">36 mån. avtal</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">0,34 kr</div>
            <div class="pris-data">0,30 kr</div>
          </div>
        </div>
        
        <div class="pris-column">
          <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">12 mån. avtal</div>
            <div class="pris-meta">36 mån. avtal</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">0,32 kr</div>
            <div class="pris-data">0,20 kr</div>
          </div>
        </div>
      </div>
    </div>

    <div class="toggle-ss pris-main" id="toggle-ss">
      <div class="pris-content">
        <h2 class="content-heading pris-top">ACTIVE ARCHIVE</h2>
        <p class="content-body pris-top">Safespring Backup är baserad på marknadsledande och beprövad teknik för att erbjuda en trygg och säker backuplösning med minimal administration. Data som skickas till tjänsten går krypterat och sparas krypterat i våra datahallar. Tjänsten bygger på en patenterad teknik ”Incremental Forever” vilket betyder att endast förändringar skickas och i sin tur ger minimal trafikbelastning på internetförbindelsen.</p>
      
        <div class="pris-column">
          <div class="pris-heading">LÖPANDE RÄKNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">GB per timma</div>
            <div class="pris-meta">GB per månad</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">0,0008 kr</div>
            <div class="pris-data">0,60 kr</div>
          </div>
        </div>
      
        <div class="pris-column">
          <div class="pris-heading">MÅNADSVIS RÄKNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">12 mån. avtal</div>
            <div class="pris-meta">36 mån. avtal</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">0,48 kr</div>
            <div class="pris-data">0,42 kr</div>
          </div>
        </div>
      
        <div class="pris-column">
          <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">12 mån. avtal</div>
            <div class="pris-meta">36 mån. avtal</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">0,40 kr</div>
            <div class="pris-data">0,35 kr</div>
          </div>
        </div>
      </div>

      <div class="pris-content">
        <h2 class="content-heading pris-top">LARGE</h2>
        <p class="content-body pris-top">Lagringstjänsten är balanserad mellan pris och prestanda. Tjänsten lämpar sig väl för fillagring. Tjänsten används tillsammans med Safespring Compute och nya volymer skapas i självbetjäningsportalen eller via API.</p>
      
        <div class="pris-column">
          <div class="pris-heading">LÖPANDE RÄKNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">GB per timma</div>
            <div class="pris-meta">GB per månad</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">0,0018 kr</div>
            <div class="pris-data">1,32 kr</div>
          </div>
        </div>
      
        <div class="pris-column">
          <div class="pris-heading">MÅNADSVIS RÄKNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">12 mån. avtal</div>
            <div class="pris-meta">36 mån. avtal</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">1,06 kr</div>
            <div class="pris-data">0,93 kr</div>
          </div>
        </div>
      
        <div class="pris-column">
          <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">12 mån. avtal</div>
            <div class="pris-meta">36 mån. avtal</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">0,93 kr</div>
            <div class="pris-data">0,80 kr</div>
          </div>
        </div>
      </div>

      <div class="pris-content">
        <h2 class="content-heading pris-top">FAST</h2>
        <p class="content-body pris-top">Lagringstjänsten är optimerad för snabb lagring (IOPS) och operativsystem. Tjänsten används tillsammans med Safespring Compute och nya volymer skapas i självbetjäningsportalen eller via API.</p>
      
        <div class="pris-column">
          <div class="pris-heading">LÖPANDE RÄKNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">GB per timma</div>
            <div class="pris-meta">GB per månad</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">0,0068 kr</div>
            <div class="pris-data">5,06 kr</div>
          </div>
        </div>
      
        <div class="pris-column">
          <div class="pris-heading">MÅNADSVIS RÄKNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">12 mån. avtal</div>
            <div class="pris-meta">36 mån. avtal</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">4,07 kr</div>
            <div class="pris-data">3,56 kr</div>
          </div>
        </div>
      
        <div class="pris-column">
          <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
          <div class="pris-column-cell">
            <div class="pris-meta">12 mån. avtal</div>
            <div class="pris-meta">36 mån. avtal</div>
          </div>
          <div class="pris-column-cell">
            <div class="pris-data">3,13 kr</div>
            <div class="pris-data">2,74 kr</div>
          </div>
        </div>
      </div>
    </div>

    <div class="toggle-sc pris-main" id="toggle-sc">
      <div class="toggle-sc-content">
        <input type="radio" name="toggle" id="checkbox-t" checked />
        <input type="radio" name="toggle" id="checkbox-s" />
        <input type="radio" name="toggle" id="checkbox-m" />
        <input type="radio" name="toggle" id="checkbox-l" />
        <input type="radio" name="toggle" id="checkbox-x" />
        <input type="radio" name="toggle" id="checkbox-xx" />
        
        <label for="checkbox-t" id="button">TINY</label>
        <label for="checkbox-s" id="button">SMALL</label>
        <label for="checkbox-m" id="button">MEDIUM</label>
        <label for="checkbox-l" id="button">LARGE</label>
        <label for="checkbox-x" id="button">X LARGE</label>
        <label for="checkbox-xx" id="button">XX LARGE</label>

        <div id="toggle-t">
          <div class="pris-content">
            <h2 class="content-heading pris-top">B TINY</h2>
            <div class="pris-center-cell">
              <p class="content-heading">1<span> vCPU</span></p>
              <p class="content-heading">1 GB<span> RAM</span></p>
            </div>

            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">0,17 kr</div>
                <div class="pris-data">123 kr</div>
              </div>
            </div>
            
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">105 kr</div>
                <div class="pris-data">93 kr</div>
              </div>
            </div>
            
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">99 kr</div>
                <div class="pris-data">86 kr</div>
              </div>
            </div>
          </div>
        </div>

        <div id="toggle-s">
          <div class="pris-content">
            <h2 class="content-heading pris-top">B SMALL</h2>
            <div class="pris-center-cell">
              <p class="content-heading">1
                <span> vCPU</span>
              </p>
              <p class="content-heading">2 GB
                <span> RAM</span>
              </p>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">0,33 kr</div>
                <div class="pris-data">247 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">210 kr</div>
                <div class="pris-data">185 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">197 kr</div>
                <div class="pris-data">173 kr</div>
              </div>
            </div>
          </div>

          <div class="pris-content">
            <h2 class="content-heading pris-top">M SMALL</h2>
            <div class="pris-center-cell">
              <p class="content-heading">1
                <span> vCPU</span>
              </p>
              <p class="content-heading">4 GB
                <span> RAM</span>
              </p>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">0,48 kr</div>
                <div class="pris-data">358 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">304 kr</div>
                <div class="pris-data">269 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">287 kr</div>
                <div class="pris-data">251 kr</div>
              </div>
            </div>
          </div>
        </div>

        <div id="toggle-m">
          <div class="pris-content">
            <h2 class="content-heading pris-top">B MEDIUM</h2>
            <div class="pris-center-cell">
              <p class="content-heading">2
                <span> vCPU</span>
              </p>
              <p class="content-heading">4 GB
                <span> RAM</span>
              </p>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">0,67 kr</div>
                <div class="pris-data">494 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">420 kr</div>
                <div class="pris-data">371 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">369 kr</div>
                <div class="pris-data">347 kr</div>
              </div>
            </div>
          </div>

          <div class="pris-content">
            <h2 class="content-heading pris-top">M MEDIUM</h2>
            <div class="pris-center-cell">
              <p class="content-heading">2
                <span> vCPU</span>
              </p>
              <p class="content-heading">8 GB
                <span> RAM</span>
              </p>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">0,97 kr</div>
                <div class="pris-data">716 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">609 kr</div>
                <div class="pris-data">537 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">573 kr</div>
                <div class="pris-data">501 kr</div>
              </div>
            </div>
          </div>
        </div>

        <div id="toggle-l">
          <div class="pris-content">
            <h2 class="content-heading pris-top">B LARGE</h2>
            <div class="pris-center-cell">
              <p class="content-heading">4
                <span> vCPU</span>
              </p>
              <p class="content-heading">8 GB
                <span> RAM</span>
              </p>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">1,33 kr</div>
                <div class="pris-data">989 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">841 kr</div>
                <div class="pris-data">742 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">791 kr</div>
                <div class="pris-data">692 kr</div>
              </div>
            </div>
          </div>
          
          <div class="pris-content">
            <h2 class="content-heading pris-top">M LARGE</h2>
            <div class="pris-center-cell">
              <p class="content-heading">4
                <span> vCPU</span>
              </p>
              <p class="content-heading">16 GB
                <span> RAM</span>
              </p>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">1,93 kr</div>
                <div class="pris-data">1 433 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">1 218 kr</div>
                <div class="pris-data">1 074 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">1 146 kr</div>
                <div class="pris-data">1 003 kr</div>
              </div>
            </div>
          </div>
        </div>

        <div id="toggle-x">
          <div class="pris-content">
            <h2 class="content-heading pris-top">B X LARGE</h2>
            <div class="pris-center-cell">
              <p class="content-heading">8
                <span> vCPU</span>
              </p>
              <p class="content-heading">16 GB
                <span> RAM</span>
              </p>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">2,66 kr</div>
                <div class="pris-data">1 987 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">1 689 kr</div>
                <div class="pris-data">1 490 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">1 590 kr</div>
                <div class="pris-data">1 391 kr</div>
              </div>
            </div>
          </div>
          
          <div class="pris-content">
            <h2 class="content-heading pris-top">M X LARGE</h2>
            <div class="pris-center-cell">
              <p class="content-heading">8
                <span> vCPU</span>
              </p>
              <p class="content-heading">32 GB
                <span> RAM</span>
              </p>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">3,87 kr</div>
                <div class="pris-data">2 865 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">2 435 kr</div>
                <div class="pris-data">2 149 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">2 292 kr</div>
                <div class="pris-data">2 006 kr</div>
              </div>
            </div>
          </div>
        </div>

        <div id="toggle-xx">
          <div class="pris-content">
            <h2 class="content-heading pris-top">B XX LARGE</h2>
            <div class="pris-center-cell">
              <p class="content-heading">16
                <span> vCPU</span>
              </p>
              <p class="content-heading">32 GB
                <span> RAM</span>
              </p>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">5,33 kr</div>
                <div class="pris-data">3 952 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">3 359 kr</div>
                <div class="pris-data">2 964 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">3 162 kr</div>
                <div class="pris-data">2 766 kr</div>
              </div>
            </div>
          </div>
          
          <div class="pris-content">
            <h2 class="content-heading pris-top">M XX LARGE</h2>
            <div class="pris-center-cell">
              <p class="content-heading">16
                <span> vCPU</span>
              </p>
              <p class="content-heading">64 GB
                <span> RAM</span>
              </p>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">LÖPANDE RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">Per timma</div>
                <div class="pris-meta">Per månad</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">7,73 kr</div>
                <div class="pris-data">5 730 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">MÅNADSVIS RÄKNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">4 871 kr</div>
                <div class="pris-data">4 298 kr</div>
              </div>
            </div>
          
            <div class="pris-column">
              <div class="pris-heading">FÖRSKOTTS-BETALNING</div>
              <div class="pris-column-cell">
                <div class="pris-meta">12 mån. avtal</div>
                <div class="pris-meta">36 mån. avtal</div>
              </div>
              <div class="pris-column-cell">
                <div class="pris-data">4 548 kr</div>
                <div class="pris-data">4 011 kr</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- Toggle Script -->
<script>
  $('input[type="checkbox"]').on('change', function () {
    $('input[name="toggle-main"]').not(this).prop('checked', false);
  });

  $('input[type="radio"]').on('change', function () {
    $('input[name="toggle"]').not(this).prop('checked', false);
  });
</script>

<!-- FOOTER -->
{{ partial "footer.html" . }}