{{ partial "head.html" . }}
	{{ partial "g-tag-manager.html" . }} <!-- NAVBAR -->
	 {{ partial "header.html" . }} <!-- HEADING -->
	 <div class="heading-sub" style="background: url(/img/blue/safespring_bilder_72.jpg) no-repeat; background-size: cover; background-position: center;">
		<div class="heading-content">
			<a class="content-category-blogg">Kostnadseffektivitet</a><br><br>
			<h1>Inget slår säkerhet <br>
				till det här priset</h1>
			<p>Välkomna tryggheten hos Sveriges förmodligen säkraste molnplattform. Du får inte bara en modern och flexibel miljö basterad på OpenStack, utan även hög juridisk säkerhet.</p><br>
			<a href="#download" id="button">Priskalkylator</a><br><br><br>
			<!-- <p class="content-body toggle-ss" id="toggle-ss">Med Safespring Storage kan du köpa lagring baserat på faktiska behov och användningsmönster.</p>
    	<p class="content-body toggle-sc" id="toggle-sc">Safesprings molnbaserade infrastrukturtjänst är baserad på den marknadsledande molnplattformen OpenStack. Tjänsten levereras ifrån säkra datahallar med hög tillgänglighet. Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal: användaren kan själv med få, enkla steg starta och stoppa nya virtuella maskiner. Det går även att styra virtuella maskiner programmatiskt genom standardiserade anrop mot vårt API.</p> -->
		</div>
	</div>
	<main class="content-chalmers">
		<div class="ch-content">
			<div class="content-body">
				<div class="ingress"><p>Tillsammans skapar vi en säkrare, och mer kostnadseffektiv digital infrastruktur.</p></div>
				<p>Det finns många fördelar med infrastruktur som tjänst. Förutom ökad prestanda till längre kostnad slipper du investeria i ny hårdvara och betala för utrymme som inte utnyttjas. Hos oss betalar du endast för de resurser du allokerar.</p>
				<p id="download">Ladda ner vår priskalkulator och bygg upp din nuvarande miljö för att se vad du sparar på att flytta till Safespring. I priset ingår hög säkerhet såväl fysisk, logisk och juridisk. Du får även 24/7 support och tillgång till vår självbetjäsningsportal där du kan managera dina instanser efter behov.
				<br><br>
				<form id="up-form" name="form_9549ue3e2de16b7284fbea9a18435cda12fb4" action="https://power.upsales.com/api/external/formSubmit" method="POST">
					<h2>Ladda ner priskalkylatorn</h2>
<p>Få priskalkylatorn skickad till din mail genom att fylla i din adress i formuläret. Priskalkylatorn är en Excel-fil med inbyggd logik för att räkna ut en månadskostnad baserad på dina val.

</p>
<br><br>
<a class="button" style="margin-right:20px;" href="/pricelist/SEK/safespring-price-list_2020-06-23.xlsx"><i class="fas fa-file-download" style="margin-right:10px;"></i> Ladda ner priskalkulatorn</a> <a id="text-button" href="/pricelist/SEK/safespring-price-list_2020-06-23.pdf">Ladda ner som PDF</a>
</div>
</div>
</main>

	<!-- FOOTER -->
	{{ partial "footer.html" . }}
