{{ partial "head.html" . }}
	{{ partial "g-tag-manager.html" . }} <!-- NAVBAR -->
	 {{ partial "header.html" . }} <!-- HEADING -->
	 <div class="heading-sub" style="background: url(/img/blue/safespring_bilder_72.jpg) no-repeat, fixed; background-size: cover; background-position: center;">
		<div class="heading-content">
			<h1>Pris</h1>
			<p>Safesprings tjänster är kostnadseffektiva och skalbara vilket betyder att du endast betalar det du utnyttjar till skillnad mot liknande tjänster där du betalar en kvot som ofta inte utnyttjas fullt ut.</p>
			<a href="#prislista" id="text-button">Till prislistan</a><!-- <p class="content-body toggle-ss" id="toggle-ss">Med Safespring Storage kan du köpa lagring baserat på faktiska behov och användningsmönster.</p>
    <p class="content-body toggle-sc" id="toggle-sc">Safesprings molnbaserade infrastrukturtjänst är baserad på den marknadsledande molnplattformen OpenStack. Tjänsten levereras ifrån säkra datahallar med hög tillgänglighet. Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal: användaren kan själv med få, enkla steg starta och stoppa nya virtuella maskiner. Det går även att styra virtuella maskiner programmatiskt genom standardiserade anrop mot vårt API.</p> -->
		</div>
	</div>
	<main class="content-chalmers">
		<div class="ch-content">
			<div class="content-body">
				<div class="ingress"><p>Safesprings tjänster är kostnadseffektiva och skalbara vilket betyder att du endast betalar det du utnyttjar till skillnad mot liknande tjänster där du betalar en kvot som ofta inte utnyttjas fullt ut.</p></div>
				<h2>Skala upp och ner efter behov</h1>
				<p>Safesprings molnbaserade infrastrukturtjänst är baserad på den marknadsledande molnplattformen OpenStack. Tjänsten levereras ifrån säkra datahallar med hög tillgänglighet. Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal: användaren kan själv med få, enkla steg starta och stoppa nya virtuella maskiner. Det går även att styra virtuella maskiner programmatiskt genom standardiserade anrop mot vårt API.</p>
				<br><br><a href="#prislista" style="margin-right:20px;" id="button">Prislista</a>
</div>
</div>
	<div class="ch-content mb-1 mt-1" id="prislista">
		<div class="content-body">
				<h2>Safespring Compute</h2>
				<p>Med Safesprings molnbaserade infrastrukturtjänst (Compute) kan du skala upp och ner din infrastruktur efter behov. Levereras ifrån säkra datahallar inom landet. Instanserna kan kombineras med <a href="#mjukvara">mjukvara</a>.</p>
				<!--<label class="toggler toggler--is-active" id="filt-linux">Linux</label>
				<div class="toggle">
					<input type="checkbox" id="switcher" class="check">
					<b class="b switch"></b>
				</div>
				<label class="toggler" id="filt-microsoft">Microsoft</label>-->
			</div>
		</div>
		{{ partial "price-table-microsoft.html" . }}
		{{ partial "price-table-linux.html" . }}
		{{ partial "price-table-block-storage.html" . }}
		<div id="mjukvara"></div>
		{{ partial "price-table-mjukvara.html" . }}
		<div class="ch-content mb-1 mt-3">
			<div class="content-body">
				<h2>Safespring Storage</h2>
				<p>Safesprings molnbaserade lagring (Storage) levereras ifrån säkra datahallar och är baserad på den marknadsledande lagringsteknologin Ceph.</p>
			</div>
		</div>
		{{ partial "price-table-storage.html" . }}
		<div class="ch-content mb-1 mt-3">
			<div class="content-body">
				<h2>Safespring Backup</h2>
				<p>Med Safesprings molnbaserad backuptjänst (Backup) behöver du inte investera i egen hård- eller mjukvara. Betala bara för mängden data som sparas i tjänsten!</p>
			</div>
		</div>
		{{ partial "price-table-backup.html" . }}
		<div class="ch-content mb-1 mt-3">
			<div class="content-body">
				<h2>Nätverk</h2>
				<p></p>
			</div>
		</div>
		{{ partial "price-table-network.html" . }}
</main>
	<!-- FOOTER -->
	{{ partial "footer.html" . }}
	<script>
		var e = document.getElementById("filt-microsoft"),
    d = document.getElementById("filt-linux"),
    t = document.getElementById("switcher"),
    m = document.getElementById("microsoft"),
    y = document.getElementById("linux");

e.addEventListener("click", function(){
  t.checked = true;
  e.classList.add("toggler--is-active");
  d.classList.remove("toggler--is-active");
  m.classList.remove("hide");
  y.classList.add("hide");
});

d.addEventListener("click", function(){
  t.checked = false;
  d.classList.add("toggler--is-active");
  e.classList.remove("toggler--is-active");
  m.classList.add("hide");
  y.classList.remove("hide");
});

t.addEventListener("click", function(){
  d.classList.toggle("toggler--is-active");
  e.classList.toggle("toggler--is-active");
  m.classList.toggle("hide");
  y.classList.toggle("hide");
})
</script>
