{{ partial "head.html" . }}

	{{ partial "g-tag-manager.html" . }} <!-- NAVBAR -->
	 {{ partial "header.html" . }} <!-- HEADING -->
	 <div class="heading-sub" style="background: url(/img/blue/safespring_bilder_72.jpg) no-repeat, fixed; background-size: cover; background-position: center;">
		<div class="heading-content">
			<h1>Pris</h1>
			<p>OBS - Denna sida är inte officiell och priserna som listas är inte aktuella utan endast ufyllnad för att skapa en bild av hur denna sida kan se ut - OBS</p><!-- <p class="content-body toggle-ss" id="toggle-ss">Med Safespring Storage kan du köpa lagring baserat på faktiska behov och användningsmönster.</p>
    <p class="content-body toggle-sc" id="toggle-sc">Safesprings molnbaserade infrastrukturtjänst är baserad på den marknadsledande molnplattformen OpenStack. Tjänsten levereras ifrån säkra datahallar med hög tillgänglighet. Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal: användaren kan själv med få, enkla steg starta och stoppa nya virtuella maskiner. Det går även att styra virtuella maskiner programmatiskt genom standardiserade anrop mot vårt API.</p> -->
		</div>
	</div>
	<main class="content-chalmers">
		<div class="ch-content">
			<div class="content-body">
				<div class="ingress"><p>Safesprings tjänster är kostnadseffektiva och skalbara vilket betyder att du endast betalar det du utnyttjar till skillnad mot liknande tjänster där du betalar en kvot som ofta inte utnyttjas fullt ut.</p></div>
				<br><a href="#prisexempel" id="button">Se prisexempel</a>
				<h2>Skala upp och ner efter behov</h1>
				<p>Safesprings molnbaserade infrastrukturtjänst är baserad på den marknadsledande molnplattformen OpenStack. Tjänsten levereras ifrån säkra datahallar med hög tillgänglighet. Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal: användaren kan själv med få, enkla steg starta och stoppa nya virtuella maskiner. Det går även att styra virtuella maskiner programmatiskt genom standardiserade anrop mot vårt API.</p>
</div>
</div>
</main>
<div class="background-gray" id="prisexempel">
	<div class="flexcontainer" style="align-items:baseline; margin-bottom:200px;">
		<div class="content-container">
			<a href="/upplev">
			<div class="body my-2 p-relative bg-white shadow-1 blue-hover">
					<img src="/img/safespring-pris-liten.jpg" alt="{{ .Title }}" class="d-block w-full" style="height: 240px;">
		<div class="px-2 py-2">
			<div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
				1 000 kr
			</div>
			<div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
					|
			</div>
			<div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
				Månaden
			</div>
			<h1 class="ff-serif font-weight-medium text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
				Exempel på en <br><b class="text-muted">liten</b> uppsättning
			</h1><br>
			<p class="mb-1 big">
				<b class="small">vCPU:</b><br>
				2 stycken
			</p>
			<p class="mb-1 big">
				<b class="small">RAM:</b><br>
				4 GB
			</p>
			<p class="mb-1 big">
				<b class="small">LAGRING:</b><br>
				100 GB - <i>Fast</i>
			</p>
			<br>
			<p class="mb-1 big">
				<b class="small">Pris i månaden:</b><br>
				1000 kr
			</p>
		</div>
		<a href="/upplev" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
			Skapa testkonto
		</a>
		</div></a>
	</div>
	<div class="content-container">
		<a href="/upplev">
		<div class="body my-2 p-relative bg-white shadow-1 blue-hover">
				<img src="/img/safespring-pris-mellan.jpg" alt="{{ .Title }}" class="d-block w-full" style="height: 240px;">
	<div class="px-2 py-2">
		<div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
			3 500 kr
		</div>
		<div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
				|
		</div>
		<div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black" >
			Månaden
		</div>
		<h1 class="ff-serif font-weight-medium text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
			Exempel på en <b class="text-muted">mellan</b>-uppsättning
		</h1><br>
		<p class="mb-1 big">
			<b class="small">vCPU:</b><br>
			2 stycken
		</p>
		<p class="mb-1 big">
			<b class="small">RAM:</b><br>
			4 GB
		</p>
		<p class="mb-1 big">
			<b class="small">LAGRING:</b><br>
			100 GB - <i>Fast</i>
		</p>
		<br>
		<p class="mb-1 big">
			<b class="small">Pris i månaden:</b><br>
			1000 kr
		</p>
	</div>
	<a href="/upplev" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
		Skapa testkonto
	</a>
	</div></a></div>
	<div class="content-container">
		<a href="/upplev">
		<div class="body my-2 p-relative bg-white shadow-1 blue-hover">
				<img src="/img/safespring-pris-stor.jpg" alt="{{ .Title }}" class="d-block w-full" style="height: 240px;">
	<div class="px-2 py-2">
		<div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
			7 500 kr
		</div>
		<div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
				|
		</div>
		<div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black" >
			Månaden
		</div>
		<h1 class="ff-serif font-weight-medium text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
			Exempel på en <br><b class="text-muted">stor</b> uppsättning
		</h1><br>
		<p class="mb-1 big">
			<b class="small">vCPU:</b><br>
			2 stycken
		</p>
		<p class="mb-1 big">
			<b class="small">RAM:</b><br>
			4 GB
		</p>
		<p class="mb-1 big">
			<b class="small">LAGRING:</b><br>
			100 GB - <i>Fast</i>
		</p>
		<br>
		<p class="mb-1 big">
			<b class="small">Pris i månaden:</b><br>
			1000 kr
		</p>
	</div>
	<a href="/upplev" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
		Skapa testkonto
	</a>
</div></a>
</div>
	</div>
</div>
	{{ partial "price-table-microsoft.html" . }}

	<!-- FOOTER -->
	{{ partial "footer.html" . }}
