<!-- Update the 'nojs'/'js' class on the html node -->
<script type="text/javascript">
    document.documentElement.className = document.documentElement.className.replace(/\bnojs\b/g, 'js');
</script>

<!-- Check that all required assets are uploaded and up-to-date -->
{{ if eq $.Params.title "Aktuellt" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "aktuellt.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Chalmers erfarenheter av backup som tjänst" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "chalmers.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Säkra molntjänster" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "index.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Kontakta oss" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "kontakt.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Kundreferenser" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "kundreferenser.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Om oss" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "om-oss.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Backup som tjänst" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "safespring-backup.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Infrastruktur som tjänst" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "safespring-compute.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Lagring som tjänst" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "safespring-storage.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Support" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "support.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Testa backup som tjänst" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "testa-safespring-backup.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Testa infrastruktur som tjänst" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "testa-safespring-compute.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Testa lagring som tjänst" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "require.js", "musewpslideshow.js", "jquery.museoverlay.js",
                "touchswipe.js", "jquery.musemenu.js", "testa-safespring-storage.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Pris" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "webpro.js", "musewpdisclosure.js", "jquery.watch.js",
                "jquery.musepolyfill.bgsize.js", "jquery.scrolleffects.js", "require.js", "musewpslideshow.js",
                "jquery.museoverlay.js", "touchswipe.js", "jquery.musemenu.js", "pris.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Tack för ditt meddelande" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "jquery.watch.js", "require.js", "jquery.musemenu.js",
                "tack.css"
            ],
            "outOfDate": []
        };
    </script>
{{ else if eq $.Params.title "Våra tjänster" }}
    <script type="text/javascript">
        if (typeof Muse == "undefined") window.Muse = {};
        window.Muse.assets = {
            "required": ["museutils.js", "museconfig.js", "jquery.watch.js", "jquery.musepolyfill.bgsize.js", "jquery.scrolleffects.js", "require.js", "jquery.musemenu.js", "tjanster.css"],
            "outOfDate": []
        };
    </script>
{{ end }}