{{ partial "head.html" . }}
<head>
  <meta http-equiv="refresh" content="0;url=https://www.safespring.com/tjanster/safespring-compute" />
</head>

<!-- NAVBAR -->
{{ partialCached "header.html" . }}

<!-- HEADING -->
<div class="heading-sub">
  <div class="heading-content">
    <h1>SAFESPRING</h1>
    <h1 id="sb-title">COMPUTE</h1>
  </div>
</div>

<!-- CONTENT -->
<main class="s-main">
  <div class="s-content">
    <div class="s-top">
      <h2 class="content-heading">Virtuella maskiner till er tjänst</h2>
      <p class="content-body">Safesprings molnbaserade infrastrukturtjänst är baserad på den marknadsledande molnplattformen OpenStack. Tjänsten levereras ifrån säkra datahallar med hög tillgänglighet. Data i tjänsten lämnar aldrig landet då datahallarna är placerade inom landets gränser. Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal: användaren kan själv med få, enkla steg starta och stoppa nya virtuella maskiner. Det går även att styra virtuella maskiner programmatiskt genom standardiserade anrop mot vårt API.</p>
    </div>

    <div class="s-bottom">
      <h2 class="content-heading">Datahallar inom landets gränser</h2>
      <p class="content-body">Safesprings molntjänster produceras i datahallar som befinner sig inom landets gränser och sorterar under den lokala lagstiftningen, inte minst personuppgiftslagen (PUL). Datahallarna har en mycket hög nivå av fysisk säkerhet. All data lagras på krypterade diskar. Alla underliggande system i molnplattformen har en hög nivå av säkerhetshärdning (SELinux). Plattformen är redundant upprättad för att nå hög tillgänglighet samtidigt som systemkomponenterna kontinuerligt och automatiskt uppdateras, baserat på en CI/CD-miljö.</p>
      <p class="content-body">Safespring Compute erbjuder stora fördelar såsom förenklat samarbete mellan olika avdelningar eller grupper, förenklar IT-hantering och adderar effektivitet och flexibilitet till er organisation.</p>
    </div>
  </div>

  <div class="s-sidebar">
    <div>
      <img class="logo" src={{ "/img/safespring_compute_symbol.svg?crc=99232182" | relURL }} alt="" />
    </div>

    <div>
      <h2 class="content-heading">INFRASTRUKTUR SOM TJÄNST</h2>
      <p class="content-body">Med Safesprings molnbaserade infrastrukturtjänst kan du skala upp och ner din infrastruktur efter behov. Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal.</p>
    </div>
<div id="lankar">
    <a id="text-button" href="/marketing/safespring-compute-web.pdf">Läs produktblad</a>
  </div>
    <a id="button" href="/testa-safespring-compute">TESTA GRATIS</a>
    <div class="read-more">
      <h2>Läs mer om:</h2>
      <li class="content-body">
        <a href="/safespring-backup">&gt; Backup som tjänst</a>
      </li>
      <li class="content-body">
        <a href="/safespring-storage">&gt; Lagring som tjänst</a>
      </li>
    </div>
  </div>
</main>

<!-- FOOTER -->
{{ partialCached "footer.html" . }}
