<!-- Google Tag Manager -->
{{ partial "g-tag-manager.html" . }}

<!-- NAVBAR -->
{{ partial "header.html" . }}

<!-- HEADING -->
<div class="heading-sub">
  <div class="heading-content">
    <h1>SAFESPRING</h1>
    <h1 id="sb-title">BACKUP</h1>
  </div>
</div>

<!-- CONTENT -->
<main class="s-main">
  <div class="s-content">
    <div class="s-top">
      <h2 class="content-heading">Backup som tjänst</h2>
      <p class="content-body">Safesprings Backup som tjänst (BaaS) är en riktig molnbaserad backuptjänst. Det betyder att användaren inte behöver investera i någon egen hård- eller mjukvara. Tjänsten konsumeras över internet och användaren betalar bara för mängden data som sparas i tjänsten. Faktura över förbrukning kommer månadsvis och utnyttjandet går att öka eller minska efter eget behov. Säkerheten är mycket god och självklart krypteras all data både i transport (TLS över internet) och på krypterade diskar i datacentret.</p>
      <p class="content-body">Tjänsten är flexibel och lätthanterlig. Ni kan individuellt välja vilken data ni ska säkerhetskopiera och vilket backup-schema som ska gälla. Användare har full kontroll över sin egen data och sina kostnader.</p>
    </div>
    
    <div class="sb-content-bottom">
      <h2 class="content-heading">NYCKELFUNKTIONER</h2>

      <div class="sb-grid">
        <div class="sb-top">
          <h3 class="sb-heading">Optimerad för snabb återställning</h3>
          <p class="sb-body">Lagringen är 100 % diskbaserad för snabb inläsning och återställning.</p>
        </div>

        <div class="sb-middle">
          <h3 class="sb-heading">Integrerar väl</h3>
          <p class="sb-body">Tjänster stödjer ett brett utbud av operativsystem, databaser och applikationer vilket inkluderar MS SQL, DB2 och MS Exchange.</p>
        </div>

        <div class="sb-middle">
          <h3 class="sb-heading">Hög säkerhet</h3>
          <p class="sb-body">Data krypteras både under transport och i vila i vårt datacenter.</p>
        </div>

        <div class="sb-bottom">
          <h3 class="sb-heading">Stor tillgänglighet</h3>
          <ul>
            <li><span class="sb-body">Katastrofskydd – data lagras på en annan geografisk plats.</span></li>
            <li><span class="sb-body">Kopia av data – du kan välja att säkra data på två geografiska platser.</span></li>
            <li><span class="sb-body">Redundant anslutning till SUNETs fibernätverk.</span></li>
            <li><span class="sb-body">Katastrofskydd, där användaren kan göra återställning till <a href="">Safespring Compute</span></a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>

  <div class="s-sidebar">
    <div>
      <img src={{ "/img/safespring_backup_symbol.svg?crc=3923019426" | relURL }} alt="" />
    </div>
  
    <div>
      <h2 class="content-heading">BACKUP SOM TJÄNST</h2>
      <p class="content-body">Med Safesprings molnbaserad backuptjänst (BaaS) behöver du inte investera i egen hård- eller mjukvara. Tjänsten konsumeras
        över internet och du betalar bara för den mängd data som sparas i tjänsten.</p>
    </div>
  
    <a id="button" href="/assets/safespring-backup-web.pdf">LADDA NED
      <br/>PRODUKTBLAD</a>
  
    <a id="button" href="/testa-safespring-backup">ANMÄL INTRESSE
      <br/>FÖR ATT TESTA</a>

    <a id="button" href="/chalmers">LÄS OM CHALMERS
      <br/>BACKUPLÖSNING</a>
  
    <div class="read-more">
      <h2>Läs mer om:</h2>
      <li class="content-body">
        <a href="/safespring-storage">&gt; Lagring som tjänst</a>
      </li>
      <li class="content-body">
        <a href="/safespring-compute">&gt; Infrastruktur som tjänst</a>
      </li>
    </div>
  </div>
</main>

<!-- FOOTER --> 
{{ partial "footer.html" . }}