<div class="ch-sidebar">
  <div>
    <img src="/img/safespring_cloud.svg" alt="Safespring Logotyp" />
  </div>

  <div>
    <h2 class="content-heading">Om Safespring</h2>
    <p class="content-body">Safespring levererar säkra, snabba och flexibla moln- och IT-infrastrukturtjänster baserade på Open Source och öppna standarder. Vi producerar själva samtliga tjänster lokalt vilket gör det enklare för dig att uppfylla lagar och regler, samt känna dig trygg!</p>

    <br>
  </div>

  <div id="button"><a href="/kontakt/">KONTAKTA SAFESPRING</a></div>

  <div class="read-more">
    <h2>Läs mer om:</h2>
          <li class="content-body">
      <a href="/safespring-backup">&gt; Backup som tjänst</a>
    </li>
    <li class="content-body">
      <a href="/safespring-storage">&gt; Lagring som tjänst</a>
    </li>
    <li class="content-body">
      <a href="/safespring-compute">&gt; Infrastruktur som tjänst</a>
    </li>
  </div>
</div>
