<div class="ch-sidebar">
  <div>
    <img src="/img/safespring_cloud.svg" alt="Safespring Logotyp" />
  </div>

  <div>
    <h2 class="content-heading">Om Safespring</h2>
    <p class="content-body">Safespring levererar snabba, flexibla och säkra molntjänster som reducerar time-to-market och möjliggör snabb förnyelse utan tekniska hinder. Safesprings molntjänster produceras säkert och lokalt i samma land som kunden för att bibehålla data-suveränitet.</p>

    <br>
  </div>

  <a id="find-more" href="/kontakt/kontakt">KONTAKTA
    <br/>SAFESPRING</a>

  <div class="read-more">
    <h2>Läs mer om:</h2>
          <li class="content-body">
      <a href="/safespring-backup">&gt; Backup som tjänst</a>
    </li>
    <li class="content-body">
      <a href="/safespring-storage">&gt; Lagring som tjänst</a>
    </li>
    <li class="content-body">
      <a href="/safespring-compute">&gt; Infrastruktur som tjänst</a>
    </li>
  </div>
</div>
