<style>
  .aktuellt {
    background: #f9ffff url("/img/safespring_bilder_5.jpg?crc=3918037671") no-repeat center -300px fixed;
    background-size: cover;
  }
</style>

<!-- Google Tag Manager -->
{{ partial "g-tag-manager.html" . }}

<!-- NAVBAR -->
{{ partial "header.html" . }}

<!-- HEADING -->
<div class="heading-sub">
  <div class="heading-content">
    <h1>Support</h1>
    <p>Ta del av guider och instruktioner rörande våra tjänster.</p>
  </div>
</div>

<!-- CONTENT -->
<main class="content-main">
  <div class="sup-content">
    <!-- Backup -->
    <div class="sup-backup">
      <div class="sup-top">
        <img src={{ "/img/safespring_backup_symbol.svg?crc=3923019426" | relURL }} alt="">
        <div class="sup-heading">
          <h2>SAFESPRING </h2>
          <h2>BACKUP</h2>
        </div>
      </div>

      <div class="sup-bottom">
        <a href="https://docs.safespring.com/backup/getting-started/">Getting Started</a>
        <a href="https://docs.safespring.com/backup/introduction/">Introduction</a>
        <a href="https://docs.safespring.com/backup/install/overview/">Installation</a>
        <a href="https://docs.safespring.com/backup/performance/">Performance</a>
        <a href="https://docs.safespring.com/backup/howto/restore-alternate/">Howtos</a>
        <a href="https://docs.safespring.com/backup/api/">API</a>
        <a href="https://docs.safespring.com/backup/faq/">FAQ</a>
      </div>
    </div>

    <!-- Storage -->
    <div class="sup-storage">
      <div class="sup-top">
        <img src={{ "/img/safespring_storage_symbol.svg?crc=3784456658" | relURL }} alt="">
        <div class="sup-heading">
          <h2>SAFESPRING </h2>
          <h2>STORAGE</h2>
        </div>
      </div>

      <div class="sup-bottom">
        <a href="https://docs.safespring.com/storage/generalinfo/">General S3 Info</a>
        <a href="https://docs.safespring.com/storage/s3cmd/">Example S3cmd Config</a>
        <a href="https://docs.safespring.com/storage/cloudberry/">Example CloudBerry Config</a>
        <a href="https://docs.safespring.com/storage/cyberduck/">Example CyberDuck Config</a>
      </div>
    </div>

    <!-- Compute -->
    <div class="sup-compute">
      <div class="sup-top">
        <img src={{ "/img/safespring_compute_symbol.svg?crc=99232182" | relURL }} alt="">
        <div class="sup-heading">
          <h2>SAFESPRING </h2>
          <h2>COMPUTE</h2>
        </div>
      </div>

      <div class="sup-bottom">
        <a href="https://docs.safespring.com/compute/getting-started/">Getting Started</a>
        <a href="https://docs.safespring.com/compute/api/">API Access</a>
        <a href="https://docs.safespring.com/compute/image/">Image Service</a>
        <a href="https://docs.safespring.com/compute/network/">Network Service</a>
        <a href="https://docs.safespring.com/compute/keypairs/">Using Keypairs</a>
        <a href="https://docs.safespring.com/compute/ipv6-howto/">Enabling IPv6</a>
      </div>
    </div>
  </div>
</main>

<!-- FOOTER -->
{{ partial "footer.html" . }}