{{ partial "head.html" . }}
<!-- Google Tag Manager -->
{{ partial "g-tag-manager.html" . }}

<script>
  fbq('track', 'CompleteRegistration');
</script>


<!-- NAVBAR -->
{{ partial "header.html" . }}

<!-- HEADING -->
<div class="heading-sub" style="background: url(/img/blue/safespring_bilder_10.jpg) no-repeat, fixed; background-size: cover; background-position: center;">
  <div class="heading-content">
    <h1></h1>
  </div>
</div>


<!-- CONTENT -->
<main class="content-main">
<div class="content-body>">
      <h1 class="content-heading">Tack så mycket</h1>
      <p class="content-body">Vad kul att du är intresserad av Safespring.</p><br/><br/>

      <a id="button" href="{{ .Site.BaseURL }}" style="width:110px">Till startsidan</a><br><br>
    </div>
  </div>
</main>

<!-- FOOTER -->
{{ partial "footer.html" . }}
