<style>
  .aktuellt {
    background: #f9ffff url("/img/safespring_bilder_8.jpg?crc=99658493") no-repeat center bottom fixed;
    background-size: cover;
  }
</style>

<!-- Google Tag Manager -->
{{ partial "g-tag-manager.html" . }}

<!-- NAVBAR -->
{{ partial "header.html" . }}

<!-- HEADING -->
<div class="heading-sub">
  <div class="heading-content">
    <h1>Stabil infrastruktur och</h1>
    <h1>resurskonsumering efter behov</h1>
    <p>Med Safespring får du en effektiv modell för leverans
    <br/>av tjänst utan att förlora kontroll över din data.</p>
  </div>
</div>

<!-- CONTENT -->
<main class="content-main">
  <div class="tj-content">
    <!-- Cloud -->
    <div class="tj-cloud">
      <h2 class="content-head">MOLNTJÄNSTER MED HÖG SÄKERHET</h2>
      <p class="content-body">Safesprings molntjänster är skalbara och kostnadseffektiva. Med lokalt producerade molntjänster och med fysiska datacenter placerade i samma land som kunden - lämnar er data aldrig landet.</p>
      <p class="content-body">Safespring lever upp till lokala lagar och regler kring datalagring såsom personuppgiftslagen (PUL) och ligger trots avancerade säkerhetslösningar i priskonkurrens med de internationella publika molnen. Detta möjliggörs med en hög grad av automatisering.</p>
      <p class="content-body">Genom självbetjäning kan Safesprings molntjänster skalas upp och ned efter användarens behov. Safesprings molntjänster köps on-demand vilket ger våra användare full kontroll över nyttjandet av tjänsten. På så sätt kan kvoter sättas och kostnaden
      för det aktuella användandet blir förutsägbar.</p>
    </div>
      
    <!-- Secure -->
    <div class="tj-secure">
      <h2 class="content-head">SÄKRA OCH FLEXIBLA INFRASTRUKTURTJÄNSTER FRÅN SAFESPRING GER:</h2>
      <ol>
        <li><span class="content-body">Reducerad tid att ta nya tjänster i produktion</span></li>
        <li><span class="content-body">Mer effektivt utnyttjande av IT-resurser</span></li>
        <li><span class="content-body">Flexibilitet att skala upp och ner din infrastruktur efter behov</span></li>
        <li><span class="content-body">Inbyggda säkerhetsregler i plattformen som förhindrar dataläckage</span></li>
        <li><span class="content-body">Säkerhetsfunktioner i plattformen som användaren kan styra själv</span></li>
      </ol>
    </div>

    <!-- Offers -->
    <div class="tj-offers">
      <!-- Backup -->
      <div class="tj-backup">
        <div class="tj-top">
          <img src={{ "/img/safespring_backup_symbol.svg" | relURL }} alt="">
          <div class="tj-heading">
            <h2>SAFESPRING </h2>
            <h2>BACKUP</h2>
          </div>
        </div>

        <div class="tj-body">
          <p class="content-body">Med Safesprings molnbaserad backuptjänst behöver du inte investera i egen hård- eller mjukvara. Tjänsten konsumeras över internet och du betalar bara för den mängd data som sparas i tjänsten.</p>
        </div>
      
        <div class="tj-button">
          <a id="button" href="/safespring-backup">LÄS MER OM BACKUP</a>
        </div>
      </div>
      
      <!-- Storage -->
      <div class="tj-storage">
        <div class="tj-top">
          <img src={{ "/img/safespring_storage_symbol.svg" | relURL }} alt="">
          <div class="tj-heading">
            <h2>SAFESPRING </h2>
            <h2>STORAGE</h2>
          </div>
        </div>

        <div class="tj-body">
          <p class="content-body">Safesprings molnbaserade lagring finns i tre olika utförande och är baserad på den marknadsledande lagringsteknologin Ceph. Tjänsten levereras ifrån säkra datahallar med hög tillgänglighet.</p>
        </div>
      
        <div class="tj-button">
          <a id="button" href="/safespring-storage">LÄS MER OM STORAGE</a>
        </div>
      </div>
      
      <!-- Compute -->
      <div class="tj-compute">
        <div class="tj-top">
          <img src={{ "/img/safespring_compute_symbol.svg" | relURL }} alt="">
          <div class="tj-heading">
            <h2>SAFESPRING </h2>
            <h2>COMPUTE</h2>
          </div>
        </div>

        <div class="tj-body">
          <p class="content-body">Med Safesprings molnbaserade infrastrukturtjänst kan du skala upp och ner din infrastruktur efter behov. Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal.</p>
        </div>
      
        <div class="tj-button">
          <a id="button" href="/safespring-compute">LÄS MER OM COMPUTE</a>
        </div>
      </div>
    </div>
  </div>
  
</main>

<!-- FOOTER -->
{{ partial "footer.html" . }}