{{ partial "head-main.html" . }}

<body>
  <!--HTML Widget code-->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXLJWD7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <!-- Heading Text, Header Nav, Content, ???, Content Columns, ???, Footer -->
  <div class="clearfix" id="page">
    <!-- column -->
    <div class="position_content" id="page_position_content">
      <!-- Heading text -->
      <div class="clearfix colelem" id="pu16069">
        <!-- group -->
        <div class="browser_width grpelem" id="u16069-bw">
          <div id="u16069">
            <!-- simple frame -->
          </div>
        </div>

        <div class="browser_width grpelem" id="u27255-bw">
          <div class="museBGSize" id="u27255">
            <!-- group -->
            <div class="clearfix" id="u27255_align_to_page">
              <div class="Underrubrik-sida clearfix grpelem" id="u13337-6">
                <!-- content -->
                <p>Med Safespring får du en effektiv modell för leverans
                  <br/>av tjänst utan att förlora kontroll över din data.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="mast_hd rubriksida clearfix grpelem" id="u13336-6">
          <!-- content -->
          <h1>Stabil infrastruktur och</h1>
          <h1>resurskonsumering efter behov</h1>
        </div>
      </div>

      <!-- Header Nav -->
      <div class="clearfix colelem" id="pu15919">
        <!-- group -->
        <div class="size_fixed" id="u15919">
          <!-- custom html -->
        </div>

        <div class="browser_width" id="u15976-bw">
          <div class="ose_pre_init" id="u15976">
            <!-- simple frame -->
          </div>
        </div>

        <div id="u15924">
          <!-- simple frame -->
        </div>

        <nav class="MenuBar Format-2 clearfix" id="menuu20567">
          <!-- horizontal box -->
          <div class="MenuItemContainer clearfix grpelem" id="u20575">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive Format-2 clearfix colelem" id="u20576" href="tjanster.html">
              <!-- vertical box -->
              <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20578-4">
                <!-- content -->
                <h2>VÅRT ERBJUDANDE</h2>
              </div>
            </a>
            <div class="SubMenu MenuLevel1 clearfix" id="u20580">
              <!-- vertical box -->
              <ul class="SubMenuView clearfix colelem" id="u20581">
                <!-- vertical box -->
                <li class="MenuItemContainer clearfix colelem" id="u20582">
                  <!-- horizontal box -->
                  <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u20583" href="safespring-backup.html">
                    <!-- vertical box -->
                    <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20586-5">
                      <!-- content -->
                      <h2 id="u20586-3">SAFESPRING
                        <span id="u20586-2">BACKUP</span>
                      </h2>
                    </div>
                  </a>
                </li>
                <li class="MenuItemContainer clearfix colelem" id="u20589">
                  <!-- horizontal box -->
                  <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u20592" href="safespring-storage.html">
                    <!-- vertical box -->
                    <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20594-5">
                      <!-- content -->
                      <h2 id="u20594-3">SAFESPRING
                        <span id="u20594-2">STORAGE</span>
                      </h2>
                    </div>
                  </a>
                </li>
                <li class="MenuItemContainer clearfix colelem" id="u20596">
                  <!-- horizontal box -->
                  <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u20599" href="safespring-compute.html">
                    <!-- vertical box -->
                    <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20602-5">
                      <!-- content -->
                      <h2 id="u20602-3">SAFESPRING
                        <span id="u20602-2">COMPUTE</span>
                      </h2>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="MenuItemContainer clearfix grpelem" id="u20610">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u20613" href="pris.html">
              <!-- vertical box -->
              <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20614-4">
                <!-- content -->
                <h2>PRIS</h2>
              </div>
            </a>
          </div>
          <div class="MenuItemContainer clearfix grpelem" id="u20603">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u20606" href="kundreferenser.html">
              <!-- vertical box -->
              <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20609-4">
                <!-- content -->
                <h2>REFERENSER</h2>
              </div>
            </a>
          </div>
          <div class="MenuItemContainer clearfix grpelem" id="u20617">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u20620" href="aktuellt.html">
              <!-- vertical box -->
              <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20623-4">
                <!-- content -->
                <h2>AKTUELLT</h2>
              </div>
            </a>
          </div>
          <div class="MenuItemContainer clearfix grpelem" id="u20568">
            <!-- vertical box -->
            <a class="nonblock nontext MenuItem MenuItemWithSubMenu Format-2 clearfix colelem" id="u20571" href="support.html">
              <!-- vertical box -->
              <div class="MenuItemLabel NoWrap menu clearfix colelem" id="u20574-4">
                <!-- content -->
                <h2>SUPPORT</h2>
              </div>
            </a>
          </div>
        </nav>

        <a class="nonblock nontext" id="u29202" href="index.html"><!-- content --></a>
      </div>

      <!-- Content Info -->
      <div class="clearfix colelem" id="u10403-28">
        <!-- content -->
        <h2 class="Rubrik-br-dtext">MOLNTJÄNSTER MED HÖG SÄKERHET</h2>
        <p class="Brodtext Orange-text">
          <a class="nonblock anim_swing" href="tjanster.html#safespring-molntjanster">
            <span id="u10403-3">Safesprings molntjänster</span>
          </a>är skalbara och kostnadseffektiva. Med lokalt producerade molntjänster och med fysiska datacenter placerade i samma
          land som kunden - lämnar er data aldrig landet.</p>
        <p class="Brodtext Orange-text">Safespring lever upp till lokala lagar och regler kring datalagring såsom personuppgiftslagen (PUL) och ligger trots
          avancerade säkerhetslösningar i priskonkurrens med de internationella publika molnen. Detta möjliggörs med en hög
          grad av automatisering.</p>
        <p class="Brodtext Orange-text">Genom självbetjäning kan Safesprings molntjänster skalas upp och ned efter användarens behov. Safesprings molntjänster
          köps on-demand vilket ger våra användare full kontroll över nyttjandet av tjänsten. På så sätt kan kvoter sättas
          och kostnaden för det aktuella användandet blir förutsägbar.</p>
        <p class="Brodtext">&nbsp;</p>
        <p class="Brodtext">&nbsp;</p>

        <h2 class="Rubrik-br-dtext">SÄKRA OCH FLEXIBLA INFRASTRUKTURTJÄNSTER FRÅN SAFESPRING GER:</h2>
        <ol class="list0 nls-None" id="u10403-26">
          <li class="Brodtext">Reducerad tid att ta nya tjänster i produktion</li>
          <li class="Brodtext">Mer effektivt utnyttjande av IT-resurser</li>
          <li class="Brodtext">Flexibilitet att skala upp och ner din infrastruktur efter behov</li>
          <li class="Brodtext">Inbyggda säkerhetsregler i plattformen som förhindrar dataläckage</li>
          <li class="Brodtext">Säkerhetsfunktioner i plattformen som användaren kan styra själv</li>
        </ol>
      </div>

      <!-- ??? -->
      <a class="anchor_item colelem" id="safespring-molntjanster"></a>

      <!-- Content Columns -->
      <div class="clearfix colelem" id="pu26624">
        <!-- group -->
        <div class="rounded-corners clearfix grpelem" id="u26624">
          <!-- column -->
          <a class="nonblock nontext clip_frame colelem" id="u26631" href="safespring-backup.html">
            <!-- svg -->
            <img class="svg" id="u29148" src="images/safespring_backup_symbol.svg?crc=3923019426" width="135" height="113"
              alt="" data-mu-svgfallback="images/safespring_backup_symbol_poster_.png?crc=3987467584" />
          </a>
          <div class="clearfix colelem" id="u11363-8">
            <!-- content -->
            <h2 class="Rubrik-br-dtext" id="u11363-4">
              <a class="nonblock" href="safespring-backup.html">safespring
                <span id="u11363-2">backup</span>
              </a>
            </h2>
            <p class="Brodtext">Med Safesprings molnbaserad backuptjänst behöver du inte investera i egen hård- eller mjukvara. Tjänsten konsumeras
              över internet och du betalar bara för den mängd data som sparas i tjänsten.</p>
          </div>
          <a class="nonblock nontext rounded-corners clearfix colelem" id="u11351-4" href="safespring-backup.html">
            <!-- content -->
            <p class="rundknapp" id="u11351-2">LÄS MER om backup</p>
          </a>
        </div>

        <div class="rounded-corners clearfix grpelem" id="u26638">
          <!-- column -->
          <a class="nonblock nontext clip_frame colelem" id="u26659" href="safespring-storage.html">
            <!-- svg -->
            <img class="svg" id="u26655" src="images/safespring_storage_symbol.svg?crc=3784456658" width="135" height="113"
              alt="" data-mu-svgfallback="images/safespring_storage_symbol_poster_.png?crc=3945040809" />
          </a>
          <div class="clearfix colelem" id="u11366-8">
            <!-- content -->
            <h2 class="Rubrik-br-dtext" id="u11366-4">
              <a class="nonblock" href="safespring-storage.html">Safespring
                <span id="u11366-2">storage</span>
              </a>
            </h2>
            <p class="Brodtext">Safesprings molnbaserade lagring finns i tre olika utförande och är baserad på den marknadsledande lagringsteknologin
              Ceph. Tjänsten levereras ifrån säkra datahallar med hög tillgänglighet.</p>
          </div>
          <a class="nonblock nontext rounded-corners clearfix colelem" id="u11354-4" href="safespring-storage.html">
            <!-- content -->
            <p class="rundknapp" id="u11354-2">LÄS MER om storage</p>
          </a>
        </div>

        <div class="rounded-corners clearfix grpelem" id="u26641">
          <!-- column -->
          <a class="nonblock nontext clip_frame colelem" id="u26648" href="safespring-compute.html">
            <!-- svg -->
            <img class="svg" id="u26644" src="images/safespring_compute_symbol.svg?crc=99232182" width="135" height="113"
              alt="" data-mu-svgfallback="images/safespring_compute_symbol_poster_.png?crc=436981732" />
          </a>
          <div class="clearfix colelem" id="u11369-8">
            <!-- content -->
            <h2 class="Rubrik-br-dtext" id="u11369-4">
              <a class="nonblock" href="safespring-compute.html">&nbsp;safespring
                <span id="u11369-2">compute</span>
              </a>
            </h2>
            <p class="Brodtext">&nbsp;Med Safesprings molnbaserade infrastrukturtjänst kan du skala upp och ner din infrastruktur efter behov.
              Tjänsten är flexibel, fullt automatiserad och baserad på självbetjäning via en portal.</p>
          </div>
          <a class="nonblock nontext rounded-corners clearfix colelem" id="u11357-4" href="safespring-compute.html">
            <!-- content -->
            <p class="rundknapp" id="u11357-2">LÄS MER om compute</p>
          </a>
        </div>
      </div>

      <!-- ??? -->
      <div class="verticalspacer" data-offset-top="1636" data-content-above-spacer="1635" data-content-below-spacer="325"></div>
      
      <!-- Footer -->
      {{ partial "footer-default.html" . }}
    </div>
  </div>

  <!-- Other scripts -->
  <script type="text/javascript">
    // Decide weather to suppress missing file error or not based on preference setting
    var suppressMissingFileError = false
  </script>

  <script type="text/javascript">
    window.Muse.assets.check = function(d) {
        if (!window.Muse.assets.checked) {
            window.Muse.assets.checked = !0;
            var b = {},
                c = function(a, b) {
                    if (window.getComputedStyle) {
                        var c = window.getComputedStyle(a, null);
                        return c && c.getPropertyValue(b) || c && c[b] || ""
                    }
                    if (document.documentElement.currentStyle) return (c = a.currentStyle) && c[b] || a.style && a.style[b] || "";
                    return ""
                },
                a = function(a) {
                    if (a.match(/^rgb/)) return a = a.replace(/\s+/g, "").match(/([\d\,]+)/gi)[0].split(","), (parseInt(a[0]) << 16) + (parseInt(a[1]) << 8) + parseInt(a[2]);
                    if (a.match(/^\#/)) return parseInt(a.substr(1),
                        16);
                    return 0
                },
                g = function(g) {
                    for (var f = document.getElementsByTagName("link"), h = 0; h < f.length; h++)
                        if ("text/css" == f[h].type) {
                            var i = (f[h].href || "").match(/\/?css\/([\w\-]+\.css)\?crc=(\d+)/);
                            if (!i || !i[1] || !i[2]) break;
                            b[i[1]] = i[2]
                        }
                    f = document.createElement("div");
                    f.className = "version";
                    f.style.cssText = "display:none; width:1px; height:1px;";
                    document.getElementsByTagName("body")[0].appendChild(f);
                    for (h = 0; h < Muse.assets.required.length;) {
                        var i = Muse.assets.required[h],
                            l = i.match(/([\w\-\.]+)\.(\w+)$/),
                            k = l && l[1] ?
                            l[1] : null,
                            l = l && l[2] ? l[2] : null;
                        switch (l.toLowerCase()) {
                            case "css":
                                k = k.replace(/\W/gi, "_").replace(/^([^a-z])/gi, "_$1");
                                f.className += " " + k;
                                k = a(c(f, "color"));
                                l = a(c(f, "backgroundColor"));
                                k != 0 || l != 0 ? (Muse.assets.required.splice(h, 1), "undefined" != typeof b[i] && (k != b[i] >>> 24 || l != (b[i] & 16777215)) && Muse.assets.outOfDate.push(i)) : h++;
                                f.className = "version";
                                break;
                            case "js":
                                h++;
                                break;
                            default:
                                throw Error("Unsupported file type: " + l);
                        }
                    }
                    d ? d().jquery != "1.8.3" && Muse.assets.outOfDate.push("jquery-1.8.3.min.js") : Muse.assets.required.push("jquery-1.8.3.min.js");
                    f.parentNode.removeChild(f);
                    if (Muse.assets.outOfDate.length || Muse.assets.required.length) f = "En del filer på servern kanske saknas eller är felaktiga. Rensa webbläsarens cacheminne och försök igen. Kontakta webbplatsadministratören om problemet kvarstår.", g && Muse.assets.outOfDate.length && (f += "\nOut of date: " + Muse.assets.outOfDate.join(",")), g && Muse.assets.required.length && (f += "\nMissing: " + Muse.assets.required.join(",")), suppressMissingFileError ? (f += "\nUse SuppressMissingFileError key in AppPrefs.xml to show missing file error pop up.", console.log(f)) : alert(f)
                };
            location && location.search && location.search.match && location.search.match(/muse_debug/gi) ?
                setTimeout(function() {
                    g(!0)
                }, 5E3) : g()
        }
    };
    var muse_init = function() {
        require.config({
            baseUrl: ""
        });
        require(["jquery", "museutils", "whatinput", "jquery.watch", "jquery.musepolyfill.bgsize", "jquery.musemenu", "jquery.scrolleffects"], function(d) {
            var $ = d;
            $(document).ready(function() {
                try {
                    window.Muse.assets.check($); /* body */
                    Muse.Utils.transformMarkupToFixBrowserProblemsPreInit(); /* body */
                    Muse.Utils.detectScreenResolution(); /* HiDPI screens */
                    Muse.Utils.prepHyperlinks(true); /* body */
                    Muse.Utils.resizeHeight('.browser_width'); /* resize height */
                    Muse.Utils.requestAnimationFrame(function() {
                        $('body').addClass('initialized');
                    }); /* mark body as initialized */
                    Muse.Utils.fullPage('#page'); /* 100% height page */
                    Muse.Utils.initWidget('.MenuBar', ['#bp_infinity'], function(elem) {
                        return $(elem).museMenu();
                    }); /* unifiedNavBar */
                    $('#u27255').registerBackgroundPositionScrollEffect([{
                        "in": [-Infinity, -100],
                        "speed": [0, 0.8]
                    }, {
                        "in": [-100, Infinity],
                        "speed": [0, 0.8]
                    }]); /* scroll effect */
                    $('#u15976').registerOpacityScrollEffect([{
                        "in": [-Infinity, 35],
                        "opacity": 0,
                        "fade": 0
                    }, {
                        "in": [35, 35],
                        "opacity": 0
                    }, {
                        "in": [35, Infinity],
                        "opacity": 100,
                        "fade": 34.5
                    }]); /* scroll effect */
                    Muse.Utils.showWidgetsWhenReady(); /* body */
                    Muse.Utils.transformMarkupToFixBrowserProblems(); /* body */
                } catch (b) {
                    if (b && "function" == typeof b.notify ? b.notify() : Muse.Assert.fail("Error calling selector function: " + b), false) throw b;
                }
            })
        })
    };
  </script>

  <!-- RequireJS script -->
  <script src="scripts/require.js?crc=3951022091" type="text/javascript" async data-main="scripts/museconfig.js?crc=474374037" onload="if (requirejs) requirejs.onError = function(requireType, requireModule) { if (requireType && requireType.toString && requireType.toString().indexOf && 0 <= requireType.toString().indexOf('#scripterror')) window.Muse.assets.check(); }" onerror="window.Muse.assets.check();"></script>
</body>
</html>