<div class="webinar-side-bar">
  <div>
    <img
      class="logo"
      src="/img/safespring_cloud.svg"
      alt="{{ T "webinar_sidebar.logo_alt" }}"
    />
  </div>
  <div class="webinar-side-bar-text">
    <h3 class="">{{ T "webinar_sidebar.title" }}</h3>
    <p class="">
      {{ T "webinar_sidebar.desc" }}
    </p>
    <br />
  </div>
  <div class="webinar-side-bar-cards">
    {{ range where (where .Site.RegularPages "Params.series" "ne" "true")
      "Section" "eq" "webinar"
    }}
      <div class="content-container">{{ .Render "li-latest" }}</div>
    {{ end }}
  </div>
</div>
