{{ partial "head.html" . }}
<!-- NAVBAR -->
{{ partial "header.html" . }}
<!-- HEADING -->
<div
  class="heading-default-single"
  style="background: url({{ if .Params.background }}
    /img/background/{{ .Params.background }}
  {{ else }}
    /img/background/safespring-blue-fade2.svg
  {{ end }}); background-size: cover; background-position: center;"
>
  <div style="max-width: 800px">
    <div class="section">
      {{ if .Params.toplogo }}
        <img
          src="/img/logos/{{ .Params.toplogo }}"
          alt="Logo"
          class="toplogo"
        />
      {{ end }}
      <a
        href="/{{ .Section }}"
        style="{{ if .Params.cardcolor }}color: #5c5c5c;{{ end }}"
      >
        {{ if eq .Section "om-safespring" }}
          {{ T "menu.safespring_about" }}
        {{ else if eq
          .Section "referenser"
        }}
          {{ T "menu.customer_references" }}
        {{ else if .Params.section }}
          {{ .Params.section }}
        {{ else if .Params.toplogo }}
        {{ else }}
          {{ .Section }}
        {{ end }}
      </a>
    </div>
    <h1
      class="balance-text"
      style="color: {{ if .Params.cardcolor }}
        {{ .Params.cardcolor }}
      {{ else }}
        var(--main-color)
      {{ end }}"
    >
      {{ T "error404.title" }}
    </h1>
    <p>
      {{ T "error404.desc" }}
    </p>
  </div>
  <div class="w250"></div>
</div>
<main class="main-default-single">
  <div
    {{ if
      .Params.fullwidth
    }}
      class="main-default-single-full-width"
    {{ else }}
      class="content-default-single"
    {{ end }}
  >
    <h2>{{ T "error404.heading" }}</h2>
    <p>
      {{ T "error404.body" }}
    </p>
    <div class="icon-block-horisontal" style="background-color: #eed70010">
      <div
        class="icon-block-color"
        style="color: #eed700; background-color: #eed70010"
      >
        <i class="fa-solid fa-triangle-exclamation icon"></i>
      </div>
      <div style="padding: 15px 0">
        <p class="inline_rubrik" style="color: #eed700; margin-bottom: 0">
          {{ T "error404.page_tried" }}
        </p>
        <p id="requested-url" class="url" style="margin-top: 0"></p>
      </div>
    </div>
    <h3>{{ T "error404.what_means" }}</h3>
    <p>
      {{ T "error404.explanation_1" }}
    </p>
    <p>
      {{ T "error404.explanation_2" }}
    </p>
    <p>
      {{ T "error404.explanation_3" }}
    </p>
    <script>
      document.getElementById("requested-url").textContent =
        window.location.href;
    </script>
  </div>
  <div class="sidebar-default-single">
    <!-- Use partial to include the content in the standard sidebar -->
    {{ partial "sidebar-default-single.html" . }}
  </div>
</main>
{{ partial "footer.html" . }}
