{{ partial "head.html" . }}
<!-- NAVBAR -->
{{ partial "header.html" . }}
<!-- HEADING -->
<div class="heading-default-single" style="background: url({{ if .Params.background }}/img/background/{{ .Params.background }}{{ else }}/img/background/safespring-blue-fade2.svg{{ end }}); background-size: cover; background-position: center;">
  <div style="max-width: 800px;">
    <div class="section">
      {{ if .Params.toplogo }}
      <img src="/img/logos/{{ .Params.toplogo }}" alt="Logo" class="toplogo">
      {{ end }}
      <a class="" href="/{{ .Section }}" style='{{ if .Params.cardcolor }}color: #5c5c5c;{{ end }}'>
        {{ if eq .Section "om-safespring" }}About Safespring{{ else if eq .Section "referenser" }}Customer References{{ else if .Params.section }}{{ .Params.section }}{{ else if .Params.toplogo }}{{ else }}{{ .Section }}{{ end }}
      </a>
    </div>
    <h1 class="balance-text" style="color: {{ if .Params.cardcolor }}{{ .Params.cardcolor }}{{else}}var(--main-color){{end}}">
      500 error
    </h1>
    <p>
      "500 error" or "Internal Server Error" is a generic error message, given when an unexpected condition was encountered and no more specific message is suitable.
    </p>
  </div>
  <div class="w250"></div>
</div>
<main class="main-default-single">
  <div {{ if .Params.fullwidth }}class='main-default-single-full-width'{{else}}class='content-default-single'{{end}}>
    <h2>Oops! Something went wrong on our end.</h2>
    <p>It seems there was a problem with our server. This could be due to maintenance, overload, or some other issue. We're likely already working on solving the problem, but if you continue to encounter this error, please let us know.</p>
    <h3>What does 500 mean?</h3>
    <p>"500 error" or "Internal Server Error" is a general error message indicating a problem on the web server that prevents it from functioning properly. This error is often a catch-all for server-related issues.</p>
    <p>Unlike the 404 error, which indicates that the requested page could not be found, a 500 error points to a problem with the server itself. We apologize for any inconvenience this may have caused and appreciate your patience.</p>
  </div>
  <div class="sidebar-default-single">
    <!-- Use partial to include the content in the standard sidebar -->
    {{ partial "sidebar-default-single.html" . }}
  </div>
</main>
{{ partial "footer.html" . }}