{{ partial "head.html" . }}


<body>
  <!-- NAVBAR -->
  {{ partial "header.html" . }}
  <!-- HEADING -->
  <main class="white-blue-fade">
    <section class="heading-index">
      <div class="headline-and-badge">
        <h1 class="post-heading-firstpage balance-text">{{ .Title }}</h1>
        <p class="content-summary-index">{{ .Params.intro }}</p>
        <a
          href="{{ relref . "gdpr" }}"
          data-track-content
          data-content-name="GDPR Banner"
          data-content-piece="/img/safespring-gdpr-compliant-badge2025.svg"
          data-content-target="{{ relref . "gdpr" }}"
        >
          <img
            class="badge"
            src="/img/safespring-gdpr-compliant-badge2025.svg"
            alt="{{ T "landing.gdpr_badge_alt" }}"
          />
        </a>
      </div>
    </section>
    <section class="background-bright">
      <div class="flexcontainer-three">
        {{ range (where $.Site.RegularPages "Section" "services").ByParam "cardorder" }}
          {{ if isset .Params "cardorder" }}{{ .Render "li-index" }}{{ end }}
        {{ end }}
      </div>
      <div id="scaleout-usecase">
      </div>
      {{ partial "index-video-player.html" . }}
          <div class="center-text">
              <img src="/img/logos/safespring_partners_scaleout-systems.svg" alt="Scaleout logotype" style="max-width:250px;margin-bottom: 20px;">
              <p>{{ T "landing.scaleout_description" }}</p>
              <p><a href="{{ relref . "services/case/scaleout" }}" class="button">{{ T "landing.scaleout_to_use_case" }}</a></p>
            </div>
          </section>
          <section class="two-field-background">
            <div class="two-field-container-1">
              <h2 class="balance-text">{{ T "landing.compute_title" }}</h2>
              <div class="ingress" id="down">
                <p>{{ T "landing.compute_description" }}</p>
                <a href="{{ relref . "services/compute" }}" class="button">{{ T "landing.compute_button" }}</a>
              </div>
            </div>
            <div class="two-field-container-image">
              <img class="lazyload index-image" src="/img/graphics/safespring-list.svg" data-src="/img/graphics/safespring-list.svg" alt="{{ T "landing.platform_visual_alt" }}">
            </div>
            <div class="two-field-container">
              <h2 class="balance-text">{{ T "landing.datacenters_title" }}</h2>
              <div class="ingress">
                <p>{{ T "landing.datacenters_description" }}</p>
                <a href="{{ relref . "data-centers" }}" class="button">{{ T "landing.datacenters_button" }}</a>
                <a style="margin:25px 0 0 0; padding: 1px 0 0 0;" class="text-button" href="{{ relref . "about" }}">{{ T "landing.about_us_button" }}</a>
              </div>
            </div>
          </section>
          <section class="flexcontainer">
            {{ range first 3 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
            <div class="content-container">
              {{ .Render "li-latest"}}
            </div>
            {{ end }}
          </section>
        </main>
        <!-- FOOTER -->
        {{ partial "footer.html" . }}
      </body>
