{{ partial "head.html" . }}

<body>
    <!-- NAVBAR -->
    {{ partial "header.html" . }}

    <!-- HEADING -->
    <div class="heading">
        <div class="container">
            <div id="slideshow">
                <div class="heading-content">
                    <h1>Säkra molntjänster</h1>
                    <p>Infrastruktur, backup och lagring genom teknologi i världsklass.</p>
                </div>

                <div class="hidden heading-content">
                    <h1>Lokalt producerade i Sverige och Norge</h1>
                    <p>Trygga datacenter håller din data inom landets gränser.</p>
                </div>
            </div>
            <div class="arrows">
                <a class="arrowL" id="arrow" href="#">&lt;</a>
                <a class="more" href="#down">LÄS MER</a>
                <a class="arrowR" id="arrow" href="#">&gt;</a>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content-main" id="down">
        <!-- Heading Text -->
        <div class="content-heading">
            <p>Safespring levererar snabba, flexibla och säkra molntjänster som reducerar time-to-market och möjliggör snabb förnyelse
                utan tekniska hinder. Safesprings molntjänster produceras säkert och lokalt i samma land som kunden för att bibehålla
                data-suveränitet.</p>
        </div>

        <!-- Body Text -->
        <div class="content-body">
            <p>Safespring är ett Nordiskt företag med lokalt producerade molntjänster
                <br/>i Sverige &amp; Norge.</p>
            <p>Safesprings molntjänster lever upp till lokala lagar och regler kring datalagring, däribland personuppgiftslagen
                (PUL), och är producerade i en miljö som är utvecklad för att säkerställa hög säkerhet för att nå upp till högt
                ställda krav främst inom den akademiska sektorn.</p>
            <p>Safespring levererar infrastrukturlösningar i molnet, och når idag samtliga universitet, högskolor och andra utbildnings-
                och forskningsmiljöer som är anslutna till de nationella forskningssätena; Sunet i Sverige och Uninett i Norge.</p>
            <p>Med en mycket hög grad av automatisering kan Safespring leverera högklassiga infrastrukturlösningar i priskonkurrens
                med de internationella publika molnen.</p>
        </div>
    </div>

    <!-- FOOTER -->
    {{ partial "footer.html" . }}
</body>