{{ partial "head.html" . }}

<body>
  <!-- Google Tag Manager -->
  {{ partial "g-tag-manager.html" . }}

  <!-- NAVBAR -->
  {{ partial "header.html" . }}
  {{ partial "svg-filter.html" . }}
  <!-- HEADING -->
    <div class="heading-index">
      <div class="content-container-index">
        <div class="content-meta-post">
          <img style="width: 200px; margin: 0 0 40px 0;" src="/img/1C_Safespring_Logotyp_Vit_RGB.svg">
        </div>
        <h1 class="post-heading-firstpage">En hållbar plattform<br>för säkra molntjänster</h1>
        <p class="content-summary-blogg">Safespring är en svensk leverantör av moln- och infrastruktur som tjänst. Vår plattform är baserad på Open Source och öppna standarder. Upplev fördelarna med molnet där du behåller kontroll och digital suveränitet.</p><br><br>
        <a id="button" href="/tjanster/" style="margin:0 20px 20px 0;">Våra tjänster</a><a id="text-button" href="#down">Läs mer</a>
        <!--<i class="fas fa-arrow-circle-down fa-5x" style="color: var(--button-color)"></i>-->
    </div>
  </div>

  <!-- CONTENT -->
  <main class="content-main-index" id="down">
      <!-- Heading Text -->
      <div class="content-image">
      </div>

      <!-- Body Text -->
      <div class="content-body-index">
        <div class="ingress"><p>Ta kontroll på din hantering av personuppgifter och känslig data med oss</p></div>
        <p>Safespring är ett Svenskt företag med lokalt producerade molntjänster i Sverige och Norge.</p>
        <p>Molntjänster är ett modernt och effektivt sätt att producera IT, men frågor som alltid diskuteras är om det är säkert och var ens data finns. Det är något som vi tagit fasta på när vi skapat Safespring och våra tjänster, hos oss ska du känna dig trygg! Din data lämnar aldrig landet.</p>
        <p>Att vi är ett svenskt företag innebär dessutom att vi inte innefattas av Cloud Act, så vi kan inte tvingas att lämna ut din data!</p>
        <p>Vi har skapat våra tjänster med högsta säkerhet i fokus, vi producerar dem lokalt för att du ska veta vilka lagar och regler som gäller och var ditt data finns lagrat ! Vi är experter på det vi gör och hjälper dig gärna att ta fram bästa lösningen för just dig!</p>
        <h2>Open Source</h2>
        <p>Våra tjänster baseras på öppen källkod sk. Open Source. De senaste decennierna har visat att öppen källkod ger ett oerhört kraftfullt ekosystem av företag och organisationer som i stort har samma behov, men samtidigt behov av skräddarsydda lösningar.</p>
        <a href="/om-safespring/bli-partner" id="text-button">Bli partner med oss</a>
      </div>
    </main>
    <div class="background-gray">
<div class="flexcontainer" style="align-items:baseline;">
            {{ range first 3 (where $.Site.RegularPages "Section" "blogg") }}
              {{ .Render "li"}}
              {{ end }}
        </div>
      </div>
  <!-- FOOTER -->
  {{ partial "footer.html" . }}
</body>
