{{ partial "head.html" . }}

<body>
  <!-- Google Tag Manager -->
  {{ partialCached "g-tag-manager.html" . }}

  <!-- NAVBAR -->
  {{ partialCached "header.html" . }}

  <!-- HEADING -->
  <div class="heading-index" style="background: url(/img/safespring-molnlagring-blue.jpg) no-repeat, fixed; background-size: cover; background-position: center;">
    <div class="content-container-post">
      <div class="content-meta-post"><a class="content-category-blogg" href="/om-safespring">Om Safespring</a></div><br>
      <a class="post-heading-firstpage" href="/om-safespring">Svenska molntjänster</a>
        <div class="content-summary-blogg">Safespring levererar säkra, snabba och flexibla moln- och IT-infrastrukturtjänster baserade på Open Source och öppna standarder. Vi producerar själva samtliga tjänster lokalt vilket gör det enklare för dig att uppfylla lagar och regler, samt känna dig trygg!</div><br><br>
        <a class="button" href="/om-safespring" style="width: 75px;">Läs mer</a>
      <!-- Range random page from "om-safespring"
      {{ range first 1 ((where .Pages "Section" "om-safespring") | shuffle) }}
        {{ .Render "li2"}}
        {{ end }}
      </br>
    </div> -->
    </div>
  </div>

  <!-- CONTENT -->
  <main class="content-main" id="down">
    <div class="">
      <!-- Heading Text -->
      <div class="content-head">
        <p>Safespring levererar säkra, snabba och flexibla moln- och IT-infrastrukturtjänster baserade på Open Source och öppna standarder. Vi producerar själva samtliga tjänster lokalt vilket gör det enklare för dig att uppfylla lagar och regler, samt känna dig trygg!
        </p>
      </div>

      <!-- Body Text -->
      <div class="content-body">
        <p>Safespring är ett Svenskt företag med lokalt producerade molntjänster i Sverige och Norge.</p><br>
        <p>Molntjänster är ett modernt och effektivt sätt att producera IT, men frågor som alltid diskuteras är om det är säkert och var ens data finns. Det är något som vi tagit fasta på när vi skapat Safespring och våra tjänster, hos oss ska du känna dig trygg! Din data lämnar aldrig landet.</p><br>
        <p>Att vi är ett svenskt företag innebär dessutom att vi inte innefattas av Cloud Act, så vi kan inte tvingas att lämna ut din data!</p><br>
        <p>Vi har skapat våra tjänster med högsta säkerhet i fokus, vi producerar dem lokalt för att du ska veta vilka lagar och regler som gäller och var ditt data finns lagrat ! Vi är experter på det vi gör och hjälper dig gärna att ta fram bästa lösningen för just dig!</p><br>
        <h2>Open Source</h2>
        <p>Våra tjänster baseras på öppen källkod sk. Open Source. De senaste decennierna har visat att öppen källkod ger ett oerhört kraftfullt ekosystem av företag och organisationer som i stort har samma behov, men samtidigt behov av skräddarsydda lösningar.</p>
        <a href="/om-safespring/bli-partner" id="text-button">Bli partner med oss</a>
      </div>
    </main>
    <h2 style="text-align:center;">Senaste nytt</h2></br>
<div class="flexcontainer" style="align-items:baseline; margin-bottom:200px;">
          {{ range first 3 .Site.Pages.ByDate.Reverse }}
            {{ range first 4 (where .Pages "Section" "in" (slice "blogg" "")) }}
              {{ .Render "li"}}
              {{ end }}
          {{ end }}
        </div>
      <!-->
        {{ $paginator := .Paginate (where .Data.Pages "Type" "blogg") 10 }}
          {{ range $paginator.Pages }}
            {{ .Render "summary" }}
        {{ end }}-->
    </div>

  <!-- Homepage Heading Slideshow


  <script>
      var main = function () {

        var paused = false

        $('.arrowR').click(function () {
          paused = true;
          $('#slideshow > div:first')
            .fadeOut(1000)
            .next()
            .fadeIn(1000)
            .end()
            .appendTo('#slideshow');
        });

        $('.arrowL').click(function () {
          paused = true;
          $('#slideshow > div:last')
            .fadeIn(1000)
            .prependTo('#slideshow')
            .next()
            .fadeOut(1000)
            .end();
        });



        setInterval(function () {
          if (paused === false) {
            $('#slideshow > div:first')
              .fadeOut(1000)
              .next()
              .fadeIn(1000)
              .end()
              .appendTo('#slideshow');
          };
        }, 5000);


      };

      $(document).ready(main);
    </script>


  -->


  <!-- FOOTER -->
  {{ partialCached "footer.html" . }}
</body>
