{{ partial "head.html" . }}
{{ partial "header.html" . }} <!-- HEADING -->
<div class="heading-sub" style="background: url(/img/blue/safespring_bilder_3.jpg) no-repeat, fixed; background-size: cover; background-position: center;">
 <div class="heading-content">
   <h1>Work at Safespring</h1>
   <p>You help make Safespring an innovative and modern brand. You make it possible for organisations to develop secure and compliant services. And you help make Safespring a great and efficient place to work with digital solutions for every business need. You’re a vital part of the Safespring business – now more than ever.</p>
 </div>
</div>
<!-- CONTENT -->
<main class="content-chalmers" style="background:var(--text-color)">
  <!-- Main  -->
  <div class="listpage">
    <div class="flexcontainer" style="background: var(--text-color); align-items: baseline;">
      {{ range .Data.Pages.GroupByDate "2006" }}

        {{ range .Pages }} {{ .Render "li"}} {{ end }}

      {{ end }}
    </div>
    </div>
    </div>
    {{ partial "side-bar.html" . }}

  </main>

  	<!-- FOOTER -->
  	{{ partial "footer.html" . }}
