  <div class="content-container">
    <a href="{{ .Permalink }}">
    <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
        <div class="d-block w-full"><img src="{{ if.Params.card }}/img/card/{{ .Params.card }}{{ else }}/img/blogg/cards/safespring_card_0.jpg{{ end }}" alt="{{ .Title }}"></div>
  <div class="px-2 py-2">
    <h1 class="ff-serif font-weight-light text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
      {{ if .Params.cardtitle }}{{ .Params.cardtitle }}{{ else }}{{ .Title }}{{ end }}
    </h1>
    <p class="mb-1">
      {{ .Params.intro }}
    </p>
  </div>
  <a href="{{ .Permalink }}" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
    Läs mer
  </a>
</div></a></div>
