<script type="text/javascript">
function openTerms(id) {
    var terms = {
        "1": "Read more at www.safespring.com",
        "3": null
    };
    var preview = window.open("", "", "height=700,width=800,scrollbars=yes,resizable=yes,toolbar=no,status=no,menu=no,titlebar=no,location=no,addressbar=no");
    var html = "<head><meta charset=\"UTF-8\"><style>body {margin: 0; padding: 20px;color: #333;font-family: Helvetica;font-size: 14px;}</style></head><body>" + terms[id] + "</body>";
    preview.document.write(html);
} < /script><form id="up-form" name="form_9549u4d6d51f2f5fc45b8a4b4c7aba187a704" action="https:/ / power.upsales.com / api / external / formSubmit " method="
POST "><div class="
email "><label>Email *</label><br><input maxlength="
512 " type="
email " placeholder="
" pattern=" ^ [a - zA - Z0 - 9.!#$ % & amp;’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+){1,}$" title="Please enter a valid email" id="up-email-input" autocomplete="off" name="Contact.email" required="required"></div > < !--REQUIRED FIELDS-- > < input type = "hidden"
    name = "formCid"
    value = "9549" > < input type = "hidden"
    name = "formId"
    value = "9549u4d6d51f2f5fc45b8a4b4c7aba187a704" > < input type = "hidden"
    name = "isFrame"
    value = "false" > < input type = "text"
    value = ""
    name = "validation"
    style = "display: none;" > < !--END OF REQUIRED FIELDS-- > < div class = "submit-button" > < button type = "submit" > Boka demo < /button></div > < /form><script>(function(){var form = document.getElementById("up-form");if(form) {form.addEventListener("submit", function(ev) {var button = ev.target.querySelector("button[type=submit]");if(button) {button.disabled = true;}});}})();</script > < script > function onSubmit(t) {
        var o, n, a = !0,
            e = !0;
        void 0 !== window.__validEmail && (e = window.__validEmail, a = !1), "boolean" == typeof e && e && !a ? validateForm(t, "https://www.safespring.com") : (t.preventDefault(), o = !0, n = setInterval(function() {
            var e = window._bEmValid;
            void 0 === window.__validEmail && e || (o = window.__validEmail, a = !1), ("boolean" == typeof o && o || !a) && (clearInterval(n), validateForm(t, "https://www.safespring.com"))
        }, 300))
    }

    function validateForm(e, o) {
        e.preventDefault();
        for (var e = document.getElementsByName("formId")[0].value, e = document.forms["form_" + e], t = e.querySelectorAll("input, textarea, select"), n = 0; n < t.length; n++) "text" === t[n].type && (t[n].value = t[n].value.trim());
        var a = e.querySelectorAll("input[name*=phone], input[name*=Phone]");
        if ([].forEach.call(a, function(e) {
                e.iti && (e.value = e.iti.getNumber())
            }), void 0 === window.grecaptcha || "" !== window.grecaptcha.getResponse()) {
            for (var l = [], n = 0; n < t.length; n++) "checkbox" === t[n].type ? l.push(t[n].name + "=" + encodeURIComponent(t[n].checked ? t[n].value : "off")) : l.push(t[n].name + "=" + encodeURIComponent(t[n].value));
            var a = l.join("&"),
                i = (a += "&isAjax=true", window._paq || null),
                s = new XMLHttpRequest;
            s.open("POST", e.action), s.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"), s.send(a), s.onload = function() {
                var e, t;
                200 === s.status ? o ? (i && i.push && i.push(["trackLink", "https://post.upsales.com/" + s.responseText, "link"]), "undefined" != typeof _uaq && _uaq("form=" + s.responseText), setTimeout(function() {
                    window.top.location.href = o
                }, 333)) : (e = document.getElementById("up-form"), t = document.getElementById("up-form-thanks"), e.style.display = "none", t.style.display = "block", i && i.push && i.push(["trackLink", "https://post.upsales.com/" + s.responseText, "link"]), _uaq && _uaq("form=" + s.responseText)) : console.log("AJAX ERROR", s.status)
            }
        } else {
            e = document.getElementById("recaptcha-error"), a = document.getElementsByClassName("g-recaptcha");
            e.style.display = "none", a && a.length && console.log("handle this later")
        }
    }
    var form = document.getElementById("up-form");form.addEventListener("submit", onSubmit);
</script>
