<br />
{{ if $.Page.Params.link }}
  <a class="button" target="_blank" rel="noopener noreferrer" href="{{ $.Page.Params.link }}"
    >{{ $.Page.Params.knapp }}</a
  >
{{ else }}
  {{ $href := partial "resolve-link.html" (dict "page" $.Page "href" $.Page.Params.sidebarlinkurl) }}
  <a href="{{ $href }}" target="_blank" rel="noopener noreferrer" class="button"
    >{{ $.Page.Params.sidebarlinkname }}{{ if $.Page.Params.sidebarlinkicon }}
      &nbsp;&nbsp;&nbsp;<i class="fas {{ $.Page.Params.sidebarlinkicon }}"></i>
    {{ end }}</a
  >
{{ end }}
