<div class="safespring-horisontal-card-container bg-white shadow-1 safespring-horisontal-card-row my-2">
  <div class="safespring-horisontal-card-col safespring-horisontal-card-image">
    <img src="{{ .Get `image` }}" alt="{{ .Get `cardtitle` }}">
  </div>
  <div class="safespring-horisontal-card-col safespring-horisontal-card-content">
    <h3>{{ .Get "cardtitle" }}
    </h3>
      <p>{{ .Get "text" }}
      </p><br><br>
        <!-- Calendly link widget begin -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <a class="button" href="" onclick="Calendly.initPopupWidget({url: '{{ .Get `link` }}'});return false;">{{ .Get "linktext" }}</a>
        <!-- Calendly link widget end -->
      </a>
    </div>
  </div>
