<div class="flex-content">
  <div class="body p-relative bg-white shadow-1">
    <div class="d-block w-full">
    </div>
    <div class="px-2 py-2">
      <h3 style="color: #9A9A9A; font-size: 16px; line-height: 1 !important; margin:0 !important;">
        {{ .Get "title" }}
      </h3>
      <h2 style="color: #323232; margin:0; font-size: 20px; line-height: 1 !important; padding-top: 5px !important;">
        {{ .Get "name" }}
      </h2>
      <p style="line-height: 1 !important; margin:0px !important;">
        <a style="color: #9A9A9A; font-size: 14px;" href="mailto:{{.Get `email`}}">{{ .Get "email" }}</a>
      </p>
    </div>
  </div>
</div>
