<div class="content-container">
  <div class="body my-2 p-relative bg-white shadow-1">
    <img src="/tjanster/images/safespring-storage.jpg" alt="{{ .Title }}" class="d-block w-full">
    <div class="px-2 py-2">
      <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right:5px;">
        Support
      </div>
      <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right:5px;">
        |
      </div>
      <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black" >
        Dokumentation
      </div>
      <h1 class="ff-serif font-weight-medium text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
        Safespring Storage
      </h1><br>
      <ul class="support-list">
        <li class="folder">Support</li>
        <ul class="support-list">
          <li><a href="https://docs.safespring.com/storage/generalinfo/">General S3 Info</a></li>
          <li class="folder">Examples</li>
          <ul class="support-list">
            <li><a href="https://docs.safespring.com/storage/s3cmd/">s3cmd config</a></li>
            <li><a href="https://docs.safespring.com/storage/s3fs/">s3fs config</a></li>
            <li><a href="https://docs.safespring.com/storage/cloudberry/">CloudBerry config</a></li>
            <li><a href="https://docs.safespring.com/storage/cyberduck/">CyberDuck config</a></li>
            <li><a href="https://docs.safespring.com/storage/duck-cli/">Duck CLI config</a></li>
            <li><a href="https://docs.safespring.com/storage/nextcloud-s3/">NextCloud S3</a></li>
          </ul>
          <li><a href="https://docs.safespring.com/storage/tips-n-tricks/">Tips and Tricks</a></li>
          <li><a href="https://docs.safespring.com/storage/other-backends/">Other Backends</a></li>
        </ul>
      </div>
      <a href="https://docs.safespring.com/storage/generalinfo/" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
        Storage Support
      </a>
    </div>
  </div>
