
		<div class="container-table-wp mt-2">
			<div class="price-table">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Service in Azure
							</div>
							<div class="cell">
								Function
							</div>
							<div class="cell">
								Open Source
							</div>
							<div class="cell">
								Managed by Safespring
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Kubernetes Service (AKS)
							</div>
							<div class="cell" data-title="Function">
								Managed Kubernetes
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://compliantkubernetes.io">Compliant Kubernetes</a>
							</div>
							<div class="cell" data-title="Managed by Safespring">
								Yes
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Virtual Machine
							</div>
							<div class="cell" data-title="Function">
								Virtual machines where Kubernetes runs (master and worker nodes)
							</div>
							<div class="cell" data-title="Open source alternativ">
								N/A
							</div>
							<div class="cell" data-title="Managed by Safespring">
								Yes
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Blob Storage
							</div>
							<div class="cell" data-title="Function">
								Object storage
							</div>
							<div class="cell" data-title="Open source alternativ">
								N/A
							</div>
							<div class="cell" data-title="Managed by Safespring">
								Yes
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Mysql,<br> Azure MariaDB,<br> Azure PostgreSQL
							</div>
							<div class="cell" data-title="Function">
								Databases
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://galeracluster.com">Galera-kluster</a> (for MySQL or MariaDB) with ProxySQL that runs in Kubernetes or in separate virtual machines.
							</div>
							<div class="cell" data-title="Managed by Safespring">
								Yes
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Service Bus
							</div>
							<div class="cell" data-title="Function">
								Message function for communication between services
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://www.rabbitmq.com">RabbitMQ</a> or <a href="https://nats.io">NATS</a> that runs in Kubernetes or in separate virtual machines.
							</div>
							<div class="cell" data-title="Managed by Safespring">
								Yes
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Monitor
							</div>
							<div class="cell" data-title="Function">
								Monitoring
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://prometheus.io">Prometheus</a> + <a href="https://grafana.com">Grafana</a>
							</div>
							<div class="cell" data-title="Managed by Safespring">
								Yes
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Monitor
							</div>
							<div class="cell" data-title="Function">
								Loging
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://www.elastic.co/elasticsearch/">Elasticsearch</a>
							</div>
							<div class="cell" data-title="Managed by Safespring">
								Yes
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Container Registry
							</div>
							<div class="cell" data-title="Function">
								Container register
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://goharbor.io">Harbor</a>
							</div>
							<div class="cell" data-title="Managed by Safespring">
								Yes
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								N/A
							</div>
							<div class="cell" data-title="Function">
								Breach detection
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://falco.org">Falco</a>
							</div>
							<div class="cell" data-title="Managed by Safespring">
								Yes
							</div>
						</div>

												<div class="row">
													<div class="cell" data-title="Service in Azure">
														Azure Active Directory
													</div>
													<div class="cell" data-title="Function">
														Identity Provider
													</div>
													<div class="cell" data-title="Open source alternativ">
														<a href="https://dexidp.io">Dex</a>
													</div>
													<div class="cell" data-title="Managed by Safespring">
														Yes
													</div>
												</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure AD Domain Services
							</div>
							<div class="cell" data-title="Function">
								Handles the organisations users, resources and their rights
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://www.openldap.org">OpenLDAP</a>
							</div>
							<div class="cell" data-title="Managed by Safespring">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Key Vault
							</div>
							<div class="cell" data-title="Function">
								Handles secrets in a central and secure way
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://www.vaultproject.io">Hashicorp Vault</a>
							</div>
							<div class="cell" data-title="Managed by Safespring">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Cosmos DB (Table API)
							</div>
							<div class="cell" data-title="Function">
								Key-value store
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://tikv.org">TiKV</a>
							</div>
							<div class="cell" data-title="Managed by Safespring">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Functions
							</div>
							<div class="cell" data-title="Function">
								Serverless runtime
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://www.openfaas.com">OpenFaaS</a> / <a href="https://openwhisk.apache.org">OpenWhisk</a>
							</div>
							<div class="cell" data-title="Managed by Safespring">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure Virtual Network
							</div>
							<div class="cell" data-title="Function">
								Private networking
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://www.projectcalico.org">Calico</a>
							</div>
							<div class="cell" data-title="Managed by Safespring">
								-
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Service in Azure">
								Azure DevOps Pipelines
							</div>
							<div class="cell" data-title="Function">
								CI/CD
							</div>
							<div class="cell" data-title="Open source alternativ">
								<a href="https://www.jenkins.io">Jenkins</a>, <a href="https://argoproj.github.io/argo-cd/">ArgoCD</a>, among others.
							</div>
							<div class="cell" data-title="Managed by Safespring">
								-
							</div>
						</div>

						</div>

					</div>
			</div>
