{{ $cpu := .Get "cpu" }}
{{ $ram := .Get "ram" }}
{{ $disk := .Get "disk" }}
  <div class="disk-container">
    <div class="disk">
    {{ $disk }}
	</div>
	</div>
<div class="flavour-container">  
  <div class="cpu-container">
    {{ with $cpu }}
    {{ range $index, $e := seq 1 $cpu }}
    <div class="cpu"></div>
    {{ end }}
    {{ end }}
  </div>
  <div class="ram-container">
    {{ with $ram }}
    {{ range $index, $e := seq 1 $ram }}
    <div class="ram"></div>
    {{ end }}
    {{ end }}
  </div>
</div>