{{ with .Get "link" }}
<a class="icon-block-link" href='{{ . }}'>{{ end }}
	<div class="icon-block-horisontal" style='background-color: {{ .Get "color" }}10;'>
		<div class="icon-block-color" style='color: {{ .Get "color" }};background-color: {{ .Get "color" }}10;'>
	<i class='{{ .Get "icon" }} icon'></i>
	</div>
	<p><span class="inline_rubrik" style='color: {{ .Get "color" }};'>{{ .Get "text" }} </span><br>{{ .Get "description" }}</p></div>{{ with .Get "link" }}</a>{{ end }}
<style>
	.icon-block-horisontal {
		display: flex;
		border-radius: 20px;
		overflow: hidden;
		align-items: stretch;
		margin-top: 10px;
		padding-right: 20px;
	}
		.icon-block-color {
			font-size: 35px;
			display: flex;
			margin: 0 25px 0 0;
			min-width: 150px;
	}
</style>