{{ $href := .Get "link" }}
{{ with .Get "linkref" }}{{ $href = relref $.Page . }}{{ end }}
{{ with $href }}
<a class="icon-block-link" href='{{ . }}'>{{ end }}
    <div class="icon-block" style='color: {{ .Get "color" }};'>
        {{ if .Get "image" }}
            <img src='{{ .Get "image" }}' alt='{{ .Get "alt" | default "Icon" }}' class="icon-svg" style="height: 70px;"/>
        {{ else }}
            <i class='{{ .Get "icon" }} icon'></i>
        {{ end }}
        <p>
            <span style='color: {{ .Get "color" }};'>{{ .Get "text" }}</span>{{ .Get "description" }}
        </p>
    </div>
{{ with $href }}
</a>{{ end }}
