{{ $href := partial "resolve-link.html" (dict "page" .Page "href" (.Get "link")) }}
{{ with .Get "linkref" }}{{ $href = relref $.Page . }}{{ end }}
{{ with $href }}
<a class="icon-block-link" href='{{ . }}'>{{ end }}
	<div class="icon-block-small" style='color: {{ .Get "color" }};border-color: {{ .Get "color" }}30;'>
	<div class="icon-block-small-icon" style='background-color: {{ .Get "color" }}10;'>{{ with .Get "icon" }}{{ partial "fa-icon.html" (dict "class" (printf "%s icon" .) "page" $.Page) }}{{ end }}</div>
	<p><span style='color: {{ .Get "color" }};'>{{ .Get "text" }}</span>{{ .Get "description" }}</p></div>{{ with $href }}
</a>{{ end }}
