<section class="tf-buttons-container-center">
  {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ $sections := .Site.Params.mainSections }}
  {{ $.Scratch.Set "authors" (slice ) }}
  {{ $.Scratch.Set "noAuthors" 0 }}
  {{ range where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ with .Params.author }}
  {{ if eq ( printf "%T" . ) "string" }}
  {{ if ( not ( in ($.Scratch.Get "authors") . ) ) }}
  {{ $.Scratch.Add "authors" . }}
  {{ end }}
  {{ else if eq ( printf "%T" . ) "[]string" }}
  {{ range . }}
  {{ if ( not ( in ($.Scratch.Get "authors") . ) ) }}
  {{ $.Scratch.Add "authors" . }}
  {{ end }}
  {{ end }}
  {{ end }}
  {{ else }}
  {{ $.Scratch.Add "noAuthors" 1 }}
  {{ end }}
  {{ end }}
  {{ $tags := $.Site.Taxonomies.tags.ByCount }}
  {{ $.Scratch.Set "untagged" 0 }}
  {{ range $pages }}
  {{ with .Params.tags }}{{ else }}{{ $.Scratch.Add "untagged" 1 }}{{ end }}
  {{ end }}
  <div class="tf-buttons-container">
    <button xx id="selectAllSections" onclick="htf.showAll('section')"> All </button>
    {{ range $sections }}
    <button xx class="sect-button" id="sect-{{ . | urlize }}" onclick="htf.checkFilter('{{ . | urlize }}', 'sect-')">
      {{ . | title }}
      <span class="filter-number">(</span>
      <span class="filter-number" id="ssect-{{ . | urlize }}">-count-</span>
      <span class="filter-number">/</span>
      <span class="filter-number" id="csect-{{ . | urlize }}"> -count-</span>
      <span class="filter-number">)</span>
    </button>
    {{ end }}
  </div>
  <div class="line">
    <button xx class="text" id="selectAllTags" onclick="htf.showAll('tags')"> All languages </button>
    {{ range $tags }}
    {{ if .Term }}
    <button xx class="tag-button text" id="tag-{{ .Term | replaceRE " [.]" "_" | urlize }}"
      onclick="htf.checkFilter('{{ .Term | replaceRE " [.]" "_" | urlize }}', 'tag-' )">
      <span>{{.Term | humanize | title }}</span>
      <span class="filter-number">(</span>
      <span class="filter-number" id="stags-{{ .Term | urlize }}"> -count-</span>
      <span class="filter-number">/</span>
      <span class="filter-number" id="ctags-{{ .Term | urlize }}">-count-</span>
      <span class="filter-number">)</span>
    </button>
    {{ end }}
    {{ end }}
  </div>
  {{ if gt ( $.Scratch.Get "untagged") 0 }}
  <button xx class="tag-button" id="tag-tfuntagged" onclick="htf.checkFilter('tfuntagged', 'tag-')"> Untagged <span
      id="stags-tfuntagged"> -count-</span> | <span id="ctags-tfuntagged"> -count-</span>
  </button>
  {{ end }}

  <div class="tf-items-container">
    {{ range $pages.ByPublishDate.Reverse }}
    <div class="content-container tf-filter-item tf-item"
      data-tags="{{ with .Params.tags }}{{ range . }}{{ . | replaceRE " [.]" "_" | urlize }} {{ end }}{{ else }}
      tfuntagged{{ end }}" data-section="{{ .Section }}" data-authors="{{ with .Params.author }}{{ if eq ( printf " %T"
      . ) "string" }}{{ . | replaceRE "[.]" "_" | urlize }}{{ else if eq ( printf "%T" . ) "[]string" }}{{ range . }}{{
      . | replaceRE "[.]" "_" | urlize }} {{end}}{{end}}{{else}}no-author{{end}}">
      {{ .Render "li-latest"}}
    </div>
    {{ end }}
  </div>
  </div>
  <script src="{{ " /filter/hugotagsfilter-1.2.2.js" | relURL}}"></script>
  <script>
    var htfConfig = {
      filters: [{
        name: 'tags',
        prefix: 'tag-',
        buttonClass: 'tag-button',
        allSelector: '#selectAllTags',
        attrName: 'data-tags',
        selectedPrefix: 'stags-',
        countPrefix: 'ctags-'
      }, {
        name: 'section',
        prefix: 'sect-',
        buttonClass: 'sect-button',
        allSelector: '#selectAllSections',
        attrName: 'data-section',
        selectedPrefix: 'ssect-',
        countPrefix: 'csect-'
      },],
      showItemClass: "show-item",
      filterItemClass: "tf-filter-item",
      activeButtonClass: "active",
      counterSelector: "selectedItemCount",
      populateCount: true,
      setDisabledButtonClass: "disable-button"
    }
    var htf = new HugoTagsFilter(htfConfig);
  </script>
  <script>
    function toggleAcc(el) {
      el.classList.toggle("active")
      var panel = el.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    }
  </script>
</section>