{{ $href := partial "resolve-link.html" (dict "page" .Page "href" (.Get "link")) }}
{{ with .Get "linkref" }}{{ $href = partial "resolve-link.html" (dict "page" $.Page "href" .) }}{{ end }}
{{ $target := default "_self" (.Get "target") }}
<br>
<a href='{{ $href }}' target='{{ $target }}'{{ if eq $target "_blank" }} rel='noopener noreferrer'{{ end }} class='button'>{{ with .Get "icon" }}{{ partial "fa-icon.html" (dict "class" (printf "fa-solid %s" .) "page" $.Page) }}&nbsp;&nbsp;&nbsp;{{ end }}{{ .Get "text" }}</a>
<br>
