<div class='photo-roll--container'>
  <div class='photo-roll'>
    <img class="moving-image" src='/img/logos/e_and_r/su.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ps.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/uu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/sunet.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nordunet.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/hs.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ou.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/upu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/sll.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nb.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/gu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kth.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kn.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/sensivo.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ku.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/mu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/lu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/stu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/rise.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kl.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nhr.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ki.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ehs.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/vr.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nm.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/unit.jpg'>
    <!-- Upprepa loggorna-->
    <img class="moving-image" src='/img/logos/e_and_r/su.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ps.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/uu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/sunet.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nordunet.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/hs.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ou.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/upu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/sll.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nb.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/gu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kth.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kn.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/sensivo.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ku.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/mu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/lu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/stu.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/rise.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/kl.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nhr.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ki.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/ehs.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/vr.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/nm.jpg'>
    <img class="moving-image" src='/img/logos/e_and_r/unit.jpg'>
  </div>
</div>

<script type="text/javascript">
  // Get the container element
var container = $(".photo-roll--container");

// Get the moving images
var movingImages = $(".photo-roll img");

// Variable for speed
var speed = 10;

//Variable for direction
var direction = -1;

// Listen for mouse move event on the container
container.on("mousemove", function(event) {
    // Get the x position of the mouse
    var mouseX = event.pageX;

    // Get the width of the container
    var containerWidth = container.width();

    // Calculate the speed based on the mouse position
    // The closer the mouse is to the right side of the container, the faster the speed
    speed = (mouseX / containerWidth) * 20 + 5;
    
    // Change the direction based on the mouse position
    direction = (mouseX / containerWidth) * 2 -1;

    // update the animation
    movingImages.css("animation", "move-left " + speed + "s linear infinite");
});
</script>
