
<div class="container-table100 mb-4">
	<div class="price-table">
		<div class="table">

			<div class="row header">
				<div class="cell">
					Flavor
				</div>
				<div class="cell">
					vCPU
				</div>
				<div class="cell">
					RAM (GB)
				</div>
				<div class="cell">
					Disk (GB)
				</div>
				<div class="cell">
					Per timma
				</div>
			</div>

			<div class="row">
				<div class="cell" data-title="Flavor">
					l2.c2r4.100
				</div>
				<div class="cell" data-title="vCPU">
					2
				</div>
				<div class="cell" data-title="RAM (GB)">
					4
				</div>
				<div class="cell" data-title="Disk (GB)">
					100
				</div>
				<div class="cell" data-title="Per timma">
					€0,2
				</div>
			</div>

			<div class="row">
				<div class="cell" data-title="Flavor">
					l2.c4r8.100
				</div>
				<div class="cell" data-title="vCPU">
					4
				</div>
				<div class="cell" data-title="RAM (GB)">
					8
				</div>
				<div class="cell" data-title="Disk (GB)">
					100
				</div>
				<div class="cell" data-title="Per timma">
					€0,36
				</div>
			</div>

			<div class="row">
				<div class="cell" data-title="Flavor">
					l2.c8r16.100
				</div>
				<div class="cell" data-title="vCPU">
					8
				</div>
				<div class="cell" data-title="RAM (GB)">
					16
				</div>
				<div class="cell" data-title="Disk (GB)">
					100
				</div>
				<div class="cell" data-title="Per timma">
					€0,68
				</div>
			</div>

			<div class="row">
				<div class="cell" data-title="Flavor">
					l2.c16r32.100
				</div>
				<div class="cell" data-title="vCPU">
					16
				</div>
				<div class="cell" data-title="RAM (GB)">
					32
				</div>
				<div class="cell" data-title="Disk (GB)">
					100
				</div>
				<div class="cell" data-title="Per timma">
					€1,31
				</div>
			</div>

			<div class="row">
				<div class="cell" data-title="Flavor">
					l2.c16r32.500
				</div>
				<div class="cell" data-title="vCPU">
					16
				</div>
				<div class="cell" data-title="RAM (GB)">
					32
				</div>
				<div class="cell" data-title="Disk (GB)">
					500
				</div>
				<div class="cell" data-title="Per timma">
					€1,48
				</div>
			</div>

			<div class="row">
				<div class="cell" data-title="Flavor">
					l2.c16r32.1000
				</div>
				<div class="cell" data-title="vCPU">
					16
				</div>
				<div class="cell" data-title="RAM (GB)">
					32
				</div>
				<div class="cell" data-title="Disk (GB)">
					1000
				</div>
				<div class="cell" data-title="Per timma">
					€1,69
				</div>
			</div>

		</div>

	</div>
</div>


<div class="container-table100 mb-4">
	<div class="price-table">
		<div class="table">

			<div class="row header">
				<div class="cell">
					Data Egress
				</div>
				<div class="cell">
					Per GB / månad
				</div>
			</div>

			<div class="row">
				<div class="cell" data-title="Lagring">
					Första 1024GB
				</div>
				<div class="cell" data-title="per GB / månad">
					Ingår
				</div>
			</div>

			<div class="row">
				<div class="cell" data-title="Lagring">
					Lagring över 1024GB
				</div>
				<div class="cell" data-title="per GB / månad">
					€0,094
				</div>
			</div>

		</div>

	</div>
</div>
