
		<div class="container-table100 mb-4">
			<div class="price-table">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Flavor
							</div>
							<div class="cell">
								Per timma
							</div>
							<div class="cell">
								Per månad
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Flavor">
								2vcpu, 8GB RAM
							</div>
							<div class="cell" data-title="Per timma">
								$0.30
							</div>
							<div class="cell" data-title="Per månad">
								$217.00
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Flavor">
								4vcpu, 16GB RAM
							</div>
							<div class="cell" data-title="Per timma">
								$0.52
							</div>
							<div class="cell" data-title="Per månad">
									$380.00
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Flavor">
								8vcpu, 32GB RAM
							</div>
							<div class="cell" data-title="Per timma">
								$0.97
							</div>
							<div class="cell" data-title="Per månad">
									$706.00
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Flavor">
								16vcpu, 64GB RAM
							</div>
							<div class="cell" data-title="Per timma">
								$1.84
							</div>
							<div class="cell" data-title="Per månad">
								$1,339.00
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Flavor">
								32vcpu, 128GB RAM
							</div>
							<div class="cell" data-title="Per timma">
								$3.65
							</div>
							<div class="cell" data-title="Per månad">
								$2,661.00
							</div>
						</div>

						</div>

					</div>
			</div>
