<div class="content-container">
    <div class="" style="background: var(--text-color);">
        <a href="/en/services/compute">
            <div class="body my-2 p-relative bg-white shadow-1 blue-hover" style="float:left">
                <div class="d-block w-full">
                    <img
                        style="border-radius: none;"
                        src="/img/blue/safespring_card_compute.jpg"
                        alt="With cloud-based infrastructure as a service, you can scale your infrastructure up or down as needed. Provided from secure data centers in Sweden."
                    />
                </div>
                <div class="px-2 py-2">
                    <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right: 5px;">
                        SERVICE
                    </div>
                    <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right: 5px;">
                        |
                    </div>
                    <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
                        Safespring Compute
                    </div>
                    <h1 class="ff-serif font-weight-light text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                        Our cloud-based infrastructure service
                    </h1>
                    <p class="mb-1">
                        With cloud-based infrastructure as a service, you can scale your infrastructure up or down as needed. Provided from secure data centers in Sweden&hellip;
                    </p>
                </div>
                <a href="/en/services/compute" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
                    Read more
                </a>
            </div>
        </a>
        <a href="/en/services/storage">
            <div class="body my-2 p-relative bg-white shadow-1 blue-hover">
                <div class="d-block w-full">
                    <img
                        style="border-radius: none;"
                        src="/img/blue/safespring_card_storage.jpg"
                        alt="With cloud-based infrastructure as a service, you can scale your infrastructure up or down as needed. Provided from secure data centers in Sweden."
                    />
                </div>
                <div class="px-2 py-2">
                    <div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right: 5px;">
                        SERVICE
                    </div>
                    <div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right: 5px;">
                        |
                    </div>
                    <div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
                        Safespring Storage
                    </div>
                    <h1 class="ff-serif font-weight-light text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                        Storage is based on Ceph storage technology
                    </h1>
                    <p class="mb-1">
                        Cloud-based storage is provided from secure data centers in Sweden and is based on the market-leading Ceph storage technology.
                    </p>
                </div>
                <a href="/en/services/storage" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
                    Read more
                </a>
            </div>
        </a>
    </div>
</div>
