<video style="border-radius: 15px;" id="myVideo" controls>
  Your browser does not support the video tag.
</video>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var video = document.getElementById('myVideo');
    var videoSrc = "{{ .Get 0 }}";
    var loaded = false;

    video.addEventListener('click', function() {
        if (!loaded) {
            loaded = true; // Sätt denna tidigt för att förhindra flera laddningar
            // Dynamiskt ladda hls.min.js
            var script = document.createElement('script');
            script.src = "/js/hls.min.js";
            document.head.appendChild(script);

            script.onload = function() {
                // När scriptet är laddat, använd Hls för att spela videon
                if (Hls.isSupported()) {
                    var hls = new Hls();
                    hls.loadSource(videoSrc);
                    hls.attachMedia(video);
                    hls.on(Hls.Events.MANIFEST_PARSED, function() {
                        video.play();
                    });
                    hls.on(Hls.Events.ERROR, function (event, data) {
                        console.error('Error event:', event, 'Data:', data);
                    });
                } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                    video.src = videoSrc;
                    video.play();
                }
            };
        }
    });
});

</script>