<div class="webinarvideo">
  <video class="webinar-videoplayer" id="myVideo" controls
    src="{{ .Get 0 | safeURL }}"
    poster="{{ .Get 1 | safeURL }}">
    Your browser does not support the video tag.
  </video>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var video = document.getElementById('myVideo');

    if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(video.getAttribute('src'));
        hls.attachMedia(video);
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = video.getAttribute('src');
    }
});
</script>
</div>