<div class="content-container">
	<a href="/no/tjenester/compute">
		<div class="body my-2 p-relative bg-white shadow-1 blue-hover">
			<div class="d-block w-full">
				<img
					style="border-radius: none;"
					src="/img/blue/safespring_card_compute.jpg"
					alt="With cloud-based infrastructure as a service, you can scale your infrastructure up or down as needed. Provided from secure data centers in Sweden."
					/>
			</div>
			<div class="px-2 py-2">
				<div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right: 5px;">
					TJENESTER
				</div>
				<div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right: 5px;">
					|
				</div>
				<div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
					Safespring Compute
				</div>
				<h1 class="ff-serif font-weight-light text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
					Vår skybaserte infrastruktur­tjeneste
				</h1>
				<p class="mb-1">
					Med skybasert infrastruktur som en tjeneste kan du skalere infrastrukturen opp eller ned etter behov. Levert fra sikre datasentre i Norge</p>
			</div>
	<a href="/en/services/compute" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
		Les mer
	</a>
	</div>
	</a>
</div>

<div class="content-container">
	<a href="/no/tjenester/storage">
		<div class="body my-2 p-relative bg-white shadow-1 blue-hover">
			<div class="d-block w-full">
				<img
					style="border-radius: none;"
					src="/img/blue/safespring_card_storage.jpg"
					alt="With cloud-based infrastructure as a service, you can scale your infrastructure up or down as needed. Provided from secure data centers in Sweden."
					/>
			</div>
			<div class="px-2 py-2">
				<div class="mb-0 small font-weight-medium text-uppercase text-muted lts-1px float-left" style="margin-right: 5px;">
					TJENESTER
				</div>
				<div class="mb-0 small font-weight-normal text-uppercase text-light-black lts-1px float-left" style="margin-right: 5px;">
					|
				</div>
				<div class="mb-1 extra-small font-weight-medium text-uppercase text-light-black">
					Safespring Storage
				</div>
				<h1 class="ff-serif font-weight-light text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
					Lagring er basert på Ceph-lagringsteknologi
				</h1>
				<p class="mb-1">
					Cloud-basert lagring leveres fra sikre datasentre i Sverige og er basert på den markedsledende Ceph-lagringsteknologien.
				</p>
			</div>
	<a href="/en/services/storage" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link ff-serif">
	Les mer
	</a>
	</div>
	</a>
</div>
