<style>
.text-tooltip {
  border-bottom: 1px dotted #323232;
}

.text-tooltiptext {
  visibility: hidden;
  max-width: 650px;
  background-color: #EBF1F5;
  color: #323232;
  text-align: left;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: -20px;
  padding: 20px;
  font-weight: 300;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.text-tooltip:hover {
  font-weight: bold;
  color: var(--link-color);
}

.text-tooltip:hover .text-tooltiptext {
  visibility: visible;
}
</style>

<span class="text-tooltip">{{ .Get 0 }}
  <span class="text-tooltiptext shadow-1">{{ .Inner }}</span>
</span>
