{{- $src := .Get "src" | default (.Get 0) | default "" -}}
{{- $poster := .Get "poster" | default "" -}}
{{- $containerClass := .Get "class" | default "index-video video-container" -}}
{{- $cursorTextPaused := .Get "play_text" | default "Play" -}}
{{- $cursorTextPlaying := .Get "pause_text" | default "Pause" -}}
{{- $initialSubtitleLang := .Get "default_cc_lang" | default "" -}}
{{- $pageSubtitleLang := .Get "page_cc_lang" | default "" -}}
{{- $ccDefaultOn := .Get "cc_on" | default "" -}}
{{- $tracks := slice -}}
{{- with .Get "subtitles" -}}
  {{- $tracks = transform.Unmarshal . -}}
{{- end -}}

{{ partial "components/video-player.html" (dict
  "page" .Page
  "src" $src
  "poster" $poster
  "tracks" $tracks
  "containerClass" $containerClass
  "cursorTextPaused" $cursorTextPaused
  "cursorTextPlaying" $cursorTextPlaying
  "initialSubtitleLang" $initialSubtitleLang
  "pageSubtitleLang" $pageSubtitleLang
  "ccDefaultOn" $ccDefaultOn
) }}
