    <a href="{{ .Permalink }}">
      <div class="body my-2 p-relative bg-white shadow-1 orange-hover-webinar">
        <div class="d-block w-full blogg-card-image-container">
          <img class="lazyload blogg-card-image" data-src="/img/event/cards/{{ .Params.card }}" alt="{{ .Title }}">
        </div>
        <div class="blogg-card-text-container">
          <div class="blogg-card-section-webinar mb-1 font-weight-medium text-uppercase lts-1px">
            {{ if .Params.section }}{{ .Params.section }}{{ else }}{{ .Section }}{{ end }}
          </div>
          <h1 class="blogg-card-title ff-serif font-weight-light text-black mt-0 mb-1" style="line-height: 1.1;">
            {{ .Title }}
          </h1>
          <p class="mb-1">
          </p>
        </div>
        <div class="webinar-card-link text-uppercase d-inline-block font-weight-medium lts-2px text-center ff-serif">
          {{ if (eq .Params.language "En") }}Watch now{{ else if (eq .Params.language "No") }}Se direkte{{ else }}Se direkt{{ end }}
        </div>
      </div>
    </a>
    