{{ partial "head.html" . }}
<!-- NAVBAR -->
<body>
 {{ partial "header.html" . }}
 <!-- HEADING -->
 <div class="heading-default-single" style="background: url('/img/background/safespring-blue-fade2.svg'); background-size: cover; background-position: center;">
   {{ .Render "li3" }}
 </div>
 <!-- CONTENT -->
<div class="main-default-single">
  <div class="content-default-single">
    {{ if .Params.videoURL }}
    <div class="webinarvideo">
      <video id="player" class="webinar-videoplayer" poster="{{ .Params.thumbnail }}" controls>
        {{ if eq (path.Ext .Params.videoURL) ".m3u8" }}
        <!-- Inget behov av <source> taggen för .m3u8, hanteras av hls.js -->
          {{ else }}
          <source src="{{ .Params.videoURL }}" type="video/mp4">
            {{ end }}

            {{ range .Params.subtitles }}
            <track kind="subtitles" src="{{ .src }}" srclang="{{ .srclang }}" label="{{ .label }}">
              {{ end }}

              Your browser does not support the video tag.
            </video>
          </div>
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var video = document.getElementById('player');
              var videoSrc = "{{ .Params.videoURL }}";
              var isFullScreen = false;

    // Funktion för att hantera fullskärmsändringar
              function handleFullScreenChange() {
                if (document.fullscreenElement) {
                  isFullScreen = true;
                  _paq.push(['trackEvent', 'Video', 'FullScreen', 'Enter', video.currentSrc]);
                } else {
                  isFullScreen = false;
                  _paq.push(['trackEvent', 'Video', 'FullScreen', 'Exit', video.currentSrc]);
                }
              }

    // Lägg till lyssnare för fullskärmsändringar
              document.addEventListener("fullscreenchange", handleFullScreenChange, false);

              if (Hls.isSupported()) {
                var hls = new Hls();
                hls.loadSource(videoSrc);
                hls.attachMedia(video);

                hls.on(Hls.Events.MANIFEST_PARSED, function() {
                  _paq.push(['trackEvent', 'Video', 'Loaded', videoSrc]);
                });

                video.addEventListener('play', function () {
                  _paq.push(['trackEvent', 'Video', 'Play', video.currentSrc]);
                });

                video.addEventListener('pause', function () {
                  _paq.push(['trackEvent', 'Video', 'Pause', video.currentSrc]);
                });

                video.addEventListener('ended', function () {
                  _paq.push(['trackEvent', 'Video', 'Ended', video.currentSrc]);
                });

                video.addEventListener('seeking', function () {
                  _paq.push(['trackEvent', 'Video', 'Seeking', video.currentSrc]);
                });

                video.addEventListener('volumechange', function () {
                  if(video.muted) {
                    _paq.push(['trackEvent', 'Video', 'Muted', video.currentSrc]);
                  } else {
                    _paq.push(['trackEvent', 'Video', 'VolumeChange', video.currentSrc]);
                  }
                });

                hls.on(Hls.Events.ERROR, function (event, data) {
                  if (data.fatal) {
                    switch(data.type) {
                    case Hls.ErrorTypes.NETWORK_ERROR:
                      _paq.push(['trackEvent', 'Video', 'Error', 'Network Error', video.currentSrc]);
                      break;
                    case Hls.ErrorTypes.MEDIA_ERROR:
                      _paq.push(['trackEvent', 'Video', 'Error', 'Media Error', video.currentSrc]);
                      break;
                    default:
                      _paq.push(['trackEvent', 'Video', 'Error', 'Other Error', video.currentSrc]);
                      break;
                    }
                  }
                });
              } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = videoSrc;

                video.addEventListener('play', function () {
                  _paq.push(['trackEvent', 'Video', 'Play', videoSrc]);
                });

                video.addEventListener('pause', function () {
                  _paq.push(['trackEvent', 'Video', 'Pause', videoSrc]);
                });

                video.addEventListener('ended', function () {
                  _paq.push(['trackEvent', 'Video', 'Ended', videoSrc]);
                });

                video.addEventListener('seeking', function () {
                  _paq.push(['trackEvent', 'Video', 'Seeking', videoSrc]);
                });

                video.addEventListener('volumechange', function () {
                  if(video.muted) {
                    _paq.push(['trackEvent', 'Video', 'Muted', videoSrc]);
                  } else {
                    _paq.push(['trackEvent', 'Video', 'VolumeChange', videoSrc]);
                  }
                });

        // Lägg till hantering för buffring, kvalitetsändringar etc. här för inbyggd HLS-stöd
              }
            });
function setCurrentTime(time) {
  var player = document.getElementById('player');
  player.currentTime = time;
  player.play();
}
</script>
{{ end }}
{{ .Content }}
{{ if and (isset .Params "episode") (.Params.episode) }}
{{ partial "demo-serie.html" . }}
{{ end }}
</div>
<div class="sidebar-default-single">
  {{ if .Params.chapters }}
  <div class="sidebar-container">
    <div class="sidebar-content">
      <h3>{{ if .Params.chaptersTitle }}{{ .Params.chaptersTitle }}{{ else }}Avsnitt{{ end }}</h3>
      <div class="webinarplaylist">
        <ul>
          {{ range $index, $element := .Params.chapters }}
          <a href="javascript:void(0);" onclick="setCurrentTime({{ $element.time }})">
            <li><span>{{ $element.title }}</span> <span class="timer">{{ $element.timeFormatted }}</span></li>
          </a>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  {{ end }}
  {{ if .Params.sidebar }}{{ partial "sidebar-default-single.html" . }}{{ end }}
</div>
</div>
<!-- SIDEBAR -->
</main>
<!-- FOOTER -->
{{ partial "footer.html" . }}