{{ partial "head.html" . }}
<!-- NAVBAR -->
<body>
 {{ partial "header.html" . }}
 <!-- HEADING -->
 <div class="heading-default-single">
   {{ .Render "li3" }}
 </div>
 <!-- CONTENT -->
<div class="main-default-single">
  <div class="content-default-single">
    {{ if .Params.videoURL }}
      {{ partial "components/video-player.html" (dict
        "page" .Page
        "src" .Params.videoURL
        "poster" .Params.thumbnail
        "tracks" (.Params.subtitles | default (slice))
        "containerClass" "webinarvideo index-video video-container-streamed demo-video-player"
        "videoClass" "webinar-videoplayer"
        "preload" "none"
        "chapters" (.Params.chapters | default (slice))
        "cursorTextPaused" "Play"
        "cursorTextPlaying" "Pause"
        "playerId" "player"
        "urlTime" true
      ) }}
      {{ end }}
      {{ .Content }}
      {{ if and (isset .Params "episode")
        (.Params.episode)
      }}
        {{ partial "demo-serie.html" . }}
      {{ end }}
    </div>
    <div class="sidebar-default-single">
      {{ if .Params.chapters }}
        <div class="sidebar-container">
          <div class="sidebar-content">
            <h3>
              {{ if .Params.chaptersTitle }}
                {{ .Params.chaptersTitle }}
              {{ else }}
                Avsnitt
              {{ end }}
            </h3>
            <div class="webinarplaylist">
              <ul>
                {{ range $index, $element := .Params.chapters }}
                  <li>
                    <button
                      type="button"
                      class="webinarplaylist-button"
                      onclick="setCurrentTime({{ $element.time }})"
                    >
                      <span>{{ $element.title }}</span>
                      <span class="timer">{{ $element.timeFormatted }}</span>
                    </button>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      {{ end }}
      {{ if .Params.sidebar }}
        {{ partial "sidebar-default-single.html"
          .
        }}
      {{ end }}
    </div>
  </div>
  <!-- SIDEBAR -->
  <!-- FOOTER -->
  {{ partial "footer.html" . }}
</body>
