{{ partial "head.html" . }}


<style>
  .heading-sub {
    background: #417DA5 url("/img/whitepapers/{{.Title}}.jpg");
    background-size: cover;
    background-attachment:bottom;
  }
</style><!-- Google Tag Manager -->
  <title></title>
</head>
<body>
  {{ partial "g-tag-manager.html" . }} <!-- NAVBAR -->
   {{ partial "header.html" . }} <!-- HEADING -->
  <div class="heading-sub">
    <div class="heading-content">
      <h1>{{ .Title }}</h1>

    </div>
  </div>

<!-- HEADING -->


<!-- CONTENT -->
<main class="content-chalmers">
  <!-- Main  -->
  <div class="ch-content">
    <div class="content-heading">
      <h2>{{ .Title }}</h2>
    </div>
    <div class="content-body">
     {{ .Content }}
    </div>
  </div>

  <!-- SIDEBAR -->
  <div class="kontakt-sidebar">

  <!-- FREDRIC WALLSTEN -->
    <div>
      <img src={{ "/img/kontakt/fredric-wallsten.png" | relURL }} alt="Marcus Boberg, Informations- och Marknadsansvarig" />
      <h2>Fredric WALLSTEN</h2>
      <p>VD, Försäljningschef Norge</br>
      <a href="mailto:fredric.wallsten@safespring.se">fredric.wallsten@safespring.se</a></br>
      <a href="tel:‭+46766292502">‭+46 76-629 25 02</a></p>
    </div>

 <!-- JOHAN EDEVÅG -->
    <div>
      <img src={{ "/img/kontakt/johan-edevag.png" | relURL }} alt="Marcus Boberg, Informations- och Marknadsansvarig" />
      <h2>Johan Edevåg</h2>
      <p>Försäljningschef Sverige</br>
      <a href="mailto:johan.edevag@safespring.se">johan.edevag@safespring.se</a></br>
      <a href="tel:+46705890255">+46 70-589 02 55‬</a></p>
    </div>

     <!-- MARCUS BOBEG -->
    <div>
      <img src={{ "/img/kontakt/marcus-boberg.png" | relURL }} alt="Marcus Boberg, Informations- och Marknadsansvarig" />
      <h2>Marcus Boberg</h2>
      <p>Informations- och Marknadsansvarig</br>
      <a href="mailto:marcus.boberg@safespring.se">marcus.boberg@safespring.se</a></br>
      <a href="tel:+46702864701‬">+46 70-286 47 01‬</a></p>
    </div>
<div><br>
<br></div>


    <a id="find-more" href="/marketing/whitepapers/{{.Title}}.pdf">KONTAKTA
      <br/>SÄLJAVDELNINGEN</a>

    <a id="find-more" href="/testa-safespring-compute">KONTAKTA
      <br/>INFO-AVDELNINGEN</a>

    <div class="read-more">
      <h2>Läs mer om:</h2>
            <li class="content-body">
        <a href="/safespring-backup">&gt; Backup som tjänst</a>
      </li>
      <li class="content-body">
        <a href="/safespring-storage">&gt; Lagring som tjänst</a>
      </li>
      <li class="content-body">
        <a href="/safespring-compute">&gt; Infrastruktur som tjänst</a>
      </li>
    </div>
  </div>
</main>

<!-- FOOTER -->
{{ partial "footer.html" . }}
