<div class="content-container-post" style="background: url(/img/blue/{{ if .Params.background }}{{ .Params.background}}{{ else }}safespring_bilder_9.jpg{{ end }}); background-size: cover; background-position:center;">
    <div class="content-meta-post">
      <a class="content-category-blogg" href="/{{ .Section }}">
        Kundreferenser
      </a>
    </div>
    <br>
    <a class="post-heading-post" href="{{ .Permalink }}">
      {{ .Title }}
    </a>
    <div class="content-summary-blogg">
      {{ if .Params.intro }}{{ .Params.intro }}{{ else if gt (len .Summary) 200 }}{{ slicestr .Summary 0 45 }}... {{ end }}
    </div>
    <div style="margin-top:20px;">
      <a href="{{ .Permalink }}" id="text-button">Läs mer</a>
    </div>
  </div>



<!--
<div class="content-item">
  <a class="content-category-blogg" href="/{{ .Section }}">{{ .Section }}</a></br>
  <a class="post-heading" href="{{ .Permalink }}">{{ .Title }}</a>
  <div class="content-body">{{ if gt (len .Summary) 200 }} {{ slicestr .Summary 0 200 }}... {{ end }}</div>
  <div class="content-meta">{{ .Date.Format "Jan 2, 2006" }}</div>
</div>
-->
