	{{ partial "head.html" . }}
	 {{ partial "header.html" . }} <!-- HEADING -->
		<div class="heading-sub" style="background: url(/img/blue/safespring_bilder_9.jpg); background-size: cover; background-position: center;">
	   <div class="heading-content">
	     <div class="content-meta-post"><a class="content-category-blogg" href="/om-safespring">Om Safespring</a></div><br>
	     <h1 class="post-heading-firstpage">Kundreferenser</h1>
	     <div class="content-summary-blogg">Safesprings tjänster når bland annat universitet, högskolor och forskningsmiljöer som är anslutna till de nationella forskningssätena i Skandinavien.</div><br><br>
	   </div>
	 </div>

  <!-- CONTENT -->
	<main class="content-chalmers">
		<!-- Main  -->
		<div class="ch-content">
			<div class="">
				{{ range .Data.Pages.GroupByDate "2006" }}
				<div class="content-container">
					{{ range .Pages }} {{ .Render "li"}} {{ end }}
				</div>
        {{ end }}
			</div>
		</div>

    <!-- SIDEBAR -->
	{{ partial "side-bar.html" . }}
	</main><!-- FOOTER -->
	{{ partial "footer.html" . }}
