{{ partial "head.html" . }}
    {{ partial "g-tag-manager.html" . }} <!-- NAVBAR -->
    {{ partial "header.html" . }}
    {{ partial "svg-filter.html" . }}
     <!-- HEADING -->
     <img class="heading-background safespring_blue" style="background: url({{ if.Params.background }}/referenser/images/background/{{ .Params.background }}{{ else }}/blogg/images/background/background.jpg{{ end }}); background-size: cover; background-position: center;">
     <div class="heading-sub">
       <div class="heading-content" style="margin-bottom: 0;">
         {{ .Render "li3" }}
       </div>
     </div>

  <!-- CONTENT -->
  <main class="content-chalmers">
    <div class="ch-content">
      <div class="content-body">
       {{ .Content }}
      </div>
    </div>
      {{ partial "side-bar.html" . }}
      <!-- SIDEBAR -->

    </main>
    <!-- FOOTER -->
    {{ partial "footer.html" . }}
